[2015-11-17 22:34] pohmelie opened #1 "libuv filesystem async calls"
AFAIK, libuv also support async filesystem calls. Can this be implemented in uvloop (or based on uvloop) with nice `await with` and some `pathlib` awaitable coroutines? If so, «not good» executors for filesystem calls can be dropped :clap:

[2015-11-17 22:36] 1st1 commented on #1
Yes, once I'm done with adding/testing the basic APIs, we'll experiment with files ;)

[2015-11-17 22:39] pohmelie commented on #1
Great!

[2015-11-17 22:43] GMLudo commented on #1
For my information, behind the scenes, it uses what on Linux? Threads?

[2015-11-17 22:45] 1st1 commented on #1
It uses threads on all platforms -- that's the only reliable way.

[2015-11-17 22:46] pohmelie commented on #1
@1st1 hm, if so, is there any profit of use libuv for file io?

[2015-11-17 22:52] 1st1 commented on #1
I've no idea. I think it will be a bit faster, since IO threadpool in libuv is implemented in C (compared to pure Python executors in asyncio).

[2015-11-17 23:02] pohmelie commented on #1
@1st1 sounds right. And I answer my question: this will be the only solution (with nice syntax of course), since AFAIK there is no async filesystem library in python except [aiofiles](https://github.com/Tinche/aiofiles) (but this have no path operations).
Thanks for great project! :+1:

[2016-01-26 21:15] sametmax opened #2 "Could not build uvloop: uvloop/loop.c no such file or directory"
Hi,

I tried to build the project to run the test on my machine (Ubuntu 14.04, 64b).

First I had to install automake and libtool (you may want to add this step on the readme), then running make I got:

        building 'uvloop.loop' extension
        creating build
        creating build/temp.linux-x86_64-3.5
        creating build/temp.linux-x86_64-3.5/uvloop
        x86_64-linux-gnu-gcc -pthrea

[2016-01-26 21:18] 1st1 commented on #2
The project isn't even in its "alpha" state right now ;)

To build you need cython, and to clone the repo with '--recursive'.  Then simply run "make"

[2016-01-26 21:48] sametmax commented on #2
I just wanted to test it here to report failing test, hoping it would help you since I like the project. If you think it's too early for that, I can do that when the project is more mature. I don't want to add noise.

After installing cython, I could run the test and good news:

    $ make test
    PYTHONASYNCIODEBUG=1 python3 -m unittest discover -s tests
    .....................................

[2016-01-26 21:52] 1st1 commented on #2
I'm working on the project right now.  Have a bunch of changes to push.  I think we'll have an alpha pretty soon.

[2016-03-17 19:49] sametmax commented on #2
Just pinging to get some news on the project. Again, if you need me to run tests on some machines, let me know.

[2016-03-17 19:52] 1st1 commented on #2
I'm a bit distracted by a few other projects, but I'm going to find some time to push uvloop to alpha soon. I need it for our core product in my firm, so be sure -- the project isn't dead ;)

[2016-04-01 18:14] 1st1 opened #3 "uvloop alpha release"
Some ToDo items we need completed before we make an alpha release:

- [x] Implement `loop.create_connection`
- [x] Add few more tests for `loop.create_server` to increase the coverage
- [x] Add a few high-level tests involving aiohttp or another real codebase
- [x] Implement `loop.create_unix_server`
- [x] Implement `loop.create_unix_connection`
- [x] Implement `loop.subprocess_shell` and `loop.su

[2016-04-01 19:38] 1st1 commented on #3
Added basic `loop.create_unix_server` in b1c130b80a986ffaa9ea49bce5c42d474b36753b

[2016-04-02 19:19] 1st1 commented on #3
Added tests for `loop.create_unix_server` in c93da26c35607518f286dbdf9023034288074fab

[2016-04-02 19:35] 1st1 opened #4 "uvloop beta release"
- [ ] Release alpha (see issue #3)
- [ ] Add support for UDP
- [ ] Support SSL in `loop.create_connection`, `loop.create_unix_connection`, `loop.create_server`, `loop.create_unix_server`

[2016-04-02 19:59] 1st1 commented on #3
Added support for `sock` parameter to `loop.create_unix_server` in 55228cb6adcf051d01f64d966b31dcbf61479397

[2016-04-04 09:30] GMLudo commented on #4
+10
I'll test that as soon as possible.
Ping @methane ;-)

[2016-04-05 00:31] 1st1 commented on #3
Added basic implementation of `loop.create_connection` in e6f1d45135b7dab0510410dd89761cbe8eecca46 and a6266752babe6b826fa4a5e368d50de0dd6063f9.

TODO: Add tests.

[2016-04-08 22:38] 1st1 commented on #3
Added basic implementation of `subprocess*` functions in 800cde0d9a062a7e1af3bcb6bb90b6f7f8f44432

[2016-04-10 22:27] 1st1 commented on #3
Implemented `loop.connect_read_pipe` and `loop.connect_write_pipe` in e293b283f8db181d9c9be580806b6560043a4067

[2016-04-10 22:29] 1st1 commented on #3
`loop.subprocess_shell` and `loop.subprocess_exec` are almost done (see 1f4e720c229ed5eaa13f2aade5c7a401ea7ab7ed, 704eb6fa08d63cd55fcf6fc3e028d361e0f028e4, 5bcb103a9adc9200b597f2c847fe850db5185990, and 28d166e19342ab151280fa7d73c7101f0ef28cd7)

[2016-04-11 17:40] 1st1 commented on #3
`loop.subprocess_shell` and `loop.subprocess_exec` are done now (see 91d17cdb394ee17ba1fcff8dba9cd3dee9171d98 and b8c410a646e5d9d0be8ac5be51d8b131c4f0ef6b)

[2016-04-11 22:08] 1st1 commented on #3
Solved bunch of small issues and implemented `create_unix_connection` in 203a181bcab56e211de27d724d2cfe4ac56331e1

[2016-04-11 23:45] 1st1 commented on #3
`loop.getnameinfo` has landed in 4b9471279321133e648abfb5bf40521fe22da687

[2016-04-12 01:54] 1st1 commented on #3
5457d1eda3af9831882a9d14663ab15e5ee76e35 implements `loop.add_signal_handler` and `loop.remove_signal_handler`

[2016-04-13 23:24] 1st1 commented on #4
I decided to implement SSL and UDP in alpha. Closing this one. See issue #3 for updates.

[2016-04-13 23:24] #4 closed

[2016-04-13 23:59] 1st1 commented on #3
SSL landed in 2ed225eff9fd7e41bc34c6fe1a99a8b48cb3ce44 and 494894701e9b3d140a875d46325bb680f07b8ad5

[2016-04-19 19:11] 1st1 commented on #3
UDP landed in deff28dc5ea1b9fe63809b9f65183b588c812696

[2016-04-19 20:56] 1st1 commented on #3
Almost there. Will release an alpha version officially in a day or two. /cc @sametmax @asvetlov

[2016-05-03 22:06] 1st1 commented on #3
Done! http://magic.io/blog/uvloop-make-python-networking-great-again/

[2016-05-03 22:06] #3 closed

[2016-05-03 22:06] 1st1 commented on #2
Closing this one.

[2016-05-03 22:06] #2 closed

[2016-05-04 00:08] sametmax commented on #3
All tests pass on my machine (Ubuntu 14.04, Python 3.5 64b):

[code]

It's really, really sweet.

I have a project using asyncio, and most unit tests are passing with uvloop too.

Currently the tests not passing are linked to the way we customize error handling. Errors like "AttributeError: '_Loop' object has no attribute '_exception_handler'".

On one hand, we kinda deserve it, since we are clear

[2016-05-04 00:12] 1st1 commented on #3
@sametmax I guess I can make `_exception_handler` available as a read-only property. Would that work for you?

[2016-05-04 00:19] sametmax commented on #3
It would help us with this issue, since to set the exception handler we use the public set_exception_handler(), but there is not such thing as get_exception_handler in asyncio's API.

But maybe that's the wrong road. Maybe I should open a ticket to get get_exeption_handler added to the API, the you go add this official API as well instead of copying something that is meant to be internal.

All in

[2016-05-04 00:21] 1st1 commented on #3
This is a very good idea. I suggest you to go ahead and open an issue on http://github.com/python/asyncio. Most of the "set_*" APIs have a corresponding "get_" method, so I see no problem in adding one more, provided that you have a use case.  You'll see it in Python 3.5.2.

[2016-05-04 01:40] xevrem opened #6 "possible signature mis-match with loop.create_server"
in my project [paws](http://github.com/xevrem/paws) I use an uncommon usage of `loop.create_server` by [passing a pre-created reusable non-blocking socket](https://github.com/xevrem/paws/blob/master/paws/paws.py#L76) that may be causing an issue down the line with uvloop as shown in [this screenshot](http://imgur.com/mbs8UAJ).

I'm not 100% certain of this, but is this just an unhanded path or an

[2016-05-04 01:51] 1st1 commented on #6
Already fixed in v0.4.10!

[2016-05-04 01:51] #6 closed

[2016-05-04 12:43] claws opened #7 "Mismatch between port arguments to the asyncio and uvloop loop.create_server method"
There appears to be a discrepancy in valid `port` arguments to the event loop's `create_server` method. With `asyncio` I can use `0` and `None` to obtain a server bound to an ephemeral port. With `uvloop` it appears that `None` is invalid and raises an error from the `_getaddrinfo` method.

[code]
I came across this because in my use case I create many servers on ephemeral ports that then register

[2016-05-04 15:48] 1st1 commented on #7
The PR is merged, closing this one. Thanks a lot for the contribution!

[2016-05-04 15:48] #7 closed

[2016-05-04 18:48] breerly opened #9 "Compat for Python 2.7"
Would love to look at adopting uvloop in a number of high-scale tornado apps we have in production. Those are running Python 2.7 - what's stopping this library from adding support?

[2016-05-04 18:57] 1st1 commented on #9
uvloop implements an asyncio-compliant event loop. It will have to be heavily reengineered to support both asyncio and Tornado (basically we'll have to re-implement a lot of Tornado in uvloop), and unfortunately, I don't have resources to do that.

[2016-05-04 19:37] ZetaHunter commented on #9
What's stopping you from porting your apps to 3.5+ instead?

[2016-05-04 20:03] breerly commented on #9
Tornado has a asyncio bridge though.

[2016-05-04 20:07] 1st1 commented on #9
Didn't know about that. I think that bridge is only operational under Python 3, though, since asyncio requires at least 3.3.

[2016-05-04 20:50] breerly commented on #9
That's right. I'm going to play with uvloop, tornado, & trollius (asyncio to 2.7 port).

Will followup.

[2016-05-04 22:57] scottruss opened #10 "Can't leave host=None in loop.create_server"
With release 0.4.11, if you leave host=None while setting the port with create_sever() you end up with:

  File "uvloop/loop.pyx", line 1028, in create_server (uvloop/loop.c:19317)
  File "uvloop/loop.pyx", line 511, in uvloop.loop.Loop._getaddrinfo (uvloop/loop.c:12089)
TypeError: host must be a str or bytes

This is different behavior from the base asyncio create_server that allows host=None whi

[2016-05-05 03:53] 1st1 commented on #10
Thanks for reporting this. I'm working on a fix.

[2016-05-05 12:13] npenzin opened #11 "Mac OS X installation"
Requires `brew install libtool` because of `autogen.sh: line 43: glibtoolize: command not found`

[2016-05-05 13:55] 1st1 commented on #11
You're trying to build uvloop manually, right?

[2016-05-05 16:00] digitaldavenyc commented on #11
Also having an issue install on OSX

When running `$ make` I receive this error.
[code]

I tried installing `libtool` as well but the error still persists. If there are libraries required for OSX install, I think a README update would be helpful.

[2016-05-05 16:04] dabeaz commented on #11
sudo ln -s /usr/local/bin/libtoolize /usr/local/bin/glibtoolize

[2016-05-05 16:18] digitaldavenyc commented on #11
@dabeaz `glibtoolize` already exists, probably from installing `libtool`

[2016-05-05 16:23] dabeaz commented on #11
That, I don't know.  I didn't get glibtoolize from installing libtool.  Adding the symlink fixed it.  uvloop seems to work on OSX.

[2016-05-05 16:24] digitaldavenyc commented on #11
Perhaps I already had it install from another application. Doesn't fix the issue for me either way...

[2016-05-05 16:24] 1st1 commented on #11
@digitaldavenyc Are you trying to build uvloop manually, or it's a fail of `pip install`?

I think I can repackage the sdist to include a generated Makefile.

[2016-05-05 16:25] digitaldavenyc commented on #11
@1st1 I've tried both pip and manually and they both return the same error above

[2016-05-05 16:29] digitaldavenyc commented on #11
[code]

[2016-05-05 16:30] digitaldavenyc commented on #11
[code]

[2016-05-05 16:31] digitaldavenyc commented on #11
@1st1 Full output of both methods included if this helps at all

[2016-05-05 16:32] dabeaz commented on #11
It's complaining about automake not being installed.   I had to install recent versions of autoconf, automake, and libtool to get uvloop to build. After that, 'pip' installing it worked.

[2016-05-05 16:35] 1st1 commented on #11
I think I'll simply run autotools on my machine before sdisting.

[2016-05-05 16:43] 1st1 commented on #10
Should be fixed in 448eea338ae4b07dbf0afc5dd00593164531e482, will soon release a new version.

[2016-05-05 17:16] 1st1 commented on #10
Please try uvloop 0.4.12.

[2016-05-05 17:17] 1st1 commented on #11
@digitaldavenyc Please try uvloop 0.4.12

[2016-05-05 19:15] digitaldavenyc commented on #11
@dabeaz That did it!

[2016-05-05 19:17] digitaldavenyc commented on #11
@1st1 Should the updated uvloop 0.4.12 include the packages?

[2016-05-05 19:36] 1st1 commented on #11
@digitaldavenyc The updated uvloop doesn't need autotools at all, if you're installing it with pip. Alright, closing the issue.

[2016-05-05 19:36] #11 closed

[2016-05-05 19:38] digitaldavenyc commented on #11
Ok thanks. I'm going to try this on a different OSX machine tonight to confirm.

[2016-05-05 19:56] 1st1 commented on #11
Please re-open the issue if it fails.

[2016-05-05 19:57] digitaldavenyc commented on #11
I think you'll have to ... the public is not able to reopen issues on this repo.

[2016-05-05 21:48] GMLudo commented on #9
to my knowledge, trollius is deprecated.

I don't know your codebase, however, it should less "dangerous" / more stable way to migrate first your source code to python 3 with tornado.

[2016-05-05 22:37] breerly commented on #9
Fair point, thanks

[2016-05-05 22:37] #9 closed

[2016-05-05 23:12] 1st1 commented on #10
Closing this issue. Update it if the issue still isn't fixed in 0.4.13.

[2016-05-05 23:12] #10 closed

[2016-05-06 01:39] claws opened #12 "minor mismatch in add_signal_handler"
I picked this up in my unit tests which are admittedly testing some edge cases. When trying to use the loop to register a signal handler for SIGKILL (which itself is invalid) `asyncio` and `uvloop` behave differently.

A simple test that demonstrates the difference is this:
[code]

Running the script as is produces the `asyncio` output:
[code]

By uncommenting the uvloop part and running the scrip

[2016-05-06 01:58] 1st1 commented on #12
Thanks for reporting this, this should be easily fixable.

BTW, I don't think you need this line:

[code]

[2016-05-06 02:14] 1st1 commented on #12
Fixed in d350f916fbf828bad39a58b25c5bea5384fc96e2!

[2016-05-06 03:20] laike9m opened #13 "Any plan combining uvloop with aiohttp?"
Or is it possible now?

[2016-05-06 03:22] 1st1 commented on #13
Yes, just put these lines

[code]

in the very beginning of your program and it will run on uvloop. aiohttp will run too.

[2016-05-06 03:22] #13 closed

[2016-05-06 03:22] claws commented on #12
Thanks.

Yeah, that line comes from my framework code. I forgot to take it out of the short example. I use it to ensure that the correct policy (the one I set in the framework imports) is invoked without needing to explicitly call `set_event_loop_policy`. Its purely a convenience action that reduces some boilerplate code in our environment. Many of our unit tests begin with a `asyncio.set_event_lo

[2016-05-06 03:23] 1st1 commented on #12
Got it! :)

[2016-05-06 03:23] #12 closed

[2016-05-06 03:31] 1st1 commented on #12
Is your framework open source, btw?

[2016-05-06 03:45] sunwangme opened #14 "windows support?"
wonderful project！when to suppert windows?

[2016-05-06 04:05] 1st1 commented on #14
When we find a volunteer to implement it ;)

[2016-05-06 06:53] claws commented on #12
Unfortunately not. It is developed for a client. Perhaps one day.

[2016-05-06 16:04] saghul commented on #1
FWIW, the current builtin threadpool just has 4 threads.

[2016-05-06 18:01] 1st1 commented on #1
@saghul Is that usually enough (I assume `getaddrinfo` uses the same threadpool)? Would be great to have an API call to change the size, instead of the `UV_THREADPOOL_SIZE` env var...

[2016-05-06 18:44] saghul commented on #1
So far it has been... unless you use it for long running blocking operations like talking to serial devices. We have plans to improve it, but no real ETA.

[2016-05-06 19:00] digitaldavenyc opened #15 "taking uvloop into production?"
This is not an issue but perhaps a request to maybe expand on documentation on how to use uvloop with other frameworks. The performance on it is very impressive, however, it's so low level, taking this into a production application would be quite a challenge.

What would be the best practice approach to doing this? Combine with tornado or any other async libary? Leverage other smaller libraries to

[2016-05-06 19:24] 1st1 commented on #15
uvloop only works with [asyncio](https://docs.python.org/3/library/asyncio.html#module-asyncio). It cannot work with Tornado, gevent, curio, or any other async Python library other than asyncio.

asyncio is an async library that implements many low-level and high-level abstractions. It has Protocols and Transports, helpers to create network servers and clients, etc. I highly recommend you to glanc

[2016-05-06 20:07] digitaldavenyc commented on #15
Do you mean I should review uvloop's documention or asyncio's?

In your [blog post](http://magic.io/blog/uvloop-blazing-fast-python-networking/) you mentioned that the performance in [aiohttp](http://aiohttp.readthedocs.io/en/stable/) was pretty bad with uvloop due to the HTTP parser. Wouldn't [httptools](https://github.com/MagicStack/httptools) be the prefered library for handing HTTP requests?

[2016-05-06 20:12] 1st1 commented on #15
asyncio documentation to get a better idea of what it's capable of.

Right. The httptools package at this moment doesn't provide an implementation of HTTP, it only has a high-performance parser.  So right now, aiohttp is the only option, but I hope its newly discovered performance issues will be fixed soon (by incorporating httptools or somehow else).

[2016-05-06 20:35] digitaldavenyc commented on #15
There was already an issue open over at [aiohttp](http://aiohttp.readthedocs.io/en/stable/) for swapping out the http parser for [httptools](https://github.com/MagicStack/httptools). If this could be done in the near future both libraries could be thrown into the spotlight. Being able to stay on the same performance level with Go is huge. Thank you so much for contributing this library to the comm

[2016-05-06 20:50] 1st1 commented on #15
Thanks!
Closing this issue.

[2016-05-06 20:50] #15 closed

[2016-05-06 22:31] GMLudo commented on #1
@saghul: a filesystem stored on a slow SAN because it's overloaded, could also be considered as a long running blocking operation like serial, or not?

[2016-05-07 21:32] saghul commented on #1
Yep.

[2016-05-07 22:52] 1st1 commented on #1
@GMLudo That's not a problem atm, since uvloop doesn't have any methods to work with files.

[2016-05-09 08:45] ChillarAnand opened #20 "Unable to install uvloop"
pip install uvloop throws this error

[code]

[2016-05-09 16:20] 1st1 commented on #20
Looks like libuv has failed to build. Were there any other output on the screen?

[2016-05-09 16:22] 1st1 commented on #20
Also, please try `pip install -vvv uvloop`

[2016-05-10 02:58] cwt opened #23 "Using uvloop on Mac create a lot of CLOSE_WAIT"
I'm trying to use uvloop in my proxy project. The diff is below (or see it online [here](https://bitbucket.org/bashell-com/wormhole/branch/uvloop#diff)):
[code]
It work pretty fast for a while, then everything just stop. I stop process by control-c. `ps` show no process running. However, `netstat -an` show a lot of `CLOSE_WAIT` connections, and then I have to reboot my Mac to clear them.

Do I did

[2016-05-10 03:05] 1st1 commented on #23
Let me take a look. What should I do to reproduce this on my machine?

[2016-05-10 03:10] cwt commented on #23
you can install it using this command:
`pip install https://bitbucket.org/bashell-com/wormhole/get/uvloop.tar.gz`

and then just run `wormhole`, it will open port 8800, then set your browser/system http_proxy to 127.0.0.1:8800 and try to load http (not https) site with a lot of pictures for a while (control-R or command-R works too).

[2016-05-10 03:12] 1st1 commented on #23
Right, that's what I'm doing... Can you send me the exact website on which everything stops working at some point? So far I've tried refreshing arstechnica & theverge (which have a ton of images/resources) for a while, everything works...

[2016-05-10 03:13] 1st1 commented on #23
I'm using Firefox for the test.

[2016-05-10 03:14] cwt commented on #23
me too, I test on this site http://www.obec.go.th but the site is located in Thailand, may slow on your side.

[2016-05-10 03:25] 1st1 commented on #23
Hm, can't reproduce this. How many times do you refresh the frontpage of http://www.obec.go.th before it stops working?  Also, what version of uvloop are you using?

[2016-05-10 03:28] cwt commented on #23
I use the latest one. just install it 1 hour ago.
I can't remember how many times I refresh the page. will try again, but now I already got this while the proxy is still running.

[screen shot](http://picpaste.com/Screen_Shot_2559-05-10_at_10.20.31-uYOxc0Tn.png)

[2016-05-10 03:30] 1st1 commented on #23
When this happens, can you close the browser, wait a few minutes, and then open it again? Sometimes TCP connections are closing very slowly, and in this case, system may run out of available sockets.

[2016-05-10 03:52] 1st1 commented on #23
Alright, I think I've reproduced the problem, however, I can see it for asyncio without uvloop too.

What's the output of `ulimit -n` on your machine?

Could you please do the following:

1. type `$ ulimit -n 128`
2. type `$ ulimit -n` -- should output `128`
3. then launch the `wormhole`
4. open three tabs in Firefox (I did arstechnica.com, news.ycombinator.com, theverge.com), load the pages and t

[2016-05-10 04:09] cwt commented on #23
Yes, I think that's the problem. My `ulimit -n` said 256, but the `MAX_TASKS` on my `server.py` is set to 1000. That should overload the system.

I think the problem is on my side now. Thank you for your help. I will close the issue.

[2016-05-10 04:09] #23 closed

[2016-05-10 08:47] justinfay commented on #20
I have also experienced this error when trying to install from pypi with pip. I think this message may be pertinent to the install failure:

[code]

As a workaround I cloned the repo from github, install cython and followed the instructions in the README and uvloop successfully installed.

[2016-05-10 15:00] ChillarAnand commented on #20
Full log

[code]

@1st1 I tried as you mentioned, it is still throwing this error

[code]

[2016-05-10 15:33] elprans commented on #20
@ChillarAnand: These build failures are likely because the timestamps on aclocal.m4 and configure get messed up somehow during unpacking.  To test this, can you please download the tarball from PyPI: https://pypi.python.org/pypi/uvloop/, unpack it, run the following:

[code]

And then attach the output. Thanks.

[2016-05-10 15:51] 1st1 commented on #23
@cwt Sure, please reopen the issue if you find that uvloop behaves differently from asyncio.

BTW, have you seen any speed improvements with uvloop?

[2016-05-10 16:22] ChillarAnand commented on #20
@elprans  Above command ran successfully.

When i ran `python setup.py install`, it throwed this error

[code]

[2016-05-10 16:48] elprans commented on #20
@ChillarAnand Which platform are you running this on?

Also, please do attach the output of the "make -d" command, even though it succeeds. Please remove the uvloop dir, unpack again and re-run the command.

[code]

Please attach "make.log" here.

Thanks.

[2016-05-11 01:26] cwt commented on #23
speed is really amazing! that also accelerate my problem on resource usage to happened faster than asyncio. with uvloop, hundreds of concurrent connections were created fast until number of sockets exceed the limit. now I already fix it by set semaphore limit to the 90% of max open files.

[2016-05-11 01:34] 1st1 commented on #23
Great to hear that!

[2016-05-11 04:28] ChillarAnand commented on #20
@elprans

 OS details

[code]

Attached [make.log here](https://gist.github.com/ChillarAnand/ef740a537f1952af3c6bec78b8524eac).

[2016-05-11 18:30] 1st1 commented on #20
Strange. What's the version of pip?

[2016-05-12 04:10] ChillarAnand commented on #20
[code]

[2016-05-13 09:53] f0t0n commented on #20
https://github.com/MagicStack/uvloop/issues/20#issuecomment-218211914
Got the same exit code and traceback while installing in container with pip.
OS: Alpine Linux Edge, pip version:  8.0.3.

[2016-05-13 11:10] jettify commented on #20
@f0t0n I had succes with python:3.5.1-slim docker image. You can take a look here: https://github.com/aio-libs/aioodbc/blob/master/ci%2FDockerfile

But on travis ci can not build uvloop:
https://travis-ci.org/aio-libs/aioodbc/jobs/128160252

[2016-05-13 13:49] f0t0n commented on #20
So basically [new_MethodHandle2()](https://github.com/MagicStack/uvloop/blob/v0.4.19/uvloop/cbhandles.pyx#L244) is never used in the source code and this is why gcc fails to compile with default flag `-Wall`.
Cython guys talked about `CYTHON_UNUSED` macro which should suppress the warning, but I don't get how to use it in Cython source code. Maybe you guys know.

[2016-05-13 13:50] 1st1 commented on #20
@f0t0n Yeah, I'll comment out the `new_MethodHandle2` func in the next release. In the meanwhile we're trying to figure out the build problems here, stay tuned.

[2016-05-13 13:53] f0t0n commented on #20
@1st1 There's gcc flag `-Wno-unused-function` that will suppress this as well. Though I'm not sure if it's available in all versions of gcc.

[2016-05-13 15:13] elprans commented on #20
So we were able to track down the aclocal issue. On Ubuntu 14.04 and Pip 7.1, the timestamps on extracted files are not preserved properly, which triggers a rebuild.

[2016-05-13 15:37] 1st1 commented on #20
@ChillarAnand @justinfay @f0t0n @jettify Please try `v0.4.21`. I think @elprans and I figured this out.

[2016-05-13 15:44] justinfay commented on #20
@1st1 I can confirm that I successfully installed `0.4.21` using pip, below is some info from my system:

DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=14.04
DISTRIB_CODENAME=trusty
DISTRIB_DESCRIPTION="Ubuntu 14.04.4 LTS"
(env)➜  uvl  pip --version
pip 1.5.4 from /home/justin/github/uvl/env/lib/python3.5/site-packages (python 3.5)
(env)➜  uvl  pip freeze
uvloop==0.4.21

[2016-05-14 15:12] ChillarAnand commented on #20
Able to install correctly. Thanks @1st1 @elprans

[2016-05-14 15:12] #20 closed

[2016-05-15 17:18] brickgao commented on #14
@1st1 Hi, I'm interested in implementing this proposal, is anyone already working on it ;)?

[2016-05-15 18:33] 1st1 commented on #14
@brickgao As far as I know no one is.

[2016-05-15 22:06] Tinche opened #24 "Provide wheels"
Consider providing wheels for all the major platforms. They install much more quickly and do no require your users to have a C toolchain and development libs installed.

[2016-05-15 23:36] Tinche opened #25 "Asyncio incompatibility: address already in use"
Hello,

I thought I'd give the aiofiles tests a go on uvloop and had a few failing. Here's a minimal program that works under the default asyncio, and doesn't with uvloop:

[code]

[code]

64-bit Ubuntu 16.04, Python 3.5. Using `reuse_port=True` will solve it, not sure if that's the difference.

[2016-05-15 23:47] 1st1 commented on #25
I don't think that anything is wrong here, it seems that you have something listening on port 50000.

I've tried running this program and it started just fine. I also cloned aiofiles and modified `aiofiles/__init__.py` to install uvloop policy, all tests run fine (except `test_sendfile_file` which fails in the same way for asyncio and uvloop loops).

[2016-05-15 23:51] 1st1 commented on #24
Good idea!

[2016-05-15 23:54] Tinche commented on #25
Hm, weird. I definitely do not have anything running on 50000, and I tried other ports. 100% reproducible. Uvloop 0.4.23.

[2016-05-15 23:57] 1st1 commented on #25
Can you try different port, say 60000?

[2016-05-15 23:59] Tinche commented on #25
[code]

[2016-05-16 00:00] 1st1 commented on #25
Interesting. And it doesn't fail if you comment out the uvloop-policy line?

What's your OS, Python version, how do you run the test program?

[2016-05-16 00:02] 1st1 commented on #25
Alright, I've reproduced this on my Linux box.

[2016-05-16 00:04] Tinche commented on #25
Correct, it works if I comment out the policy switch.

Ubuntu 16.04, kernel 4.4.0-22-generic, Python 3.5.1+ virtualenv. pip list:
[code]
While virtualenv is active, just `python t.py`.

[2016-05-16 00:47] 1st1 commented on #25
Should be fixed in uvloop `v0.4.24` (see 76bb934d802f33aced864514c7ff9904df3d4d20 for details)!

[2016-05-16 02:04] 1st1 commented on #24
I updated my release script to upload wheel for Mac OS X. There are no wheel packages for Linux, unfortunately, and Windows isn't yet supported.

[2016-05-16 08:11] Tinche commented on #24
There are wheels for Linux. :)

https://github.com/pypa/manylinux

[2016-05-16 10:37] f0t0n commented on #20
Just installed 0.4.24 successfully. Thanks guys!

[2016-05-16 11:59] methane commented on #24
I'm trying.  But travis's Linux machine (not container based) doesn't start for a long time...
https://travis-ci.org/methane/uvloop/builds/130526994
https://github.com/methane/uvloop/commit/1dac4c7e051b99f39fe0dfc02cacf8c159e84dbc

[2016-05-16 13:53] 1st1 commented on #24
Wow, I couldn't google that, thanks!

@saghul Do you think it's a good idea to provide Linux wheels compiled on CentOS 5? That's a pretty old Linux kernel, won't libuv be slower or less stable?

[2016-05-16 14:01] f0t0n opened #26 "Looks like loop is blocking with aiohttp.worker.GunicornWebWorker"
When I deploy an aiohttp app with [aiohttp.worker.GunicornWebWorker](http://aiohttp.readthedocs.io/en/stable/gunicorn.html) it looks like the loop is blocked and app never serves requests.

When I run without the worker (with `web.run_app(app)`), it works well.
I think the problem could be caused [by the `GunicornWebWorker` itself](https://github.com/KeepSafe/aiohttp/blob/a1f39a99e6add5d2970f41ff6

[2016-05-16 14:03] saghul commented on #24
On linux we do most of the syscalls manually, so as long as you have a recent kernel we'll use the new stuff.

[2016-05-16 14:03] 1st1 commented on #26
Maybe it's a bug in uvloop -- looks like Gunicorn is forking a running event loop, and then closing it (which is a very bad way of doing that). I'll take a look.

[2016-05-16 14:11] f0t0n commented on #26
So the example basic app could look like:

[code]

It works only **without** `GunicornWorker`.

[2016-05-16 17:30] Tinche commented on #25
Confirm, my test suite passes now :)

[2016-05-16 17:30] #25 closed

[2016-05-16 18:20] 1st1 commented on #26
So I copied-pasted your example app code in a `test.py` file. I then tried the following command:

`gunicorn test7:app --worker-class aiohttp.worker.GunicornWebWorker --bind localhost:8080`

and it worked (on Mac OS & Linux).

Then I tried to launch it with a few workers:

`gunicorn test7:app --worker-class aiohttp.worker.GunicornWebWorker --workers 5 --bind localhost:8080`

This time, it failed w

[2016-05-17 01:02] f0t0n commented on #26
@1st1 did you run my example with gunicorn with commenting/removing
the last line `web.run_app(app, port=8888)`?

This example is to run **without Gunicorn**, and it works well:

[code]

Another one (**without the last line**) to **run by Gunicorn** is not working:

[code]

When I start with gunicorn it just **hangs** like listed below, and doesn't serve requests.

[code]

**Python:**

[code]

**O

[2016-05-17 01:06] 1st1 commented on #26
Alright, I got it now -- will debug.

[2016-05-17 02:04] 1st1 commented on #26
@f0t0n I think I've figured it out. It seems that it's too late to set up the uvloop policy in your app -- you have to do that at the gunicorn worker level. I've created a PR for the aiohttp project.

[2016-05-17 16:56] brickgao commented on #14
@1st1 I have a little trouble porting `posix.signal` to Windows in https://github.com/MagicStack/uvloop/blob/master/uvloop/os_signal.pyx#L1 . I could not find a good way to implement it because of the difference in signal between Windows and *nix. Could you please give me some advice?

[2016-05-17 16:59] 1st1 commented on #14
I don't think Windows support signals, so you should probably add checks like `if not __WINDOWS__` around code that touches `loop.py_signals` and `loop.uv_signals`.

[2016-05-20 01:17] AndreLouisCaron opened #28 "UNIX socket is automatically unlinked"
When using the built-in event loop, you need to do something like this:

[code]

However, when I use uvloop, the `os.unlink()` call raises a `FileNotFoundError` exception.

I was wondering if you already know about this and if it is intentional?

I don't mind adding a try/except clause to silence the exception, but if you're aiming for this event loop to be a drop-in replacement for the built-in e

[2016-05-20 02:43] 1st1 commented on #28
Hm, libuv unlinks the path unconditionally, I can't do anything about it.

@saghul, sorry for bothering you, do you think it's possible to add a flag in libuv to tell it not to unlink the path in `uv__pipe_close`?

[2016-05-20 02:46] 1st1 commented on #28
Alternatively we can re-create the `path` once the unix socket is closed, but it feels too hacky to me.

[2016-05-20 06:16] ze-phyr-us opened #29 "Loop time does not pass when loop is blocked"
* **uvloop version**: 0.4.25
* **python version**: 3.5
* **platform**: Mac OS X, Linux

Some of my timing- and debouncing-related tests are failing when I replace asyncio loop with uvloop. I tracked it down to `loop.time` not increasing when the loop isn't running (e.g. when I'm blocking with `time.sleep`).

First, an example of `call_later` malfunctioning:

[code]

There should be a 1-second diff

[2016-05-20 06:44] saghul commented on #28
No worries Yuri. I don't think we'd do that. See the comment before the unlink, it prevents a race.

Alternatively, you can create a UNIX socket with the Python socket module and use uv_pipe_open, that way the path won't be unlinked because libuv doesn't store it.

[2016-05-20 10:37] 1st1 commented on #29
This happens because libuv caches the "now" time and only makes one syscall per loop iteration to refresh it.  There is a special function to invalidate the cache -- [`uv_update_time`](http://docs.libuv.org/en/v1.x/loop.html#c.uv_update_time) -- which I think I'll use in `loop.time` now, to be compliant with asyncio.

[2016-05-20 15:11] 1st1 commented on #29
Should be fixed in the `master` branch. I'll issue a new release shortly.

[2016-05-20 16:21] 1st1 commented on #28
@saghul Good idea, I followed your advice :)

@AndreLouisCaron Thanks for reporting this! Should be fixed in the `master` branch; I'll also issue a new uvloop release shortly.

[2016-05-21 02:52] AndreLouisCaron commented on #28
Thanks!

[2016-05-21 21:19] 1st1 commented on #29
I've just released uvloop v0.4.26. Please check it out.

[2016-05-21 21:20] 1st1 commented on #28
I've just released uvloop v0.4.26. Please check it out.

[2016-05-22 03:11] AndreLouisCaron commented on #28
Just tried 0.4.26 and it now works as expected!  Thanks!

[2016-05-22 14:16] 1st1 commented on #28
Thanks! Closing the issue.

[2016-05-22 14:16] #28 closed

[2016-05-23 01:36] ze-phyr-us commented on #29
@1st1 Thanks for the quick response. loop.time seems to be working correctly now, but my first test program is still behaving the same. `call_later` fires the callback immediately. Steps to reproduce:

[code]

[2016-05-23 02:43] 1st1 commented on #29
Please try `v0.4.27`.  I think I've finally fixed this.

[2016-05-23 10:04] ze-phyr-us commented on #29
It works! Thank you very much.

[2016-05-23 10:04] #29 closed

[2016-05-31 00:49] 1st1 opened #31 "Support preexec_fn argument in loop.subprocess_exec"
Add support for `preexec_fn` in `loop.subprocess_exec` -- a callback that gets called in the forked process right before `exec`.

[2016-05-31 00:59] 1st1 commented on #31
@saghul this is the last thing in uvloop that isn't currently supported, and the only thing that has to be implemented in libuv. And this is something that people actually use, for instance Facebook guys use it to call `prctl(PR_SET_PDEATHSIG, SIGKILL)` in the child processes.

Essentially, I'm thinking if it's possible to add another field to `uv_process_options_t`: a pointer to a `(void)after_fo

[2016-05-31 09:25] saghul commented on #31
@1st1 that would break the ABI so it would have to wait for v2 if it gets accepted. Feel free to open an issue to kickstart the discussion!

[2016-05-31 21:04] 1st1 commented on #31
After giving it more thought, I think I can use `pthread_atfork`... Should be easier than pushing new stuff to libuv.

[2016-06-08 18:00] 1st1 commented on #14
@brickgao Do you think we should find more people to look into this problem?

[2016-06-09 03:54] brickgao commented on #14
@1st1 Sure, I find that there isn't a quick way to port uvloop with the native Windows API. I would try to port uvloop with Cygwin these days first, cuz I find Cygwin provide most of the *NIX API on Windows.

[2016-06-09 18:32] 1st1 commented on #31
Implemented in b5b3b12dbba915f635b583c8b51c1f41ed219d9c

[2016-06-09 18:32] #31 closed

[2016-06-11 16:51] brickgao commented on #14
@1st1 I find that Cygwin haven't provided Python3.5 officially :(, so we should work on it with the native Windows API again. Maybe we should find more people to look into this problem.

There are two major parts we need to port, socket and signal.

For socket, most of socket functions could be easy to ported by changing the header file, but Windows don't provide `socketpair`. Referring to https:/

[2016-06-18 08:43] OOPMan opened #32 "Could uvloop be implemented using CFFI?"
Could uvloop be implemented using CFFI? How hard would it be to do so?

I ask because at some point in the future PyPy3 will reach compatibility with Python 3.5 (It could be a while, but PyPy3 3.3 is in alpha right now so there is hope :-) and it would be really great if uvloop were usable on it :-)

[2016-06-21 01:36] 1st1 commented on #32
Once PyPy implements Python 3.5 and is stable, we'll look into this.  Theoretically, it's not that difficult to rewrite uvloop with pure Python + CFFI.

[2016-06-21 09:33] OOPMan commented on #32
That's good to know. Thanks for answering my question!

[2016-06-21 13:10] 1st1 commented on #32
NP. Let's keep this issue open, as this question periodically comes up.

[2016-06-23 14:34] ssbb commented on #26
Both PR are merged and looks like issue is fixed. But only worker class should be specified w/o installing event loop policy manually.

[2016-06-23 21:27] jettify opened #33 "Add slow_callback_duration property to uvloop"
`asyncio` event loop has useful property `BaseEventLoop.slow_callback_duration` for logging long blocking operations [1]. It is not most critical feature but nice to have it during development.

[1] https://docs.python.org/3.5/library/asyncio-dev.html#debug-mode-of-asyncio

[2016-06-24 17:49] machbio commented on #26
What version will this fix be available ?

[2016-06-24 17:51] 1st1 commented on #26
@asvetlov Andrew, when will you make a new aiohttp release?

[2016-07-02 09:46] nibrag opened #34 "aiohttp and uvloop - crash"
* **uvloop version**: 0.4.31
* **python version**: Python 3.5.2rc1
* **platform**: Linux debian-7 3.2.0-4-amd64

I'm not sure that this is a problem uvloop.
https://github.com/KeepSafe/aiohttp/issues/925

[code]
Result:
[code]

[2016-07-02 15:40] 1st1 commented on #34
Thanks a lot for reporting this. I'll take a look on Monday.

[2016-07-03 19:19] giampaolo opened #35 "Feature request: add support for Tornado ioloop"
uvloop targets asyncio specifically but given that Tornado *can* use asyncio as the main event loop [1] [2] it looks like integrating the 3 (tornado + asyncio loop + uvloop) could be possible, and perhaps also fairly easily.

I haven't looked into uvloop code specifically but given that the tornado -> asyncio loop bridge is already in place in tornado's code, such an integration could already be p

[2016-07-04 02:44] 1st1 commented on #35
From the looks of it, all you need to do is to set up uvloop asyncio policy before installing `AsyncIOMainLoop`:

[code]

Please check if that works.

[2016-07-04 16:05] cigor opened #36 "BaseTransport._fatal_error should ignore Cancellation"
* **uvloop version**:  0.4.31
* **python version**: 3.5.2
* **platform**: ubuntu 14.04

[code]

In classic asyncio eventloop this program has no output. With USE_UVLOOP=1 it logs the following at the ERROR level

[code]

IMHO this should not be logged at this level.
Cancellation should be treated the same as the other exception types that are ignored in BaseTransport._fatal_error (around line 44)

[2016-07-04 23:38] 1st1 commented on #34
Should be fixed in `v0.4.32`. Please check.

[2016-07-04 23:38] 1st1 commented on #36
Should be fixed in `v0.4.32`. Please check.

[2016-07-04 23:38] 1st1 commented on #33
Should be fixed in `v0.4.32`. Please check.

[2016-07-05 05:34] kaniini opened #37 "UVTimer leaks"
* **uvloop version**: 0.4.29
* **python version**: 3.5.1
* **platform**: FreeBSD

We are seeing a serious memory leak that only shows up when using UVLoop on Gunicorn.  Examining the GC state does not show anything useful, which indicates to me that it is likely inside native code, so I report this here.  Under moderate load, we see each Gunicorn worker taking 2GB ram within 18-24 hours.

We are p

[2016-07-05 05:39] 1st1 commented on #37
Would it be possible for you to share the program code, or to reduce it to a smaller size that can be shared?

I'd suggest to build a debug version of uvloop with `make debug`.  You then can use an undocumented function `loop.print_debug_info()` to print a bunch of information about the loop and the running process.  For instance, you can use the following code:

[code]

to create an asyncio task

[2016-07-05 05:46] 1st1 commented on #37
Also, how exactly do you use Gunicorn with uvloop? Do you use aiohttp? Do you use the worker from https://github.com/KeepSafe/aiohttp/pull/878?

[2016-07-05 06:05] kaniini commented on #37
Hello,

Unfortunately I can't share the program code in this instance as it contains trade secrets.  We have a "scoreboard" facility (like Apache) -- would it be possible to get the text from `loop.print_debug_info()` into that using a `StringIO` object?

We used the `aiohttp.worker.GunicornUVLoopWebWorker` from aiohttp git, so that is probably the same from KeepSafe/aiohttp#878.  As such, I don't

[2016-07-05 06:12] kaniini commented on #37
Based on what I see here: https://github.com/MagicStack/uvloop/blob/master/uvloop/loop.pyx#L832-L918 it will need to be modified, but no worries, we can do that modification and send it as a pull request.

[2016-07-05 06:13] 1st1 commented on #37
`loop.print_debug_info()` just prints to stdout, so you can use `contextlib.redirect_stdout` to redirect it to a file or, prehaps, a `StringIO` object.

NP.  Can you tell me more about the app though?  What modules does it use; for instance, do you use some async driver for memcache/redis/database/etc? Also, can you try to create a simple version of your app that still has the leak?  It might help

[2016-07-05 06:16] kaniini commented on #37
We use a custom asyncio driver for Aerospike, code available at http://github.com/kaniini/aerospike-py as well as aioredis.  We also use an async client to talk to the BIRD BGP routing daemon (but this is being replaced for various reasons, and has been determined not responsible for the leak).  Other than that, it is a pretty simple aiohttp.web application.

[2016-07-05 06:18] 1st1 commented on #37
And, just to confirm, you can see the leak **only** when you're running the app behind Gunicorn?

[2016-07-05 06:31] kaniini commented on #37
We haven't really bothered to test outside of Gunicorn as we use Gunicorn to manage our workers -- retooling to use aiohttp directly (even though the aiohttp worker basically replaces the entirety of Gunicorn's actual web serving infrastructure) is not something we're eager to do right now.  I will add the loop debug info to the scoreboard tomorrow and post some stats.

[2016-07-05 09:42] nibrag commented on #34
It works, thanks.

[2016-07-05 09:42] #34 closed

[2016-07-05 16:31] kaniini commented on #37
Hello,

So we have added uvloop debugging to the scoreboard module, and I wonder if there is an issue with the way callback handles are being cleaned up, because the "total callback handles" number is going up at a rate that is proportional to the memory increase.

TCPTransport and UVTimer objects are the most heavily used, which is unsurprising.

An interesting note is that the Read callbacks num

[2016-07-05 16:46] 1st1 commented on #37
But the "current" number of callbacks is still low (not steadily increasing?)

Please try to remove `@cython.freelist(DEFAULT_FREELIST_SIZE)` decorator from `Handle` and `TimerHandle` classes in `cbhandles.pyx`.  And then try to remove the `@cython.no_gc_clear` decorators (although this might cause a segfault theoretically).

It's a different kind of callbacks -- "read callbacks" is the number of

[2016-07-05 16:49] 1st1 commented on #37
How many `UVTimer` objects do you have?

[2016-07-05 17:04] kaniini commented on #37
Hello,

Yes, the current number of callbacks is low.

Here is one of the UVHandles dumps from a worker, which should answer the other questions:

[code]

I will make the requested modifications shortly, and report back.

[2016-07-05 17:09] kaniini commented on #37
Hello,

I applied the modifications and now it is leaking heavily.  Roughly 1MB per second per worker.

[2016-07-05 17:11] kaniini commented on #37
Seems the leak rate is now slowing down on the modified server, so I will monitor for a bit more and give an update.

[2016-07-05 17:20] 1st1 commented on #37
I think it's UVTimer.

[2016-07-05 17:41] kaniini commented on #37
Right now what I am seeing is heavy CPU use (probably due to GC pressure), and a much slower leak rate, but it is still leaking a little: an asyncio default event loop worker started at the same time with the same load is using about 210mb RSS, while the uvloop is using about 250mb.

I agree that it may be UVTimer, do you want me to put the freelists back for the non-timer case?

[2016-07-05 17:51] 1st1 commented on #37
It's definitely UVTimer.  I wrote a small program that creates thousands of them, and it's leaking super fast.  I don't think it's related to freelists...

[2016-07-05 17:57] kaniini commented on #37
Awesome!  Is there anything I can do on my end to help with getting a fix going?  I'm unfortunately not very familiar with libuv internals, but if it is a bug on their side I may be able to help fix it.

[2016-07-05 17:59] 1st1 commented on #37
No, it's a uvloop bug. Somehow UVTimers do not free memory of their uv_timer_t handles. Looking into that now.

I also have a refactoring branch where I remove most of `PyMem_Alloc` calls from uvloop, and it doesn't leak in that branch.

[2016-07-05 18:09] kaniini commented on #37
If you can make that branch public, I'm more than happy to deploy it and give it a go.

[2016-07-05 18:45] 1st1 commented on #37
Pushed to the master branch. Please test.

[2016-07-05 18:53] kaniini commented on #37
Looks good so far, will run it for 24 hours and see where it's at.  Thanks!

[2016-07-05 18:59] 1st1 commented on #37
Thanks a lot for discovering this and for your help with debug. I'll release a new version of uvloop shortly, as the bug is pretty severe; perhaps it affected other handles, such as Poll or TCP.

[2016-07-05 21:42] kaniini commented on #37
3 hours later and no leak, I think we can call this one done.  Will deploy uvloop 0.4.33 to all workers, thanks so much!

[2016-07-05 21:43] 1st1 commented on #37
Awesome! Thanks!

[2016-07-05 21:44] 1st1 commented on #37
BTW, did you guys do any benchmarking of your app?  How much faster is it when it's run on uvloop?

[2016-07-05 21:47] kaniini commented on #37
The main advantage for the app (a real-time ad server DSP/SSP engine) in question is that UVLoop provides more stable latencies (due to more performant socket I/O and polling provided by libuv).  CPU is cut by about 30% over baseline, so it is a nice performance improvement there.  The key thing though is that latencies are more stable.  We have been testing with libuv for about a month now and fi

[2016-07-07 15:31] cigor commented on #36
yes. 0.4.32 removed this error message.

0.4.32 also removed a memory leak that i had been observing in my application.

Good work :)

[2016-07-07 15:31] #36 closed

[2016-07-07 15:32] 1st1 commented on #36
Thanks!

[2016-07-07 20:58] jimfulton opened #39 "Hang waiting for create_server"
- **uvloop 0.4.33**:
- **python 3.5.1, 3.5.2**:
- **platform Mac OS X, Ubuntu 16.04/4.4.12-boot2docker**:

I need some suggestions for debugging server startup hangs.

Startup code looks like:

[code]

What's sometimes happening, in the context of the ZEO tests, is that the `run_loop_until_complete` call above never returns.

This is  in a port of ZEO, github.com/zopefoundation/ZEO, to asyncio.  T

[2016-07-07 21:39] 1st1 commented on #39
The general advice is to create a minimal testcase and then debug the code with gdb (or lldb) and print statements ;)

In this particular case, could you please tell me the values of `addr` and `ssl`?  Does the `loop` have any other scheduled tasks?  Does it run in the main thread?

[2016-07-07 22:03] 1st1 commented on #39
I'd also suggest to add prints before each `await` in `Loop.create_server`.  That should give us better understanding where exactly the loop hangs.

[2016-07-07 22:05] 1st1 commented on #39
Hm, actually, there is only one `await` in `Loop.create_server`, and it waits on `getaddrinfo`. So it might be a bug in the DNS resolver. What's the value of `addr`?

[2016-07-07 22:45] 1st1 commented on #39
And there's also an option to make a debug build with `make debug`. When built in debug mode, loop has a `print_debug_info()` method which outputs a bunch of useful debug info.

[2016-07-08 13:15] jimfulton commented on #39
On Thu, Jul 7, 2016 at 5:39 PM, Yury Selivanov <notifications@github.com>
wrote:

Yeah. I took an initial stab at that, but it was too minimal.  I'll take
another stab.

ssl is usually, but not always None.  I just hacked out SSL-related tests
and ssl support, and still hanging.  So for the sake of this discussion,
SSL is always None.

The address is almost always ``('127.0.0.1', 0)``. I just did

[2016-07-08 13:18] jimfulton commented on #39
On Thu, Jul 7, 2016 at 6:05 PM, Yury Selivanov <notifications@github.com>
wrote:

Almost always ``('127.0.0.1', 0)``

[2016-07-08 13:22] jimfulton commented on #39
On Thu, Jul 7, 2016 at 6:45 PM, Yury Selivanov <notifications@github.com>
wrote:

OK, I'll try that.  Would you suggest ``print_debug_info()`` here:

https://github.com/zopefoundation/ZEO/blob/debug-uvloop/src/ZEO/asyncio/server.py#L226

[2016-07-08 14:43] 1st1 commented on #39
The idea is to create a debug task that will periodically print debug info on the screen. This is how I use it in uvloop benchmarks:
https://github.com/MagicStack/uvloop/blob/master/examples/bench/echoserver.py#L78

I'm thinking about adding a manhole or something, that would let you attach to a running event loop from the outside.

[2016-07-09 16:08] bdarnell commented on #35
Yes, it looks like that just works.

[2016-07-09 16:18] bdarnell opened #40 "UVLoop sets FD_CLOEXEC on descriptors it doesn't own"
* **uvloop version**: 0.4.33
* **python version**: 3.5
* **platform**: Mac OSX 10.11

Creating a `uvloop.Loop` has the surprising side effect of marking file descriptors it doesn't own (notably including stdin/out/err) as `FD_CLOEXEC`. This causes any use of subprocesses which do not explicitly assign stdin/out/err to fail, sometimes in surprising ways. This toy example should print "hi", but does

[2016-07-09 16:21] 1st1 commented on #35
Thank you Ben, for checking that. Closing this issue now.

[2016-07-09 16:21] #35 closed

[2016-07-09 16:50] 1st1 commented on #40
I think it should be fixed now.

[2016-07-12 14:39] cwt opened #41 "uvloop crashed and core dumped"
* **uvloop version**: 0.4.33
* **python version**: 3.5.1
* **platform**: VMware Photon Linux 1.0

I just rebuild my [wormhole proxy](https://bitbucket.org/bashell-com/wormhole) docker image today ([Dockerfile](https://goo.gl/pjYO1Q)). After I use it for a few minutes, it crashed and show error messages like these (randomly on each time it crashed).

or

or

I also tried to build it on Alpine Linux

[2016-07-12 14:55] 1st1 commented on #41
Could you please tell how to run your proxy without docker? I.e. should I just clone the repo and run some script? How to enable uvloop in it?

[2016-07-12 15:00] 1st1 commented on #41
I've just committed a small change - 2b060e170fc45ec0965bab926513725f9714c73b - please check if it fixes the problem.

[2016-07-12 15:11] cwt commented on #41
to run it without docker:

    $ pyvenv-3.5 wormhole
    $ source wormhole/bin/activate
    (wormhole) $ pip install Cython
    (wormhole) $ pip install uvloop
    (wormhole) $ pip install wormhole-proxy
    (wormhole) $ wormhole

I'm cloning and building uvloop from git now. Will post the results again after finish.

[2016-07-12 15:29] cwt commented on #41
unfortunately, it still crashed with the same error messages.

[2016-07-12 15:39] 1st1 commented on #41
Thanks! And what should I do to crash it?

[2016-07-12 15:42] 1st1 commented on #41
OK, I got it. Once I set up Firefox to use it, it crashed almost instantly.

[2016-07-12 17:27] 1st1 commented on #37
@kaniini I had to revert the original fix for this issue (see issue https://github.com/MagicStack/uvloop/issues/41) and it's now fixed in a different way.  Will issue a new release soon.

[2016-07-12 17:28] 1st1 commented on #41
Should be fixed by 7b0b195d100ccd63d6b5cd56e36b099ad6ace8b4. Will issue a new release soon.

[2016-07-12 20:02] 1st1 commented on #41
Please try uvloop `v0.4.34`.

[2016-07-12 20:12] 1st1 commented on #37
Please try uvloop v0.4.34. I've made several changes to make sure we won't introduce similar memory leaks in the future:

- `Loop` has two new counters in debug build: `_debug_uv_handles_total` and `_debug_uv_handles_freed` which count number of `PyMem_Malloc` and `PyMem_Free` calls for `uv_handle_t` structs.

- unittests, when run on debug build, test that those counters are equal at the end of e

[2016-07-12 23:39] kaniini commented on #37
we will deploy it on one of our nodes and verify there are no regressions, thanks!

[2016-07-13 02:17] cwt commented on #41
Yeah! my proxy work pretty well with v0.4.34. Thank you.

[2016-07-13 02:17] #41 closed

[2016-07-13 02:35] 1st1 commented on #41
Thanks! See also https://github.com/MagicStack/uvloop/issues/37#issuecomment-232165394.

[2016-07-13 02:43] kaniini commented on #37
We've deployed uvloop 0.4.34 and see no regressions in terms of memory leaks.

[2016-07-13 02:44] 1st1 commented on #37
Awesome, thanks!

[2016-07-13 02:44] #37 closed

[2016-07-13 02:45] 1st1 commented on #40
The fix is in v0.4.34 release.

[2016-07-19 22:56] 1st1 commented on #40
Closing this one. Thanks a lot for reporting this, Ben.

[2016-07-19 22:56] #40 closed

[2016-07-19 22:56] 1st1 commented on #33
Closing this one.

[2016-07-19 22:56] #33 closed

[2016-07-19 22:57] 1st1 commented on #26
aiohttp 0.22 was released a few days ago. Closing this one now, thanks everybody!

[2016-07-19 22:57] #26 closed

[2016-07-23 14:30] urbaniak opened #42 "TCPTransport object has no attribute _protocol"
- **uvloop version**: 0.5.0
- **python version**: 3.5.2
- **platform**: os x 10.11.6

Tried running aiopyramid websocket example, it raises `
AttributeError: 'uvloop.loop.TCPTransport' object has no attribute '_protocol'`.

With asyncio event loop it's working fine.

aiopyramid is using internal API, but is there any way of providing similar `_protocol` property in uvloop?

[2016-07-23 16:43] asvetlov commented on #42
Please no.
Keep private API really private.

[2016-07-23 16:48] methane commented on #42
I can't find aiopyramid websocket example.
The exception happened here?
https://github.com/housleyjk/aiopyramid/blob/8aef5f4f8c823d138f36b68df2ad40a8b5adb6a3/aiopyramid/websocket/config/gunicorn.py#L118-L128

I think this issue should be go asyncio ML,  "What is the standard way to switch protocol of transport?"

[2016-07-23 17:06] 1st1 commented on #42
Right. Exposing the property would be an easy thing to do in uvloop, but we should (or shouldn't?) have an API for switching protocols.

[2016-07-24 22:37] urbaniak commented on #42
The exception happens exactly here https://github.com/housleyjk/aiopyramid/blob/8aef5f4f8c823d138f36b68df2ad40a8b5adb6a3/aiopyramid/websocket/config/gunicorn.py#L126.

The aio websocket example can be created like that:
[code]

I agree that there should be a better way in asyncio transport to switch protocol other than accessing private variable, but for now we don't have it. I've proposed it on p

[2016-07-27 00:03] 1st1 commented on #42
Linking this issue to https://github.com/python/asyncio/issues/388

[2016-07-27 14:49] machbio commented on #26
Upgraded but still not working -  requests are still blocked and hangs -

    uvloop==0.5.0
    aiohttp==0.22.3

@1st1  what do you mean by
"too late to set up a uvloop policy in your app -- you have to do that at the gunicorn worker level"

[2016-07-27 14:55] 1st1 commented on #26
@machbio Please see http://aiohttp.readthedocs.io/en/stable/gunicorn.html#start-gunicorn, specifically a note about uvloop.

[2016-07-27 15:03] 1st1 commented on #26
"too late to set up a uvloop policy in your app -- you have to do that at the gunicorn worker level"

It literally means that in order to use uvloop with aiohttp+gunicorn you have to use a special gunicorn  worker class that aiohttp now bundles:

[code]

And you shouldn't really do anything else in your app.

[2016-07-28 00:44] machbio commented on #26
Thank you @1st1 - the above solution works

[2016-07-29 09:42] santagada opened #43 "How does uvloop (or I think libuv) does dns resolution, is it fully async?"
I've read the libuv documentation and it appears that it is, and that uvloop is calling directly into it. So if I use aiohttp to do requests will the dns resolution be async as well?

And do you know why node still uses c-ares to do dns resolution if libuv is fully async?

[2016-07-29 11:59] 1st1 commented on #43
Yes, libuv uses a thread pool to do `getaddrinfo` and `getnameinfo`, and so does uvloop. AFAIK nodejs doesn't use c-ares anymore.

I'm still deciding how to approach this problem -- should we use c-ares? or getdns? Or keep things as is, since DNS in a thread pool is fine for most use cases?

[2016-08-06 18:20] jimfulton commented on #39
The program was running out of file descriptors.  Not an issue with uvloop at all. Sorry for the noise.

[2016-08-06 18:21] 1st1 commented on #39
Thanks a lot for confirming this!

[2016-08-07 17:39] jimfulton commented on #39
I was wrong. It has nothing to do with running out of file descriptors. (I was able to make uvloop fail when having too many open files, but that's not what made the tests fail.)

Many of the ZEO tests are integration tests. Typically, the these tests run a server in a subprocess using multiprocessing.  A few tests run the server in a thread, which makes it possible to introspect server state. Mix

[2016-08-08 02:42] 1st1 commented on #39
Interesting. Thanks a lot for the script -- will investigate tomorrow.

[2016-08-08 16:58] 1st1 commented on #39
Looks like this bug is in libuv.  A call to `uv_getaddrinfo` never calls back the passed callback function.  I suspect that there is a lock or something that breaks on `fork()` + starting a new event loop in the forked process.

Options:

1. Start using Python's `getaddrinfo` in a Python threadpool.
2. Fix the bug in libuv.
3. Switch to c-ares or getdns (I wanted to do this sometime anyways).

Not

[2016-08-08 17:09] saghul commented on #39
This is the case, yes. The threadpool has some global state which needs to be adjusted in the child. Since `uv_getaddrinfo` runs on the threadpool it will fail. Basically using any loop before fork() and trying to use them (or a new one) is not currently supported.

There is, however, a pull request which addresses this: https://github.com/libuv/libuv/pull/846 more eyes are always welcome!

You mi

[2016-08-08 17:14] 1st1 commented on #39
I've seen that PR, it looks good to me (I spent quite a bit of time looking and playing with libuv internals).  But I'm not a core libuv committer to say the LGTM :)

Yes, but I already write all the code to normalize libuv results into what Python code is expecting to see.  All that code would be useful for c-ares or getdns though.

@jimfulton How serious is this bug?  Does it preclude you from u

[2016-08-08 17:24] jimfulton commented on #39
The bug is mainly an inconvenience at this point.

Informal performance measurements indicate that most of the win is on the client, so for the moment, I'm not using uvloop on the server. I could use it on the server if I rearrange some tests, which I think I'll probably do. (If it was easy for you to fix, I'd have waited, but I'll go ahead and work around it.)

(Lack of connect_accepted_socket is

[2016-08-08 17:26] 1st1 commented on #39
I'll try to add `connect_accepted_socket` to uvloop today :)

[2016-08-08 22:19] saghul commented on #39
If you don't mind, please leave a comment, it helps.

I'm not sure about that. c-ares does not implement `getaddrinfo`, and I don't know about getdns. You can make shim using A and AAAA queries, but mimicking the system getaddrinfo will be tricky.

[2016-08-09 02:24] 1st1 commented on #39
@saghul I've left a comment for https://github.com/libuv/libuv/pull/846 -- it solves this particular bug and other bugs we have with `os.fork` calls. When do you think it can be merged?  (I really, really don't want to use patched libuv).

[2016-08-09 09:02] saghul commented on #39
@1st1 thanks! I can't really give an estimate, it's a (relatively) big change, so we are cautious.

[2016-08-09 17:32] deltaindiatango opened #44 "'undable to perform send operation: no address'"
* uvloop 0.5
* python3.5.2
* Linux 4.4.0-1-amd64

Found a spelling error in an error message at https://github.com/MagicStack/uvloop/blob/master/uvloop/handles/udp.pyx#L218.

Thanks for the great work!

[2016-08-09 23:12] 1st1 commented on #44
Will be fixed in the next release (soon). BTW, are you using UDP with uvloop by any chance?

[2016-08-10 00:20] 1st1 commented on #24
So now we have manylinux & macOS wheels. Closing the issue.

[2016-08-10 00:20] #24 closed

[2016-08-10 00:20] #44 closed

[2016-08-10 00:23] 1st1 commented on #39
@jimfulton FWIW uvloop v0.5.1 has `loop.connect_accepted_socket()`!

[2016-08-10 08:18] Tinche commented on #24
Sweet, great job!

[2016-08-10 11:55] jimfulton commented on #39
Great! I'll try it today.

BTW, I've updated the ZEO tests so they pass with uvloop (when run a certain way that runs groups of tests in separate processes).

[2016-08-10 18:31] deltaindiatango commented on #44
@1st1 Yes I am, I have a pretty minimal DNS resolver I'm running in uvloop.

[2016-08-10 20:16] 1st1 commented on #44
That's quite interesting, I'd love to check it out. Would be cool if it's open source.

[2016-08-10 22:48] jimfulton commented on #39
connect_accepted_socket works great. :) ZEO is now using it in it's multi-threaded-server configuration. Thanks.

[2016-08-11 00:26] 1st1 commented on #39
Finally some good news ;)

[2016-08-12 20:17] vodik opened #45 "UDPTransport isn't sending traffic to remote_addr when local_addr is set"
* **uvloop version**: 0.5.2
* **python version**: Python 3.5.2
* **platform**: Archlinux

Using the [asyncio example udp echo server](https://github.com/python/asyncio/blob/master/examples/udp_echo.py) with uvloop. Works perfectly without uvloop, but once uvloop is used, the remote addr isn't set on the transport. Fails to send packets to the remote machine.

Note: It works if you run the server/c

[2016-08-12 21:08] vodik commented on #45
No, I had the server misconfigured. My bad. No bug.

[2016-08-12 21:21] vodik commented on #45
No, false alarm again. I forgot to configure the client correct. One change must be made from the example. The client needs to set both a custom local_addr **and** remote_addr. Once you add it in, it routes traffic to the local_addr instead of the remote_addr.

[2016-08-12 21:24] vodik commented on #45
Here's what I see in strace:

With local_addr set to 10.200.0.6:8000, the packet is sent from the local_addr and then recieve back again.

[code]

Without the local_addr, for contrast, it sends and receives a packet from the remote_addr.

[code]

Which explains why aiosip doesn't work. Both addresses are specified.

[2016-08-13 00:00] vodik commented on #45
Think I found the bug. PR hopefully coming shortly.

[2016-08-15 15:48] mackeyja92 opened #47 "Production ready?"
Is UVLoop production ready? Getting ready to implement some new microservices on top of asyncio using UVLoop.

[2016-08-15 15:52] 1st1 commented on #47
I can only say that some top companies and startups are now using it in production.

My advice would be to test uvloop, see if your services are stable on it, and then gradually replace asyncio event loop with it.

[2016-08-15 15:55] mackeyja92 commented on #47
Currently our stack is python 2 on twisted so we are moving some of our services out to py3 and asyncio.  But that is good enough for me! Thanks

[2016-08-15 15:55] #47 closed

[2016-08-16 07:04] schlamar commented on #14
Libuv already provides a platform agnostic interface to signals and sockets (e.g. http://docs.libuv.org/en/v1.x/signal.html). You shouldn't have to deal with the Windows API at all.

[2016-08-16 07:05] schlamar commented on #9
@breerly Have you seen https://github.com/saghul/tornaduv

[2016-08-16 12:22] 1st1 commented on #14
@schlamar You should have looked at uvloop source code first, before assuming that we don't know some basic libuv APIs.

@brickgao Sorry for the delayed reply. For signals specifically I use `sigaction` to make sure that:

1. uvloop restores CPython's signal handlers
2. `Ctrl+C` is handled correctly, i.e. `PyErr_SetInterrupt` is called when uvloop runs Python callbacks.

For the Windows port we do

[2016-08-17 22:39] deltaindiatango commented on #44
@1st1 https://gist.github.com/deltaindiatango/7bf157202c17681d62667a006eb15abd

WIP but functional.

[2016-08-17 22:43] deltaindiatango commented on #43
somewhat relevant to the conversation: https://gist.github.com/deltaindiatango/7bf157202c17681d62667a006eb15abd

found some existing pure-Python resolver, did basic work to make async.

It's not noticably slower than getaddrinfo/getnameinfo.

[2016-08-20 02:02] petriborg opened #48 "Solaris 11 build fix"
* **uvloop version**: 0.5.0 / master branch
* **python version**: python 3.5
* **platform**: Solaris 11

Build is successful on Solaris 11, but the uvloop.so file is missing references to kstat_* methods. To correct the issue the the gcc linker needs `-lkstat`

The below patch fixes the issue.

[code]

[2016-08-23 03:57] kaniini commented on #48
:+1: patch works for me on a Solaris 11 box

[2016-08-23 03:58] 1st1 commented on #48
Care to make a PR? Or I can commit this myself referencing your name.

[2016-08-23 11:55] petriborg commented on #48
Sure, created pull request #49.

[2016-08-24 16:24] #45 closed

[2016-08-24 16:25] 1st1 commented on #48
Closing the issue, the PR has been merged. Thank you!

[2016-08-24 16:25] #48 closed

[2016-08-24 22:24] diogobaeder opened #50 "uvloop breaks aiohttp's capability of serving static files"
* **uvloop version**: 0.5.3
* **python version**: 3.5.2
* **platform**: Arch Linux / 4.7.1-1-ARCH / x86_64

`uvloop` breaks aiohttp's capability of serving static files. It makes the server send the response headers after the body.

To run this, have aiohttp and uvloop installed, then run the gist ( https://gist.github.com/diogobaeder/0558c43d785cd82a1ecff553bc583867 ):
`$ python uvhttp.py`

Then

[2016-08-24 23:00] 1st1 commented on #50
What version of aiohttp are you using?  AFAIK there was an issue with how aiohttp implemented sendfile, which was fixed not long ago.

cc @asvetlov

[2016-08-25 00:02] diogobaeder commented on #50
Hi @1st1 ,

Unfortunately I'm already using the latest version, which is `0.22.5`. Mind trying it as well, and see if it works fine for you?

Thanks for the quick reply :-)

[2016-08-25 01:08] asvetlov commented on #50
There is KeepSafe/aiohttp#1093 issue.
It's still not fixed but very reproducible.
I think aiohttp sends headers into transport's buffer but sendfile sends a content directly through the wire, that's why headers are sent too late.

[2016-08-25 01:16] diogobaeder commented on #50
Hmmm... makes sense...

Should we close this issue as a duplicate? Want me to refer it in the other one?

[2016-08-26 16:41] asvetlov opened #51 "FD duplication on transport.get_extra_info('socket') disables TCP_CORK and TCP_NODELAY for aiohttp"
Code work switching on cork/nodelay looks like this: https://github.com/KeepSafe/aiohttp/blob/master/aiohttp/parsers.py#L243

It relies on `socket.setsockopt(...)` calls.

But uvloop returns another socket.
AFAIK socket flags are not shared between dups.
The problem is not such bad because libuv switches on nodelay by default IIRC but enabling/disabling CORK still makes sense.

[2016-08-26 16:44] 1st1 commented on #51
Yes. This will be fixed once we fix asyncio to error when transport's socket is used with `loop.add_writer`

TCP_NODELAY is shared (at least I observed that on Linux).  Could you please confirm that TCP_CORK isn't?

No, libuv doesn't set NODELAY by default (and uvloop does not either)...

[2016-09-02 15:03] iceboy233 opened #52 "How to share libuv between multiple libraries"
If there are other C libraries using libuv and expose python interface, is there a way to use the same uv event loop for uvloop and the library?

[2016-09-03 13:41] asvetlov commented on #51
Sorry, CORK is shared.

[2016-09-03 13:41] #51 closed

[2016-09-03 17:19] asvetlov commented on #52
To achieve it uvloop should only expose `uv_loop_t` instance, isn't it?

[2016-09-03 19:56] 1st1 commented on #52
What's the use case?

[2016-09-04 12:43] iceboy-sjtu commented on #52
I'm playing with a HTTP server called [h2o](https://github.com/h2o/h2o) which supports to be used as a library and I'm trying to make a python binding for it (just for fun now - if it could be done, we can get a super high performance HTTP server). The server supports its own event loop and also uv loop. It'll be nice if we could make python bindings of these kind of libraries which share a single

[2016-09-05 15:07] iceb0y commented on #14
Had a quick hack to make it buildable in windows (win7, python 3.5.2 x64): https://github.com/iceb0y/uvloop/commit/fa2b7db1d7940149bb8d16e856e7d1a642f3e6b8

build snippet:
in /vendor/libuv, *use python2*
[code]
in /, use python3, do the same as makefile
[code]

Had a test with aiohttp server - the current stucking problem is that uvloop uses `os_dup` in [multiple places](https://github.com/MagicSt

[2016-09-05 22:22] 1st1 commented on #52
Interesting. Well, in theory we could provide some API for that, but somebody will have to pioneer and submit a PR with an example use case code.

[2016-09-06 03:20] iceb0y commented on #14
dup is introduced in 6e9c43bdecfad711c38c423fbada8fd8b86ddf7f

maybe we need to find another way to solve the problem described by the commit?

[2016-09-06 04:58] 1st1 commented on #14
Your PR looks very good, thanks a lot for working on this. I believe we don't need to do anything special for signals or forks. As for `dup`, I'll fix a bug in asyncio and change how uvloop implements `get_extra_info` in a couple of weeks.

[2016-09-06 08:05] iceb0y commented on #14
I suggest to make some Socket extending `socket.socket` like:

[code]

[2016-09-06 18:38] brickgao commented on #14
Some workarounds to the signal based on @iceb0y 's commits: https://github.com/brickgao/uvloop/commit/eb9b9b7881fb1950e61033c3ba3934daf0a0c7e0

[2016-09-06 18:59] 1st1 commented on #14
Just to remove it completely. Right now it's there to save uvloop from segfaulting when someone uses sockets from transports with add_writer API.

[2016-09-06 20:18] asvetlov commented on #14
@1st1 I've fixed sendfile support on aiohttp master.
Funny fact: on travis dupped socket was in blocking mode.
Honestly I've not dug into but had added just socket.setblocking(False) call.

[2016-09-06 21:10] 1st1 commented on #14
Super cool! Thanks!

Wow. Maybe this is something worth investigating? Is it something that asyncio causes?

[2016-09-07 02:11] iceb0y commented on #14
@1st1 I think the windows signal code is actually platform-independent
1. Is it correct?
2. Should we just use it for all platforms for simplification?

[2016-09-07 11:09] asvetlov commented on #50
@1st1 please close the issue as  KeepSafe/aiohttp#1093 is resolved.

[2016-09-07 11:15] asvetlov commented on #14
@1st1 I cannot reproduce the problem locally. The only error what I have is travis report: https://travis-ci.org/KeepSafe/aiohttp/builds/157838616
Something like this:
[code]
`sock.setblocking(False)` has solved the problem.
I have no Idea why it works with some configurations but fails with others.

[2016-09-07 18:10] 1st1 commented on #50
@asvetlov When will you release aiohttp with this thing fixed?

[2016-09-07 18:14] asvetlov commented on #50
@1st1 just after fixing bugs with cookiejar.
In a few days I hope.

[2016-09-25 13:59] 1st1 commented on #50
Closing the issue since it has been resolved in aiohttp.

[2016-09-25 13:59] #50 closed

[2016-09-25 14:47] benjamingr commented on #43
Hi, Node guy here - NodeJS does use c-ares. Here's discussion about replacing it https://github.com/nodejs/node/issues/1013

DNS thread pool is a compromise. Node documents `.lookup`:

And `.resolve`:

[2016-09-25 14:57] 1st1 commented on #43
@benjamingr Benjamin, thanks for chiming in! My current understanding is that for asyncio we'll have to approach this problem similarly to Node: add a completely new set of DNS APIs that doesn't use `getaddrinfo` and uses `c-ares` or `getdns` instead. Maybe we want to make it possible to plug custom DNS resolvers so that `create_connection` can use them.

[2016-09-25 15:00] benjamingr commented on #43
@1st1 I'm in the opinion you're doing an excellent job using libuv and that you shouldn't worry about this until it becomes a real problem.

I'd argue that the vast majority of programs don't perform a huge amount of uncacheable DNS queries and that it's an edge case. I'd invest more in getting more library adoption and feedback.

In practice the wrapper will behave like users expect for the vast

[2016-09-25 15:03] asvetlov commented on #43
`aiohttp 1.0` uses `c-ares` by default if `aiodns` is installed.

[2016-09-25 17:17] WGH- commented on #43
But won't `c-ares` break expectations in case `/etc/nsswitch.conf` has somethings more complex than `hosts: files dns`, like `mdns` or `resolved` (`systemd-resolved`-based plugin, which supports LLMNR, per-interface domain names, etc.)?

[2016-09-26 15:08] asvetlov commented on #43
@WGH-
Honestly I don't know how these tools are widespread.
Let's look on users feedback.

[2016-09-30 16:27] lsbardel opened #54 "Pulsar in multiprocessing mode and Ctrl-C issue"
* **uvloop version**: 0.5.3
* **python version**: 3.5.2
* **platform**: Mac OS X 10.11.6

Hi, I'm testing uvloop integration with [pulsar](https://github.com/quantmind/pulsar) and it works a treat!
However, I have one problem when running in multiprocessing mode.

If I Ctrl-C on the shell, the master process receives the SIGINT signal but the subprocesses do not and do not respond to the master pr

[2016-09-30 16:35] 1st1 commented on #54
No, uvloop should behave exactly as vanilla asyncio. Would it be possible for you to make a failing unittest similar to other subprocess tests in 'uvloop/tests/'?

[2016-09-30 17:48] lsbardel commented on #54
I'm not sure how to do that! :disappointed:

The issue occurs only when I press Ctril-C on the shell.

If I send SIGINT/SIGTERM to the main process not using Ctrl-C, everything works as expected.
You can see it yourself by running this script:
[code]
where ``script.py`` is
[code]
Try to Ctrl-C and wait for about 5 seconds.
Than test with the vanilla asyncio loops
[code]
or
[code]

[2016-09-30 20:03] 1st1 commented on #54
Alright, I'll take a look in a few days!

[2016-10-03 14:29] 1st1 commented on #54
I'm trying to figure out what's going on here and have some questions about how Pulsar works.  Could you please point out to the place where you fork/create subprocesses for actors?

[2016-10-03 14:36] 1st1 commented on #54
I see, it looks like you just instantiate `multiprocessing.Process` class.  In asyncio, it's more reliable to use `loop.subprocess_exec` for that (at least that's what `uvloop` is tuned for).

[2016-10-03 17:47] lsbardel commented on #54
Right, that is what I suspected.
Pulsar was born before ``asyncio``, that is why ``multiprocessing`` module is used for process-based actors.
I will have to look into the ``subprocess_exec`` method and see what exactly does and compare with multiprocessing.

[2016-10-04 18:08] lsbardel commented on #54
OK, using asyncio ``subprocess_exec`` fixes the issue.
Looks like the ``multiprocessing`` won't be used directly by pulsar anymore (I still need it for sharing server sockets between processes)

[2016-10-04 19:16] 1st1 commented on #54
Great! I ended up rewriting how signals handling is implemented in uvloop from scratch. Maybe multiprocessing will work just fine when I'm done.

[2016-10-05 18:41] 1st1 commented on #54
@lsbardel Please try uvloop 0.5.4. Ctrl-C is now being handled exactly as in asyncio.

[2016-10-06 08:03] lsbardel commented on #54
Yes it works! Nice one.
Pulsar 1.5 will have two ways of doing multiprocessing, via asyncio subprocess or multiprocessing module. The asyncio way is better because it does not block during forking.
In any case thanks for feedback and fixes.

[2016-10-06 16:27] SamWhited opened #55 "Transport extra info "socket" is not upgraded to SSL after STARTTLS"
* **uvloop version**: uvloop (0.5.4)
* **python version**: Python 3.5.2
* **platform**: Linux 4.7.6-1-ARCH x86_64

After performing STARTTLS, `transp.get_extra_info("socket")` still returns the original socket and not the SSL socket. In the builtin asyncio event loop the transports extra info is upgraded to point to the SSL socket. I am unsure if this happens after a direct TLS connection or not.

[2016-10-06 16:32] 1st1 commented on #55
What do you use to STARTTLS?  Can you provide a script and steps to reproduce the problem?

[2016-10-06 16:33] 1st1 commented on #54
@lsbardel Thanks for confirming that everything works now!  Closing this issue.

[2016-10-06 16:33] #54 closed

[2016-10-06 16:33] SamWhited commented on #55
I was thinking that I couldn't provide a script without requiring that you get an account somewhere, but it doesn't really matter if auth fails; presumably (hopefully) STARTTLS happens before auth. One moment, I'll try to provide a minimal script.

[2016-10-06 16:41] 1st1 commented on #55
Also, can you reproduce this in vanilla asyncio?  The problem is that there's no "SSL socket" in 3.5, we use SSL memory BIO, which means that the socket object stays the same.

[2016-10-06 16:46] SamWhited commented on #55
I can't; running with normal asyncio I get an `ssl.SSLSocket` object returned, but if I run with uvloop I always get a `socket.socket` (which doesn't have a `getpeercert()` method, so slixmpp panics).

### Requires

[code]

### MWE

(note that this appears to be flakey; you may have to run it once or twice to see the issue)

[code]

[2016-10-06 16:56] SamWhited commented on #55
For context, the starttls connection is being created in Slix with:

[code]

[2016-10-06 17:35] SamWhited commented on #55
Another related difference, it appears that the `ssl_object` extra info also contains the `ssl.SSLSocket` in asyncio's default event loop, but contains `ssl.SSLObject` in uvloop (which makes more sense, given the name). I'm not entirely sure these even count as a stable API that should be the same though (I didn't see them documented anywhere), but I don't know how else we'd get a reference to the

[2016-10-06 17:39] SamWhited commented on #55
Sorry for all the spam, one more thing: This does appear to be a documented API (https://docs.python.org/3/library/asyncio-protocol.html), and it appears that uvloop is doing things right and asyncio's built in event loop (and slix) is doing it wrong. According to the docs, socket should always map to a socket.socket, and ssl_object should map to an SSLObject or an SSLSocket, so I'm inclined to be

[2016-10-06 17:39] #55 closed

[2016-10-06 17:44] 1st1 commented on #55
Right.  One problem: I don't understand how can you have SSLSocket on 3.5.2 in asyncio at all.

[2016-10-06 17:48] 1st1 commented on #14
@iceb0y In the latest version of uvloop I've redesigned how signals are implemented. No more libuv or system API calls, I now only use Python's `signal` module. This should help with the Windows port.

[2016-10-06 17:50] SamWhited commented on #55
I don't know much about it, but it appears to be some hackery slixmpp is doing to use the old SSL, no idea why. From their chat room:

Related issues that I failed to find before:

* https://bugs.python.org/issue22768
* https://bugs.python.org/issue25114

[2016-10-06 17:56] 1st1 commented on #55
Got it.  That explains why I couldn't see how this could happen in asyncio ;)  Would you be able to ask them why are they doing this?  Perhaps there is a bug that should be fixed ASAP, before Python 3.6 is out.

[2016-10-06 18:02] SamWhited commented on #55
I think it was just that the `ssl_object` wasn't being set on 3.4 (see the issues I posted, that regression has already been fixed). I'll try to get more info out of them though, and submit a patch if anything is required on the asyncio side.

[2016-10-06 18:08] 1st1 commented on #55
Cool! Thank a lot for investigating this.

[2016-10-08 22:02] iceb0y commented on #14
tested on windows - the signal handling code doesn't work on windows, probably due to usage of `socketpair`.

`Loop._setup_signals` -> `Loop._add_reader` -> `UVPoll.new` -> `UVPoll._init` -> `uv.uv_poll_init` -> `OSError: [Errno 4050] Unknown error`.

Why does signal handling use a `socketpair` which seems to post notification to the loop?

[2016-10-13 15:36] smortus opened #56 "uvloop + aiohttp: AttributeError: '_GatheringFuture' object has no attribute '_blocking'"
* **uvloop version**:
uvloop (0.5.3)
aiohttp (1.0.3)

* **python version**:
Python 3.5.2+

* **platform**:
Linux ubuntu 4.8.0-14-generic #15-Ubuntu SMP Tue Sep 20 22:02:02 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

Code:
[code]

traceback:
[code]

[2016-10-15 00:00] 1st1 commented on #56
I can't reproduce this. It's really weird that `_GatheringFuture` doesn't have the `_blocking` attribute.

[2016-10-17 10:02] mstyvane commented on #56
Hi @1st1, I was about to file the same bug. Just ran into this. Also this doesn't release the interpreter, I have to use `kill -9`

- Python 3.6.0b1
- asyncpg==0.5.4
- uvloop==0.5.3

Code:

    import asyncio

    import uvloop
    import asyncpg

    asyncio.set_event_loop_policy(uvloop.EventLoopPolicy())
    loop = asyncio.get_event_loop()

    statement = 'select id from dict.operators where co

[2016-10-17 17:53] TiberiumPY commented on #32
@1st1 by the way, you can already play around PyPy3.5, there's nightly builds:
http://buildbot.pypy.org/nightly/py3.5/
It's not stable thought

[2016-10-17 21:47] 1st1 commented on #56
@smortus Are you sure you used python 3.5 and not 3.6?
@mstyvane I'm looking into this...

[2016-10-17 22:06] 1st1 commented on #56
The reason I can't reproduce this is because this has been fixed in 0.5.4. Please try it out.

[2016-10-18 04:33] smortus commented on #56
Confirm. With uvloop 0.5.4 app running normal.

[2016-10-18 04:48] mayfield opened #57 "TypeError on Future declaration in Python 3.6.0b2"
- **uvloop version**: 89bf69f497c5eda4fac45656ad8d9a19c34e987f
- **python version**: Python 3.6.0b2 (default, Oct 12 2016, 20:13:22) (From docker python:3.6 (e6d7f066d57f))
- **platform**: Linux 4.7.6-200.fc24.x86_64

Trying out uvloop on the b2 build of python 3.6 fails to import..

[code]

[2016-10-18 05:28] methane commented on #57
I'm sorry about incompatibilities at Python 3.6.
But inhertance from asyncio.future.Future is still required?

[2016-10-18 05:54] 1st1 commented on #57
@methane It's OK, that was expected. We can workaround the inheritance.  I already have a patch, but it segfaults python (I might have discovered a bug in Cython/Python 3.6, will need to check).

[2016-10-18 15:56] 1st1 commented on #56
Alright, closing the issue then!

[2016-10-18 15:56] #56 closed

[2016-10-21 20:07] 1st1 commented on #52
@iceb0y Are you still working on this?  I could probably expose a semi-public ctypes Ptr to the libuv event loop.

[2016-10-26 07:17] Dexus77 opened #59 "aiohttp.worker.GunicornUVLoopWebWorker + unix sockets Nginx - error"
- **uvloop version**: 0.5.4
- **python version**: 3.5.2
- **platform**: Centos7

Aiohttp recomended deploy Gunicorn + Nginx
Gunicorn (aiohttp.worker.GunicornWebWorker) + unix socket Nginx - OK
Ginicorn (aiohttp.worker.GunicornUVLoopWebWorker) + unix sockets Nginx - error

Traceback (most recent call last):
  File "/usr/local/python/3.5.2/lib/python3.5/site-packages/aiohttp/helpers.py", line 407, i

[2016-10-26 14:28] 1st1 commented on #59
I'll need some details on this:

* What kind of socket connection is the transport working with?  I.e. this exception can only be triggered if the socket is not `AF_INET` or `AF_INET6`.

* Can you provide the source code that exhibits the problem?

* Were you able to reproduce this on other OSes?

[2016-10-26 18:51] Dexus77 commented on #59
1. Yes, the problem is when connect via unix socket.
2. Test add. Main config Nginx - default.
3. Sorry, no other OS.

[testapp.zip](https://github.com/MagicStack/uvloop/files/554191/testapp.zip)

[2016-11-06 21:29] 1st1 commented on #59
Seems that somehow gunicorn or aiohttp bind UNIX address using a TCP server (`loop.create_server`, instead of `loop.create_unix_server`).

@asvetlov Do you have any idea what's going on?

[2016-11-06 21:45] 1st1 commented on #59
Ah, I got it: https://github.com/python/asyncio/pull/453

[2016-11-07 17:50] 1st1 commented on #57
uvloop 0.6.0 now runs on Python 3.6b3.

[2016-11-07 17:50] #57 closed

[2016-11-08 08:48] p1otr opened #60 "move build logic to setup.py"
Hi,

Could you move build logic from Makefile to setup.py? Like in asyncpg's 93733dba6c09673660614c014bae955dda9e8796?

TIA :)

[2016-11-08 18:52] 1st1 commented on #60
Yeah, that's planned. Why do you need that, btw?

[2016-11-08 20:55] p1otr commented on #60
I plan to package it for Debian and even though it's only one additional line in my Makefile (debian/rules) - I'm lazy and I don't like hacks (anymore :)
The more people use it (and more will regenerate .c file if it's in setup.py) - the less work for me later... and you want more people to regenerate it, run tests, etc. f.e. to detect bugs like https://bugs.python.org/issue28634 early - thanks fo

[2016-11-10 18:03] #60 closed

[2016-11-10 19:33] 1st1 commented on #59
This should be fixed in aiohttp `1.1.2` and uvloop `0.6.1`. Feel free to reopen if anything.

[2016-11-10 19:33] #59 closed

[2016-11-20 02:29] mayfield opened #61 "Asynchronous remove_writer and remove_reader."
* **e7bedb8b4dd1b53e99a20f6d9ccdf97e48c011a8**:
* **Python 3.5.2**:
* **Linux 4.8.6**:

I notice that `remove_reader` and `remove_writer` are asynchronous with respect to when the file descriptor is actually removed from its epoll set (linux terminology).  This is a byproduct of how libuv works.

This is different from the asyncio module and causes troubles with at least dup() based FDs.  Namely s

[2016-11-20 02:49] 1st1 commented on #61
I'm not sure I understand why this 100% CPU loop happens. From the libuv docs:

It seems that if you call `remove_reader` and `remove_writer` before closing the FD epoll errors that your strace dump shows should not happen...

I'd really appreciate if you could share your view on this.

[2016-11-20 02:53] 1st1 commented on #61
Also, we can probably use `uv_backend_fd()` to do some manual operations with epoll/kqueue.

[2016-11-20 08:21] mayfield commented on #61
Hi Yury,

I believe the CPU is being burned in the libuv poll here,

https://github.com/libuv/libuv/blob/v1.x/src/unix/linux-core.c#L327-L348

That in itself may be a libuv bug but I have less experience with their community to say for certain.

From what I've gathered epoll is susceptible to confusion when you feed it a dup() FD, then close the dup() based FD but leave the original file *descript

[2016-11-20 09:24] mayfield commented on #61
Here is a simplified test that will reproduce the issue.

[code]

[2016-11-20 23:55] 1st1 commented on #61
Seems that we can manually call `epoll_ctl` in `remove_reader`/`remove_writer` after the libuv poll handler is closed. Looks like it should be safe.

@saghul Is this something we should fix in libuv somehow?

[2016-11-22 01:59] 1st1 commented on #61
@mayfield Justin, https://github.com/MagicStack/uvloop/commit/641c26c441afb3393c7bf3acbb105be5f283b706 should fix the issue. Could you please review that commit and test if it fixes the issue (it does look like it fixes it).  I can make a new release tomorrow.

[2016-11-22 03:12] 1st1 commented on #42
`set_protocol` and `get_protocol` were added couple of releases ago. Closing this issue now.

[2016-11-22 03:12] #42 closed

[2016-11-22 08:41] mayfield commented on #61
My test cases are passing now.  Thank you very much @1st1!

[2016-11-22 15:17] 1st1 commented on #61
BTW, do you have any idea how to write a unittest for this in uvloop?

[2016-11-23 18:43] mayfield commented on #61
I've been just using time.process_time() to check CPU usage after letting the loop run for a second.  I wouldn't be comfortable putting that into a unittest but here it is for reference..

[code]

[2016-11-23 22:28] 1st1 commented on #14
FWIW I'm working on to add Windows support in https://github.com/MagicStack/uvloop/tree/win. Any help is welcome.

[2016-11-24 03:16] 1st1 commented on #14
Here's the PR https://github.com/MagicStack/uvloop/pull/62

[2016-11-24 03:42] 1st1 commented on #61
Yeah, process_time isn't going to be reliable.  I've added a direct regression test of epoll/fd.  Will make a release shortly.

[2016-12-01 14:58] 1st1 commented on #61
Closing this one, should be fixed in `v0.6.7`.

[2016-12-01 14:58] #61 closed

[2016-12-08 11:05] superstarrr opened #63 "uvloop + aiohttp RuntimeError: Timeout context manager should be used inside a task"
* **uvloop version**: 0.6.7
* **python version**: 3.5.2
* **platform**: CentOS 6.6
* **aiohttp version**: 1.0.5

Hi guys,

My program runs normally when using default asyncio policy. But if  installing the uvloop event loop policy,

[code]
the following exception will be raised:

[code]

Thanks!

[2016-12-08 16:43] NotSoSuper opened #64 "asyncio.get_child_watcher Not Working"
* **uvloop version**: Latest PIP
* **python version**: Python 3.5.2
* **platform**: Ubuntu Server 14.04

Using uvloop and asyncio.SubprocessProtocol to run shell commands asynchronously, these create zombie processes which are not garbage collected properly unless you run `asyncio.get_child_watcher().attach_loop(loop)`.

Since I am using uvloop as the event loop policy, for some reason it is not c

[2016-12-08 16:46] 1st1 commented on #64
You shouldn't use `asyncio.get_child_watcher().attach_loop(loop)` with uvloop -- uvloop doesn't have child watchers.

Are you saying that running shell commands with uvloop creates zombies? Can you share your code?

[2016-12-08 21:05] 1st1 commented on #63
This is strange, I don't see how this can happen. Could you please share the code so that I can debug this?

[2016-12-08 21:15] 1st1 commented on #64
What kind of commands are you trying to execute? Short/long living?
Can you move `transport.close()` into a `finally` block so that it's guaranteed to be called?

[2016-12-08 21:16] NotSoSuper commented on #64
Most of the commands are usually `ffmpeg` which takes only a few seconds, others are stuff like `cowsay`, so nothing that takes too long. I'll try that, thanks.

[2016-12-08 21:25] 1st1 commented on #64
Yeah, so far I can't reproduce this :(  It would be extremely helpful if you could provide a complete minimal program that reproduces the issue.

[2016-12-08 21:38] NotSoSuper commented on #64
Yeah, just tried this and it never ends: https://gist.github.com/NotSoSuper/df228346bc9645d105216d9f8c2fe38b

Thing I can't explain here is that in my main projects code the function returns the result from `cowsay` or etc but this script won't return anything, not sure..

[2016-12-08 21:48] 1st1 commented on #64
Exits normally (well, with exceptions on `set_result(True)` being called more than once) for me on Mac OS and Gentoo. Strange.

[2016-12-08 22:02] NotSoSuper commented on #64
Yeah, putting it into a python script file and running it returned the same but I'm getting zombie processes from somewhere when this is run.

[2016-12-09 05:43] superstarrr commented on #63
Finally I figure it out, it is caused by the incorrect position of installing code.

The installing code is put under one imported module which creates an instance of `aiohttp.ClientSession()`, for example,

[code]

[2016-12-09 11:49] lsbardel opened #65 "pulsar socket server in multiprocessing with uvloop"
* **uvloop version**: 0.6.7
* **python version**: 3.5.2 & 3.6.0
* **platform**: Mac OS x

When running pulsar in multiprocessing mode I get an error when using ``uvloop`` as the event loop.
To reproduce the error try the same code in issue #54 with pulsar from master branch:
[code]
uvloop complains about the socket being not valid (closed probably).
[code]
This occurs when using asyncio subprocess

[2016-12-09 13:07] asvetlov commented on #63
Hrrr.

You are creating a global var here (class variable actually).
It is anti-pattern with very bad smell.

[2016-12-09 19:06] martmists commented on #14
For those on windows 10, I believe you can use bash on ubuntu and install uvloop on there, or at least that seems to have worked for me.

[2016-12-09 21:15] 1st1 commented on #14
Great! FWIW I don't have time to focus on the IOCP win port right now, but I can definitely help with reviews/suggestions if someone is interested in it.

[2016-12-12 05:43] superstarrr commented on #63
I have to admit that it is a bad idea. And will remove these lazy code. Thanks!

[2016-12-12 17:19] 1st1 commented on #63
Should this issue be closed now?

[2016-12-12 17:19] 1st1 commented on #65
I'll take a look in a few days.

[2016-12-16 17:24] 1st1 commented on #65
I see a different traceback now:

[code]

I'm not sure I understand what's going on here. What socket are you working with?

[2016-12-16 17:25] 1st1 commented on #64
Have you been able to fix this/find the problem?

[2016-12-16 17:25] 1st1 commented on #63
OK, closing this.

[2016-12-16 17:25] #63 closed

[2016-12-17 11:20] lsbardel commented on #65
**In the Master Process**
I create stream socket
[code]
I get the sockets (usually two, ipv4 & v6) and remove their readers from the event loop
[code]
At this point I have the server sockets ready but not registered with the event loop.
At this point these sockets are passed to child processes using the multiprocessing socket serialization mechanism.

**In the Child Process**
The sockets are regis

[2016-12-17 15:49] lsbardel commented on #65
As I mentioned above, if I don't remove the reader, multiprocessing socket servers work in pulsar.
That is what I'm doing now, therefore this ticket is not as important as I thought it was.
However, it would still be interesting to know why uvloop does not like my original implementation.

[2016-12-17 18:19] 1st1 commented on #65
Oh, you shouldn't do that :( You are not supposed to use low-level `remove_reader` API on underlying sockets of any transports or servers. This already triggers an error (for most cases) in asyncio and uvloop. I'll fix asyncio & uvloop to raise an error if you use them for server sockets too.

The idea is that when you use `create_server` or `create_connection`, the loop has some state in addition

[2016-12-18 16:47] lsbardel commented on #65
I was trying to avoid doing that :wink:
Anyway, as I said above, this is no longer an issue for me. Thanks for looking into it.

[2016-12-18 16:47] #65 closed

[2016-12-24 21:39] 1st1 commented on #64
Ok, closing this one as I'm still unable to reproduce on both Linux and OS X. Feel free to reopen.

[2016-12-24 21:39] #64 closed

[2016-12-26 07:08] atbentley opened #66 "uvloop does not implement _write_to_self"
* **uvloop version**: 0.7.0
* **python version**: 3.6.0
* **platform**: OS X El Capitan 10.11.6

With asyncio default event loop the following works fine:
[code]

With uvloop, the following will raise a `AttributeError: 'Loop' object has no attribute '_write_to_self'`
[code]

After a quick glance it looks like some of the new async generator code is calling `_write_to_self`, in particular the `_as

[2016-12-27 11:38] msean opened #67 "What is happens with CancelledError?"
* **uvloop version**: 0.6.7
* **python version**:3.5.0
* **platform**:centos

I deployed my project on sanic(based on vuloop) frame,managered four process with supervisor,used nginx as a http proxy.I did a stress test with ab,some requests got 200 response,but some requests failed,In my log,the error message about the statck is below:
[code]
What's wrong with it ?

[2016-12-28 11:47] livercat opened #68 "Exception in callback UVTransport._start_reading"
* **uvloop version**: 0.6.7, 0.7.0
* **python version**: 3.5.2, 3.6
* **platform**: Windows 10, CentOS 7

My application is sending ~300 POST requests per second to an HTTPS url, using asyncio + uvloop + aiohttp.
Occasionally i get the following stack trace:

I'm not sure this error is caused by uvloop, or if it's merely surfaced here, but I would appreciate any pointers for further investigation.

[2016-12-29 11:42] spatz opened #69 "Upload wheel for Python 3.6"
* **uvloop version**: 0.7.0
* **python version**: 3.6
* **platform**: Linux

[2016-12-30 15:04] asvetlov commented on #67
I believe the issue is not related to uvloop.
Raise the question on sanic's bugtracker.

[2016-12-30 21:54] 1st1 commented on #68
Uvloop uses asyncio implementation of ssl, so it's very likely an asyncio bug. Can you reproduce this without uvloop?

[2016-12-30 21:57] 1st1 commented on #67
Yes, `CancelledError` is a normal thing to occur. Most likely this has to be properly handled in Sanic.  Please report this issue on their tracker, and please reopen if this turns out to be a uvloop bug.

[2016-12-30 21:57] #67 closed

[2016-12-30 21:57] 1st1 commented on #66
Thanks for reporting this. We'll fix this in the next release (soon)

[2017-01-01 14:32] ignatenkobrain opened #70 "Don't install _testbase.py"
We don't install test files, so it's kinda useless. Or we should start installing test files.

[2017-01-01 14:38] ignatenkobrain opened #71 "multiple tests are failing"
* **uvloop version**: 0.7.0
* **python version**: 3.6.0
* **platform**: Fedora/Rawhide

[code]

Not sure how to debug it..

[2017-01-01 20:51] 1st1 commented on #71
Interesting. Did you compile uvloop from source? What version of cython do you have? What's the output of `make`?

[2017-01-01 20:53] 1st1 commented on #71
Also, are you sure you have CPython 3.6.0 final, and not some beta version?

[2017-01-01 20:56] 1st1 commented on #70
Right, we don't "install" them, but they are part of the distribution so that setuptools/package managers can run them before the actual installation. `_testbase.py` file is harmless, I don't think we need any extra effort to remove it.

[2017-01-01 20:56] #70 closed

[2017-01-01 20:57] 1st1 commented on #69
@elprans Do you think we can enable wheels for 3.6? Looks like manylinux supports it now: https://github.com/pypa/manylinux/pull/89

[2017-01-01 21:05] ignatenkobrain commented on #71
[code]

Here is full build log: https://ignatenkobrain.fedorapeople.org/uvloop.log

[2017-01-02 04:01] elprans commented on #69
Done.

[2017-01-02 04:01] #69 closed

[2017-01-02 04:24] elprans commented on #71
@ignatenkobrain What would be the best way to reproduce this?

[2017-01-02 04:52] 1st1 commented on #66
Fixed in 0.7.1. Thanks for reporting this!

[2017-01-02 04:52] #66 closed

[2017-01-02 04:57] atbentley commented on #66
Thanks for the quick fix, Yury!

[2017-01-02 23:29] ignatenkobrain commented on #71
@elprans hmm. you can run docker container with `fedora:rawhide` image, update it, install `dnf-plugins-core` package and:
[code]

[2017-01-08 03:09] vladyslav2 opened #72 "Need advice: is it really stupid to assign some variables to loop ?"
I'm not sure it is right thing to do, but i cannot dig any information about, so i just decide to ask.

Lets say for each request i need to create db connection and pass that connection to each function that need data from db.

I came to idea that i can do this:
[code]

and then everywhere i would need db connection i can do this:
[code]

i tried - that does not work in that way. So i wonder shoul

[2017-01-09 10:09] livercat commented on #68
Should I try to reproduce the issue without uvloop, or does the commit above resolve it in any case?
Thank you.

[2017-01-10 18:31] livercat commented on #68
I was able to reproduce the RuntimeError in asyncio without uvloop. Closing this issue.
Thank you.

[2017-01-10 18:31] #68 closed

[2017-01-10 20:18] 1st1 commented on #72
Yeah, I don't think that the loop is a best place for a global context data. But I'm not sure what to advice to use instead, since there is no decent local-coroutine-storage sort of library or solution at the moment. Maybe in 3.7 we'll have a solution for this in asyncio core.

[2017-01-10 20:18] #72 closed

[2017-01-12 03:25] bfbd888 commented on #14
Is it support "Bash on Ubuntu on Windows"?

It's running on Windows Subsystem for Linux（WSL）。

[2017-01-12 17:33] 1st1 commented on #14
@bfbd888 I think it should work, but I haven't tried it myself.

[2017-01-14 21:29] jasonab opened #73 "Outbound connection performance"
Python 3.6, Uvloop 0.7.2

I've been running a Sanic server for some time as an event collector, and its performance has been amazing compared to regular Python. I'd like to expand my usage of Sanic/uvloop to some of my other servers, including my API Gateway, so I wrote a small prototype to test it. My gateway mostly makes Redis calls to assemble a JSON payload for return. What I've found is that

[2017-01-15 18:48] 1st1 commented on #73
It is an issue of the implementation. Couple of things I found:

*  aredis uses streams, a high-level IO abstraction. You can get much more performance using the low-level `asyncio.Protocol`, like asyncpg does.

* It seems that aredis uses text protocol, not binary.

* No Cython optimizations.

We don't need a fast Redis client for ourselves at the moment, hence no plans to develop it. Although, t

[2017-01-15 18:48] #73 closed

[2017-01-15 19:04] jasonab commented on #73
Appreciate the feedback, I'll look into making those suggestions to aredis.

[2017-01-15 21:09] jettify commented on #73
Sync database clients usually faster on localhost (if implemented properly), since there is no coroutine/event loop overhead, but when we have network with concurrent clients, this is where async stuff begin to shine.

[2017-01-20 20:14] stuaxo opened #74 "Can uvloop help performance if I don't use sockets or http ?"
Hi,
   I use asyncio along with aiozmq and lots of   yielding from @asyncio.coroutines for a non-webapp.

All the benchmarks seem to mention using sockets + http.
Will I see any benefits from uvloop for my non-web-based app ?

S

[2017-01-20 20:15] 1st1 commented on #74
You should, uvloop have a faster event loop/IO selector implementations.

[2017-01-21 11:35] stuaxo commented on #74
Awesome, cheers - I'll give it a go :)

[2017-01-21 11:35] #74 closed

[2017-01-31 19:44] fafhrd91 opened #75 "asyncio.TimeHandle is not supported"
got this in tests

[code]

[2017-01-31 19:46] 1st1 commented on #75
Can you provide a snippet to reproduce this?

Overall I think it's normal. `asyncio.TimeHandle` is an implementation detail of asyncio. In general, you shouldn't expect some private asyncio classes to be supported in uvloop and vice versa.

[2017-01-31 19:51] fafhrd91 commented on #75
i am fine with that. one problem is public name `asyncio.TimeHandle`

[2017-01-31 19:51] #75 closed

[2017-01-31 19:52] 1st1 commented on #75
Right. I think I can easily add support for them, but since this is the first time I see this bug, I'd wait until more people complain. Thanks!

[2017-02-04 12:18] Noctem opened #76 "Segmentation faults"
* **uvloop version**: 0.7.2
* **python version**: 3.6.0
* **platform**: macOS 10.12.3

So I just updated my application with `call_later`s (Noctem/Monocle@d51220a) that are executed pretty frequently and now I'm getting segfaults.

The crashed thread looks like this:
[code]
Any idea what's happening here? I'm not 100% sure that uvloop is to blame, but it seems to be. My last session with uvloop cr

[2017-02-04 17:12] 1st1 commented on #76
Yeah, most likely it's a uvloop bug. How can I reproduce this?

[2017-02-04 21:33] Noctem commented on #76
@1st1 I'm not completely sure, other than that the problem started occurring in this commit of my project: Noctem/Monocle@42fd9d8

I assume it's related to the new `call_later`s [here](https://github.com/Noctem/Monocle/blob/cache/monocle/db.py#L160-L163) and [here](https://github.com/Noctem/Monocle/blob/cache/monocle/db.py#L198-L201). So it's executing thousands of `call_later`s an hour with delay

[2017-02-05 02:09] Noctem commented on #76
Here's a new and somewhat different looking crash report:
[Python_2017-02-04-190530_Noctem-Desktop.crash](https://github.com/MagicStack/uvloop/files/752698/Python_2017-02-04-190530_Noctem-Desktop.txt)
It ran 24 minutes before segfaulting this time.

[2017-02-06 17:59] 1st1 commented on #76
I see couple of CPython threads in the crash logs. Do you use `call_later()` only from one thread or from multiple?

[2017-02-06 18:19] 1st1 commented on #76
I've created this simple script: https://gist.github.com/1st1/41e9ba2bb563a64da6dbb9a33e2ee42b which calls `call_later` thousands times a second, but I still fail to reproduce the issue.

It would be really helpful if we can write a smaller script which reproduces the crash... See my above question about the threads. Also, do you keep references to `Handle`s? Do you cancel them?

[2017-02-07 00:32] Noctem commented on #76
Okay, this seems to reliably reproduce it on my system:
[code]
The test script operates similarly (at a basic level) to my project. There's one thread that's launching coroutines with `run_coroutine_threadsafe()` and there's another thread that I recently started using `call_later` in. I guess since `call_later` isn't thread-safe this is dangerous, and yet CPython's event loop runs this intentiona

[2017-02-07 17:23] 1st1 commented on #76
Huge thanks, I was able to see the bug on my machine.

So yeah, the cause of the segfault is calling `call_later` from another thread. FWIW, if you run you script with `PYTHONASYNCIODEBUG=1` or `loop.set_debug(True)` you'll see a `RuntimeError` telling you that `call_later` is not thread-safe (change `5620` to `10` to see it).  Also, in debug more, even vanilla asyncio gives you that `RuntimeError

[2017-02-07 17:23] #76 closed

[2017-02-08 11:25] Noctem commented on #76
Thanks for that snippet. Noctem/monocle@69896c458796f86589808b45336610b79fb8974a seems to have fixed it.

I should have realized sooner that threading was the issue.

[2017-02-15 17:18] Sniedes722 opened #79 "Fatal Error: Missing loop.o"
* **uvloop version: 0.8.0**:
* **python version: 3.5.2**:
* **platform: Linux x86-64**:

When trying to build the loop extension, I get the following error:

----->

building 'uvloop.loop' extension

creating build/temp.linux-x86_64-3.5

creating build/temp.linux-x86_64-3.5/uvloop

x86_64-linux-gnu-gcc -pthread -DNDEBUG -g -fwrapv -O2 -Wall -Wstrict-prototypes -g -fstack-protector --param=ssp-buff

[2017-02-15 17:23] Sniedes722 commented on #79
The loop compiles fine when I install sanic using package installer. however, trying to independently build the loop through pip does not.

[2017-02-16 10:07] fyears commented on #14
A side note on 2017/02/16 for those who are interested later.

I come across these issues today (actually I want to install [`sanic`](https://github.com/channelcat/sanic)), and try the latest windows branch commit https://github.com/MagicStack/uvloop/commit/3c741b4c27fec94569ff8c65222e4f314cf44079.

I `git clone` the repo and try to `python setup.py install`. I meet an error complaining python 2.7

[2017-02-27 22:54] #79 closed

[2017-02-28 20:40] 1st1 commented on #71
Is this still a problem we need to look into? I don't see anyone else posting here. Maybe it was just a glitch in that particular Fedora version/build...

[2017-02-28 20:40] 1st1 commented on #79
Sorry I didn't look into this promptly. Were you able to resolve the issue?

[2017-02-28 21:13] Sniedes722 commented on #79
@1st1 yup builds fine for 3.5.2 & 3.6.0. Thanks.

[2017-02-28 21:27] 1st1 commented on #79
Great! Thanks!

[2017-03-04 08:10] iceb0y opened #80 "Probably leaking file objects somewhere"
Reproduce:

[code]

When using the builtin loop, the fds opened every time is the same, and while using uvloop, the fds are increasing.

[2017-03-04 18:32] 1st1 commented on #71
Alright, closing this one.

[2017-03-04 18:32] #71 closed

[2017-03-05 04:15] 1st1 commented on #80
What if you explicitly close the transport?

[code]

[2017-03-05 06:38] iceb0y commented on #80
Then it doesn't leak. However the default loop doesn't leak even if the transport not explicitly closed.

[2017-03-05 18:58] 1st1 commented on #80
What OS are you testing this on?  For me, on macOS, the behaviour with uvloop is the same as without it...

[2017-03-05 19:10] iceb0y commented on #80
Linux Mint 18.1 Serena
Linux 4.4.0-53-generic 64bit
Python 3.5.2 64bit
uvloop 0.8.0

[2017-03-06 18:20] iceb0y commented on #80
Tested on Linux 3.13 and 4.8, and Python 3.6 - they all leak.

[2017-03-06 19:47] 1st1 commented on #80
I see that transports aren't GCed. I'm not sure how I feel about this bug: on one hand you have to close transports explicitly. On the other, we want uvloop to behave exactly as asyncio.

Anyways, I'll try to get to the bottom of this.

[2017-03-17 17:34] rudineirk opened #81 "Process stop listening on tcp port when multiple tasks are running on the same event loop"
* **uvloop version**: 0.8.0
* **python version**: 3.6.0
* **platform**: Fedora 25

I was trying to create a HTTP service that connects to a mongo database to provide a CRUD API, that implemented some logic to reconnect to the mongo database if the connection was not available when the process started.

The problem I found is that the process stops listening on the HTTP TCP port after the first tim

[2017-03-18 01:51] bright-pan commented on #81
hi,

i test it but i can`t reproduct it.

[code]

[2017-03-18 02:27] rudineirk commented on #81
You have to start the application without mongodb running (or with an invalid host), the problem happens after the first connection retry (about 5 seconds after the process started)

[2017-03-21 11:30] TiberiumPY commented on #32
@1st1 the time has come!
First public release of PyPy3.5

[2017-03-21 16:27] 1st1 commented on #32
I'll take a look soon :)

[2017-03-28 17:03] btegs opened #82 "Error installing uvloop via pip for PyPy3.5 v5.7.0"
* **uvloop version**:
* **python version**:
* **platform**:

I recently downloaded a standalone Linux 64-bit binary of the new [PyPy3.5 v5.7.0](https://bitbucket.org/pypy/pypy/downloads/pypy3-v5.7.0-linux64.tar.bz2) and after installing the latest version of pip via the [get-pip.py](https://bootstrap.pypa.io/get-pip.py) script, I immediately went to install uvloop 0.8 as the next package directly

[2017-03-28 17:03] 1st1 commented on #82
PyPy isn't yet supported, sorry.

[2017-03-28 17:03] #82 closed

[2017-03-28 17:04] btegs commented on #82
Is this something PyPy needs to work out or is this an issue the uvloop team will investigate?

[2017-03-28 17:07] 1st1 commented on #82
We'll likely have to rewrite most of the code to use cffi (not cython), so it's not a quick fix. You should be able to use vanilla asyncio on PyPy, which should be quite a bit faster than vanilla asyncio on CPython.

[2017-03-28 21:19] btegs commented on #82
So what would the solution be down the road? Converting uvloop away from Cython to cffi or to have a fork of uvloop that is cffi that can be run by PyPy3?

[2017-03-28 21:36] 1st1 commented on #82
First, I would want to write some benchmarks to see if uvloop even needs to be ported to PyPy. Maybe vanilla asyncio is fast enough on it. That means that I'll need a basic trimmed down version of CFFI-ed uvloop enough to run an echo server benchmark.

Second, if it does make sense to port uvloop to PyPy, then most likely we can convert 60-90% of the code to use CFFI for both CPython and PyPy (wit

[2017-03-28 21:37] 1st1 commented on #32
Referencing another discussion: https://github.com/MagicStack/uvloop/issues/82

[2017-03-28 21:39] TiberiumN commented on #82
@1st1 see this - https://github.com/koehlma/uv

[2017-03-29 05:32] delfick opened #83 "Segfault"
* **uvloop version**: 0.8
* **python version**: 3.5.1
* **platform**: Linux

Hi,

I have a fairly complex application that I've built and I've noticed with enough load it segfaults.

I was able to get a coredump:

    #0  0x000000000054e41a in PyObject_GC_UnTrack (op=op@entry=0x7f7118345648) at Modules/gcmodule.c:1681
            g = 0x7f7118345630
    #1  0x000000000048ee56 in tupledealloc (op=0x

[2017-03-29 15:43] 1st1 commented on #83
Can you reproduce this with `PYTHONASYNCIODEBUG=1` in env?

[2017-03-30 04:35] delfick commented on #83
This problem only seems to happen in prod, where we have enough load, so we turned it on for half an hour in prod.

During that time nothing crashed and we can't seem to find any log messages that would indicate something worth looking at (only things like "Executing <Handle Task._wakeup created at /project/photons-app/photons_app/executor.py:167> took 0.386 seconds").

It also seemed to slow down

[2017-03-30 06:16] delfick commented on #83
The good news is we turned off uvloop and it was still segfaulting, so the core dump above is most like a red herring....

[2017-03-30 06:16] #83 closed

[2017-04-04 12:25] frederikaalund opened #85 "'sockname' is different when using uvloop compared to asyncio's built-in event loop"
* **uvloop version**: 0.8.0
* **Python version**: 3.5.2
* **Platform**: Linux 4.4 / buildroot
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: Yes

The following program can be used to re-produce the issue.

    import asyncio

    # Toggle to use uvloop
    use_uvloop = True
    if use_uvloop:
        import uvloop
        asyncio.set_event_loop_policy(uvloop.EventLoopPolicy())

[2017-04-04 15:48] livercat commented on #68
Update: this issue manifested when aiohttp tried to cleanup closed SSL transports. This was default behavior until aiohttp 2.0.5, and doesn't reproduce after. To avoid this issue with earlier versions of aiohttp, set disable_cleanup_closed=False when creating the TCPConnector.

[2017-04-04 15:49] 1st1 commented on #68
Does this mean that there's a bug in CPython ssl or asyncio/sslproto?

[2017-04-04 16:59] livercat commented on #68
Judging by the comment in the aiohttp cleanup routine, it might be a bug in asyncio:
`:param tuple enable_cleanup_closed: Some ssl servers do not properly complete ssl shutdown process, in that case asyncio leaks ssl connections. If this parameter is set to True, aiohttp additionally aborts underlining transport after 2 seconds. It is off by default.`

[2017-04-04 17:06] 1st1 commented on #68
OK, I now remember that it's a known issue. We'll fix this in 3.7 or even next 3.6 bugfix release.

[2017-04-04 17:08] livercat commented on #68
Awesome, thank you!

[2017-04-18 06:46] hexcola commented on #14
@bfbd888 @1st1 it works on "Bash on Ubuntu on Windows", tested on Windows 10.

![Sanic on windows 10 using uvloop](https://raw.githubusercontent.com/hexcola/Notebook/master/Sanic/_images/Image%20052.png)

[2017-04-18 23:13] 1st1 commented on #80
I found the problem that causes this. The core problem is that the `Transport` is kept alive while its underlying FD is not closed, which shouldn't be an issue for web servers etc. In any case, I have a fix in mind, will try to implement it soon.

[2017-04-18 23:16] 1st1 commented on #81
This happens because you don't save a reference to the server object that `app.create_server` returns. If you replace `asyncio.ensure_future(server, loop=loop)` with `srv = loop.run_until_complete(server)`, everything should work as expected.

Anyways, this is something where asyncio and uvloop behave a bit differently. I'll fix this in the next release.

[2017-04-18 23:18] 1st1 commented on #85
I'll take a look into this. For now you should be able to use this workaround:

[code]

[2017-04-20 14:59] ganwell commented on #52
Well, I'll need that too, I am writing a portable messaging library [chirp](https://github.com/concretecloud/chirp) connecting the major platforms (python, node, ruby... etc and C of course). The most efficient way to write bindings is uvloop and chirp sharing uv_loop_t. It shouldn't be too difficult to grab the pointer somewhere. It will take some time till I am writing the bindings... if there i

[2017-04-28 20:37] vg-pulsepoint opened #88 "Assertion failed: (loop->watchers[w->fd] == w), function uv__io_stop, file src/unix/core.c, line 881."
What does this error mean?

[2017-04-28 20:38] 1st1 commented on #88
This means that something really unexpected is happening in the libuv layer. How did you trigger this?

[2017-05-01 09:52] frederikaalund commented on #85
For the record, the workaround does not work. `local_ip` contains `('0.0.0.0', 34252)`.

[2017-05-04 07:50] boramalper opened #89 "Question: Unclear Benchmark Results on GitHub and on the blog"
I'm confused while comparing the benchmark results on GitHub and the website. On GitHub, there are results for `asyncio/uvloop sockets/streams/protocol` but on the blog only `asyncio/uvloop streams/NONE` listed. Does `uvloop` [here on the blog](https://magic.io/blog/uvloop-blazing-fast-python-networking/) mean `uvloop protocol` or what?

Thanks!

[2017-05-04 16:18] 1st1 commented on #89
Yes.

[2017-05-04 16:18] #89 closed

[2017-05-09 18:33] ronindesign commented on #89
<disregard>

[2017-05-11 14:32] JelleZijlstra opened #90 "create_subprocess doesn't work with PathLike objects"
* **uvloop version**: 0.8.0
* **Python version**: 3.6.1
* **Platform**: Ubuntu
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: Yes

The following test script fails as follows:
[code]
[code]

This works fine with vanilla asyncio. Fixing the bug is probably just a matter of calling `os.fspath`/`PyOS_FSPath` somewhere.

[2017-05-15 20:26] richardkiss opened #91 "Can't UDP sendto named host"
* **uvloop v0.80**:
* **Python 3.6.1**:
* **Platform Mac OS X**:
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env? yes**:

In uvloop 0.8.0, an error occurs when sending UDP data to a named host. The default asyncio eventloop allows it (and it probably shouldn't since sendto can block on the name lookup). Here is an example.
[code]

[2017-05-21 18:11] srault95 opened #92 "New benchmark for uvloop"
https://github.com/srault95/vmbench/tree/add_features

- uvloop/aiohttp
- Sanic
- Gevent

http://espace-groupware.com/docs/vmbench/report-http.html

The best is ... uvloop !!!

Thank.

[2017-05-25 19:53] ghost opened #93 "Runtime errors when launching many shell subprocesses."
Here's the code to reproduce those issues:

[code]
The exact runtime error raised depends on where I run it:

This raises multiple `RuntimeError: Cannot pause_reading() when closing`:
* **uvloop version**: 0.8.0
* **Python version**: 3.6.1
* **Platform**: linux 4.7.8-1 i686 pae, backport, Debian 8
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: yes

On the same system with pytho

[2017-05-25 20:12] 1st1 commented on #93
Interesting. Thanks for providing a code to reproduce this, I'll take a look.

[2017-06-02 17:29] samuelcolvin opened #94 "Exception in callback Loop._read_from_self after signal"
* **uvloop version**: `0.8.0` (pypi latest)
* **Python version**: 3.6.1 (via docker image `python:3.6-alpine`) and 3.6.2 running without docker
* **Platform**: ubuntu 17.04 & docker
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: yes

[arq](https://github.com/samuelcolvin/arq) has some fairly complex shutdown logic using signals. Today I tried using it with uvloop, everything we

[2017-06-02 18:09] 1st1 commented on #94
What do I need to do to replicate this?

[2017-06-02 18:19] samuelcolvin commented on #94
code `demo.py`:

[code]

run:
[code]

If you comment out the two uvloop lines it should work fine.

[2017-06-02 18:29] samuelcolvin commented on #94
(oh, and you need redis installed)

[2017-06-07 14:08] Glandos opened #95 "IDNA encoding of hostname"
* **uvloop version**: 0.8.0
* **Python version**: 3.5
* **Platform**: Debian GNU/Linux testing
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: I don't know

Commit 1d5ae0b introduces IDNA encoding. While this is a good solution for FQDN hostnames, this is really a performance killer when sending a lot of small packets using lots of IP address (use case in https://github.com/bora

[2017-06-07 14:18] asvetlov commented on #95
You could skip encoding by sending `host` parameter as bytes, isn't it?

[2017-06-07 14:21] Glandos commented on #95
Yes, but the `host` parameter is the one received from `datagram_received`, so it theoretically could be a FQDN.

[2017-06-07 18:10] 1st1 commented on #95
Yes, there's a fast test. I'll look into this.

[2017-06-11 12:46] thedrow commented on #32
https://github.com/saghul/pyuv already implements a CFFI extension that works on PyPy3 beta.
It's just a matter of providing the necessary Python API that wraps it.

[2017-06-11 12:48] TiberiumN commented on #32
@thedrow where is CFFI in pyuv?
I see no CFFI here, only usual Python C extension

[2017-06-11 12:49] TiberiumN commented on #32
@thedrow if uvloop would use pyuv, PyPy3.5 would be slower, because Python C Extensions are slower than CFFI extensions (in PyPy)

[2017-06-11 12:50] TiberiumN commented on #32
@thedrow uvloop wants to be fast, so if it wants to be fast on PyPy it should use CFFI

[2017-06-11 12:51] TiberiumN commented on #32
@thedrow , @1st1, I found this uvloop CFFI extension - https://github.com/koehlma/uv/

[2017-06-22 12:05] kura opened #97 "add_reader not functioning the same as asyncio version"
* **uvloop version**: 0.8.0
* **Python version**: 3.6.1
* **Platform**: Debian 9
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: yes

I lifted a threaded controller from another project to use during testing.

[code]

The line `self.loop.add_reader(self._rsock, self._reader)` fails because uvloop's `add_reader` expects the first argument to be a file descriptor whereas `asyncio`

[2017-06-25 07:24] lwis opened #98 "aiocoap + uvloop = Address family for hostname not supported"
* **uvloop version**: 0.8.0
* **Python version**: 3.6
* **Platform**: Linux
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: Yes

Not sure if this is an issue downstream with aiocoap, or uvloop. Looking for some information/direction.

[code]

Ref: home-assistant/home-assistant#7815

[2017-06-27 20:39] 1st1 commented on #97
Interesting. I think some code in asyncio needs to be fixed too :)

[2017-06-27 20:40] 1st1 commented on #97
Specifically, asyncio code expects that `fd` is an int, not a file-like object. Everything works by accident because `selector` module supports both.

[2017-06-27 20:42] kura commented on #97
Cool! Well, that would totally explain it. You OK to copy this issue to CPython issues?

[2017-06-27 20:43] 1st1 commented on #97
Let me experiment with this a bit more to confirm that we need to fix anything in asyncio. I just did a cursory look.

[2017-06-27 20:45] kura commented on #97
Rgr that.

[2017-07-03 01:59] tritium21 commented on #14
Bash on Windows is Windows Subsystem for Linux.  You are not running a windows executable, you are quite literally running (at the time of your post) Ubuntu 14.04 x86-64.  WSL is not a production tool, it exists to let windows based developers write binaries that will be deployed on real ubuntu 14.04 (and now 16.04) machines.

WSL runs real linux binaries on the windows kernel ... unreliably.  It'

[2017-07-10 15:28] cbay opened #99 "sock_connect: TypeError: getaddrinfo() takes exactly 2 positional arguments (4 given)"
* **uvloop version**: 0.8.0
* **Python version**: 3.6.0
* **Platform**: Linux
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: yes

The following program fails when executed with uvloop (works fine with asyncio):

[code]

[code]

[2017-07-12 09:33] samuelcolvin commented on #94
@1st1 did you have a chance to look at this? Is there anything else I can do to help?

[2017-07-12 15:45] 1st1 commented on #94
I'll try to find some time to look at all open uvloop issues sometime this week.

[2017-07-20 02:48] chenfengyuan opened #100 "call sock_accept(or sock_recv) and close sock before next uv loop will cause entire program core dump"
* **uvloop version**: git 490c410(current master)
* **Python version**: Python 3.6.1
* **Platform**: Linux  4.10.0-26-generic #30-Ubuntu SMP Tue Jun 27 09:30:12 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: yes

Hi all,

call `sock_accept` and `close` sock before next `uv` loop will cause entire program `core dump`. Because `epoll` will

[2017-07-20 05:01] chenfengyuan commented on #100
Maybe we should use a socket wrapper that make close and other method async, to avoid this problem entirely.But this solution is not standard.Or can we use a modified version of libuv?  There is already a [libuv compatible hack](https://github.com/MagicStack/uvloop/blob/b257a00350e8118635666c6e6d032c03c0a22c36/uvloop/handles/poll.pyx#L68-L85)

[2017-07-20 06:58] srikawnth commented on #61
Is this fix added in C library of libuv as well?

[2017-07-20 09:17] ly0 commented on #100
it's very helpful to me!

[2017-07-26 20:49] kura commented on #93
Might be worth doing a couple of things;

1. Check what you max processes and max open file descriptors are set to. You can do this with `ulimit -a`.
    I'd say while it's unlikely you'll be hitting max processes. if you're running this quite frequently during testing you may easily hit the open files limit, especially if it's causing unclean process shutdown.
2. Check how much entropy you have i

[2017-07-28 08:40] matpow2 commented on #14
What is the status on this?

[2017-07-28 15:30] 1st1 commented on #14
@matpow2 libuv has some design inconsistencies between Posix/Win versions. For nodejs they don't matter, but for uvloop they need to be fixed first. Unfortunately, that's a considerable chunk of work, and I don't need uvloop to be compatible with Windows for my own use. Therefore, the work on the port is stalled.

If someone wants to champion the PR, I'll certainly help them (both with changes to

[2017-08-07 18:46] myusuf3 commented on #98
any updates on this? blocking progress up stream willing to work to get it fixed.

[2017-08-07 19:38] 1st1 commented on #98
Sorry, no update as of yet. I'm a bit behind on releasing a new uvloop version with fixes to all open issues. Will try to dedicate a few days closer to the end of the week. If you are willing to make a PR fixing this go ahead!

[2017-08-08 19:21] myusuf3 commented on #98
@1st1 can you tell where the issue is? how you would go about fixing it, I can dive in. Thanks for responding so quick.

[2017-08-26 04:19] tomitm commented on #98
I believe I know what the issue is, but not familiar enough to setup and test this - feel free to give this a try @myusuf3.

Looking at the trace, the issue is here while `aiocoap` called with [`family=socket.AF_INET6`](https://github.com/chrysn/aiocoap/blob/a2c2abe28107af0d492fac715f915dd3307d4a31/aiocoap/transports/udp6.py#L140).
https://github.com/MagicStack/uvloop/blob/490c41032172b1a7d365ea83

[2017-08-26 16:34] lwis commented on #98
@myusuf3 is this something you could take a look at? If not I can probably set some time aside in a 3-4 days.

[2017-08-26 16:43] 1st1 commented on #98
I'll fix this on Monday.

[2017-08-26 16:45] lwis commented on #98
@1st1 you da man, let us know if you need us to test bud :+1:

[2017-08-27 09:42] lwis commented on #98
For those interested, I tested a fix for this;

https://github.com/chrysn/aiocoap/blob/a2c2abe28107af0d492fac715f915dd3307d4a31/aiocoap/transports/udp6.py#L142 fails with;

[code]

[2017-08-27 12:41] tvoinarovskyi opened #102 "Should `float("inf")` for timeout raise an Overflow error?"
* **uvloop version**: 0.8.0
* **Python version**: python 3.5.0
* **Platform**: osx
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: yes

Rather this is to confirm if this is actually a bug )

Code:
[code]

Error:
[code]

The problem comes from https://github.com/aio-libs/aiokafka/pull/210, basically, I put in ``float('inf')`` for the timeout in `wait(fs)` call and it worked with

[2017-08-28 17:08] myusuf3 commented on #98
@1st1 huzzah!!

[2017-08-28 17:38] 1st1 commented on #98
Just pushed a commit to master that should fix this.  Could someone please try it out?

[2017-08-28 20:30] terrisgit commented on #98
I am also hitting this problem. Thank you for this package!

[2017-08-28 21:35] 1st1 commented on #98
I'll wait till tomorrow if someone tries the master branch out and confirms that the problem is fixed.  If not, I'll issue a minor uvloop release tomorrow morning.

[2017-08-29 05:47] lwis commented on #98
@1st1 feel free to release, I believe the issue is resolved from your end and the incompatibility now resides downstream in aiocoap. Thanks!

[2017-08-30 14:05] InvaderGir1 opened #103 "Uvloop missing debug slow callback information."
* **uvloop version**: 0.8.0
* **Python version**: 3.6.0
* **Platform**: OS-X Sierra 10.12.6
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: Yes

Hi, I wrote a project using uvloop, and I wanted to start profiling  to see what methods take long. From what I am aware of cProfile, etc.. don't support asyncio very well (maybe I am wrong?, is there something advised for profiling asy

[2017-09-01 01:25] cmcqueen opened #104 "Difficult to cross-compile (e.g. Yocto)"
* **uvloop version**: 0.8.0
* **Python version**: 3.5.2
* **Platform**: Cross-compile build using Yocto for BeagleBone Black (ARM)
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: N/A

I am trying to make a Yocto bitbake recipe to build uvloop. At the `build_ext` step it gives an error for the `libuv` `./configure` call, saying for cross-compilation it needs the `--host` paramete

[2017-09-01 01:27] cmcqueen commented on #104
My Yocto bitbake recipe `python3-uvloop_0.8.0.bb` is as follows:

    DESCRIPTION = "Fast implementation of asyncio event loop on top of libuv"
    HOMEPAGE = "https://pypi.python.org/pypi/uvloop"
    SECTION = "devel/python"
    LICENSE = "MIT & Apache-2.0"
    LIC_FILES_CHKSUM = "file://LICENSE-MIT;md5=3bd0b2e751776b370b2151ac508af939 \
                        file://LICENSE-APACHE;md5=dc498442d

[2017-09-01 01:48] cmcqueen commented on #104
I'm not sure if those patches are suitable for incorporating into the mainline code. If you think they are, I could submit a pull request.

[2017-09-02 01:46] terrisgit commented on #98
I'd be happy to try this but I don't think I have the time or skill to build it.

[2017-09-05 01:08] Sherlock-Holo opened #107 "In python 3.6.2, I can't use uvloop in asyncio"
* **uvloop version**:0.8.0
* **Python version**:3.6.2
* **Platform**:arch linux x64
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**:

This is my code [asyncio can't use uvloop](https://gist.github.com/Sherlock-Holo/468b85feca5599f9baab0df65c64cd13), I try it on my server with python 3.5 and it works well, I guess uvloop doesn't support python 3.6 well, what should I do to make my

[2017-09-05 17:55] Sherlock-Holo commented on #107
I install it by [AUR python-uvloop](https://aur.archlinux.org/packages/python-uvloop/)

[2017-09-07 14:43] Terris-Dianomic commented on #98
See also https://github.com/chrysn/aiocoap/issues/84

[2017-09-10 15:23] PrFeurisson commented on #93
@kura Well using /dev/urandom was just a cheap way to open file descriptors and generate data, the same problems appears on my computer with the command "yes | head -c %s" and a length of 10,000,000, even after removing the limits on the number of open file descriptors.

[2017-09-11 12:27] mosajjal commented on #107
I recommend using a `virtualenv` and installing it with pip. Works perfectly for me.

[code]

[2017-09-11 18:14] Sherlock-Holo commented on #107
I used Arch official repo libuv and then `build_ext --use-system-libuv`
`build_py`, now I can installed it on my Arch. I written a comment about it
on aur python-uvloop waiting for maintainer reply me.

Alireza Mosajjal <notifications@github.com>于2017年9月11日周一 下午8:27写道：

[2017-09-12 20:42] 1st1 commented on #98
I've just released 0.8.1 which should fix the issue. Please test.  Sorry it took so long, I was completely blocked with working on PEP 550.

[2017-09-13 08:48] chrysn opened #108 "create_datagram_endpoint does not work with IPv6"
* **uvloop version**: 0.8.1
* **Python version**: 3.5.4rc1
* **Platform**: Debian GNU/Linux
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: yes

While the default asyncio main loop can easily accept both IPv4 and IPv6 addresses n `create_datagram_endpoint(remote_addr=...)`, uvloop accepts IPv4 address only.

The [attached example](https://github.com/MagicStack/uvloop/files/12987

[2017-09-15 13:54] chrysn opened #109 "UDP "port unreachable" is not exposed"
* **uvloop version**: 0.8.1
* **Python version**: 3.5.4rc1
* **Platform**: Debian GNU/Linux
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: yes

The [example](https://github.com/MagicStack/uvloop/files/1298789/echo.py.txt) from issue #108, when run as `./echo.py 0 127.0.0.1` (running an [example from the Python documentation](https://docs.python.org/3/library/asyncio-protocol.ht

[2017-09-17 17:50] luckcolors commented on #14
@1st1 Hey, i've noticed that the in the PR you refer to an uvloop pr wich has been merged. https://github.com/libuv/libuv/pull/1447
Could you check if working on this issue can proceed? :)

[2017-09-19 12:51] chrysn commented on #108
More precisely, it does not work *without further options* with IPv6; setting `family=AF_INET6` does make a `::1` connection work, but then again doesn't allow v4 addresses to be used without prior inspection of the address for which family to set. Passing `flags=socket.AI_V4MAPPED` in addition to family creates a default behavior that seems to be equivalent to asyncio's. (asyncio claims that it d

[2017-09-19 17:56] 1st1 commented on #108
Alright, I'll take a look how Python/asyncio implements that.

[2017-09-19 17:58] 1st1 commented on #108
BTW, feel free to submit a PR if you have a good idea how to fix this before I find time.

[2017-10-02 19:38] floqqi commented on #14
@1st1 @luckcolors would be interesting for me, too! Any chance? Would be great to see frameworks like Sanic working on Windows :)

[2017-10-10 17:14] 1st1 commented on #14
Nothing prevents sanic to work on Windows.  uvloop should be an *optional* dependency.

[2017-10-16 07:14] tonal commented on #92
Can you test for Pothon 3.6.x?

[2017-10-16 20:33] alex-eri commented on #92
best was sanic workers. what is "sanic workers"?

[2017-10-20 20:42] aknaebel commented on #14
Some project like uvicorn (https://github.com/encode/uvicorn) use uvloop and cannot be used on windows which is very restrictive

[2017-10-20 20:45] 1st1 commented on #14
uvloop should be an **optional** dependency.  It doesn't provide any extra APIs on top of vanilla asyncio, it's an accelerator.  It happens that uvloop only works on posix right now and it's OK.

Please file a bug report to uvicorn to make uvloop dep optional.

[2017-10-23 14:05] JulienPalard opened #110 "Fails to install with Python 3.7"
* **uvloop version**: 0.8.1
* **Python version**: 3.7a1
* **Platform**: Debian 9.1
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: Not relevant

Uvloop fails to install from pypi with Python 3.7 as the PyCFunctionFast signature has changed. It has been fixed in cython 0.26.1.

[2017-10-26 12:15] thedrow commented on #32
Seems like the CFFI extension is no longer maintained :(

[2017-10-28 13:56] industrialsynthfreak commented on #110
I can confirm. No difference on Sierra for both 0.7.x and 0.8.x.

[2017-11-02 12:05] mkn2016 opened #111 "Errors while building from ujson and httptools"
* **uvloop version**: 0.8.1
* **Python version**: 3.5.3
* **Platform**: Ubuntu 14.04 x86_64-linux-gnu-gcc
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**:

**# Error when building ujson**
![ujson](https://user-images.githubusercontent.com/19587930/32325352-acfc9e2a-bfdf-11e7-82f0-04b07210d92e.png)

**# Error when building httptools**
![http-tools](https://user-images.githubuserco

[2017-11-02 12:36] oneek commented on #111
As you can see, Python.h header file is not available in your system.

How to fix this you can see in this SO answer: https://stackoverflow.com/a/21530768

[2017-11-02 12:51] mkn2016 commented on #111
OMG...it was right in-front of me all i had to do was look. Fixed it. Can't thank you in enough!

[2017-11-02 12:51] #111 closed

[2017-11-08 23:34] dakyri commented on #14
Yuri, what's the state of play with getting the windows port  working? I might be interested getting this done (I have a use case for it) ... at least as one contributor. I've worked with libuv in c/c++, so I know my way around that. Any idea how much work would be invoved time wise to get something functional?

[2017-11-09 02:39] 1st1 commented on #14
I almost got it working, except cases where the API accepts an existing socket to work with.  I.e. `create_server(sock=sock)`, not `create_server(addr)`.  The best approach would be to build uvloop on Windows with the patch (https://github.com/MagicStack/uvloop/pull/62) applied and work from that point.

[2017-11-09 18:21] asvetlov opened #112 "Implement set_child_watcher in uvloop policy"
`AbstractEventLoopPolicy.set_child_watcher()` is part of asyncio protocol.

See aio-libs/aiohttp#2491 for details

[2017-11-09 20:23] dakyri commented on #14
Cool! That sounds like it's viable or close enough for me as it stands already, but I'll be happy to pick up the ball and contribute moving forwards.

[2017-11-10 22:31] 1st1 commented on #104
https://github.com/MagicStack/uvloop/commit/357cb60a1ac5afa391697debedc841ee5db56ea2 should fix the "unresolved symbol pthread_atfork" problem.

[2017-11-10 22:33] 1st1 commented on #104
Please submit a PR to add `HOST_SYS` env option. Although I'd rename it to `LIBUV_CONFIGURE_HOST`.

[2017-11-10 22:35] 1st1 commented on #102
`libuv` won't work with `inf`.  I guess a reasonable option would be to convert `inf` timeouts to `100 years from now`.

[2017-11-11 20:34] 1st1 commented on #112
I think I'll keep `set_child_watcher` non implemented. Windows policy doesn't implement it, which suggests us that it's OK for a working policy to not support this API.  So my advice is to simply handle `NotImplementedError`.

[2017-11-11 20:34] #112 closed

[2017-11-13 15:32] 1st1 commented on #98
Closing this now.

[2017-11-13 15:32] #98 closed

[2017-11-13 15:33] 1st1 commented on #92
Nice! Stay tuned for more improvements in uvloop & asyncio => better performance :)

[2017-11-13 15:33] #92 closed

[2017-11-13 15:33] 1st1 commented on #102
Fixed in master. Will be in the next uvloop release (0.9.0) soon.

[2017-11-13 15:33] #102 closed

[2017-11-13 15:34] 1st1 commented on #110
Fixed in master. Will be in the next uvloop release (0.9.0) soon. Keep in mind that Cython isn't compatible with 3.7.0a2 yet, so we'll only have 3.7.0a1 compatibility.

[2017-11-13 15:34] #110 closed

[2017-11-13 15:35] 1st1 commented on #107
Look like this isn't a uvloop issue, but rather that it's related to Arch packaging. Closing this, feel free to reopen.

[2017-11-13 15:35] #107 closed

[2017-11-13 15:36] 1st1 commented on #104
Will be in the next uvloop release (0.9.0) soon.

[2017-11-13 15:36] #104 closed

[2017-11-13 15:44] 1st1 commented on #90
Fixed in master. Will be in the next uvloop release (0.9.0) soon.

[2017-11-13 15:44] #90 closed

[2017-11-13 15:44] 1st1 commented on #39
Fixed in master. Will be in the next uvloop release (0.9.0) soon.

[2017-11-13 15:44] #39 closed

[2017-11-13 15:45] 1st1 commented on #1
I'll just close this.  First async file IO must be implemented in asyncio directly.

[2017-11-13 15:45] #1 closed

[2017-11-13 16:26] 1st1 commented on #95
Fixed in master. Will be in 0.9.0 release (soon)

[2017-11-13 16:26] #95 closed

[2017-11-13 16:32] JelleZijlstra commented on #90
Thanks!

[2017-11-13 19:15] asvetlov opened #115 "Request for uvloop 1.0 release"
The library is pretty stable.
I trust it personally.
But `1.0` version number is the sign of officially supported stability. Sometimes people are scared about `0.xxx` version numbers.

My story.
Almost two ears ago at EuroPython people asked me: "Why aiohttp has a release number `0.22`? Is it stable or not?"
Just after the conference we've released aiohttp 1.0. No dramatic changes and no significa

[2017-11-13 19:21] 1st1 commented on #115
I plan to make a few changes to internals that can potentially require a few rounds of bugfix releases.  Let's release 0.9.x, give it a month and release 1.0 after that.

[2017-11-13 19:50] asvetlov commented on #115
Works for me.
Feel free to close the issue.

[2017-11-13 19:51] 1st1 commented on #115
Thanks, Andrew

[2017-11-13 19:51] #115 closed

[2017-11-13 19:56] 1st1 commented on #97
Fixed in master.  Will be in the next release 0.9.0 soon

[2017-11-13 19:56] #97 closed

[2017-11-13 19:57] 1st1 commented on #88
Closing this one. Please reopen if you find a way to reproduce this.

[2017-11-13 19:57] #88 closed

[2017-11-13 20:10] 1st1 commented on #99
It works in asyncio by pure accident: https://github.com/python/cpython/blob/master/Lib/asyncio/base_events.py#L163

Please fix your program, as asyncio will raise the same error in Python 3.7.

[2017-11-13 21:06] 1st1 commented on #99
My mistake.  After some testing with IPv6 connections I confirm this is a bug in uvloop.

[2017-11-13 21:43] 1st1 commented on #99
Fixed. Will be shipped in uvloop 0.9.0 soon.

[2017-11-13 21:43] #99 closed

[2017-11-15 19:01] 1st1 commented on #100
There's not much we can do here.  uvloop can't detect/intercept `socket.close()`, and libuv/epoll have no mechanisms to behave correctly when such an unexpected thing happens.

I filed an issue to add new API to CPython https://bugs.python.org/issue32038 to intercept `socket.close()` calls.

[2017-11-15 20:25] 1st1 commented on #100
@saghul Do you think it's possible to fix epoll code in libuv like this?

[code]

[2017-11-15 22:32] 1st1 commented on #94
Why do you use `signal.signal` instead of `loop.add_signal_handler`?

[2017-11-15 22:33] samuelcolvin commented on #94
I guess my mistake, I'll try `add_signal_handler` and let you know whether that fixes it.

[2017-11-15 22:36] 1st1 commented on #94
Where do you handle `HandledExit`? There's clearly some difference in how uvloop and vanilla asyncio dispatch the signal.  Using `add_signal_handler` API should workaround your issue, but I'd like to understand what's going on here anyways..

[2017-11-15 22:37] samuelcolvin commented on #94
https://github.com/samuelcolvin/arq/blob/master/arq/worker.py#L435

[2017-11-15 22:39] 1st1 commented on #94
Right, that's what I thought. I'll try to figure out what's really going on here.

[2017-11-15 23:23] 1st1 commented on #94
I think I figured this out.  You install a signal handler using `signal.signal()` API, which means that the event loop has no control over when and how the signal will be processed.

*With asyncio:*

It so happens that the signal arrives when we select on sockets [1].  Because that code isn't guarded with `try..except`, any exception there will stop the loop. That's why when your `SIGINT` handler

[2017-11-15 23:23] #94 closed

[2017-11-15 23:47] samuelcolvin commented on #94
Thanks so much for the explanation.

I've started a PR https://github.com/samuelcolvin/arq/pull/73 to implement both your suggestions.

[2017-11-15 23:51] 1st1 commented on #94
To be more specific: you should probably keep using `signal.signal()` for `SIGINT`, and `loop.add_signal_handler()` for other signals.  But in any case please take my advice with a grain of salt, I suggest you to experiment and see what works best. Correctly handling signals is super hard and there's no generic advice that works in all cases.

[2017-11-15 23:55] samuelcolvin commented on #94
I know signals are tricky. I built arq partly because libraries like rq handle signals in strange ways. :-)

They're made more difficult because it's virtually impossible to write proper tests for all cases.

I'll definitely test a lot manually before I release and updated with this change.

[2017-11-16 10:24] chenfengyuan commented on #100
@1st1 I filed an issue months ago (https://bugs.python.org/issue30996).
I suppose callback or loop.sock_close can solve the problem to some degree. Either way is better than do nothing.

[2017-11-17 00:15] 1st1 commented on #100
Good news!  It appears there's undocumented API for preventing socket objects from closing.  uvloop will no longer crash.  The fix will be in the next release (soon).

[2017-11-17 00:15] #100 closed

[2017-11-17 03:04] 1st1 commented on #93
Fixed in master.  A simple race between transports and high-level asyncio streams.  A new uvloop version with a fix will be released soon.

[2017-11-17 03:04] #93 closed

[2017-11-21 16:02] #81 closed

[2017-11-21 16:03] 1st1 commented on #81
Fixed in master, will be in the next release (soon)

[2017-11-21 16:31] 1st1 commented on #103
Fixed in master.  Will be in the next release (soon)

[2017-11-21 16:31] #103 closed

[2017-11-21 21:31] 1st1 commented on #80
Actually, asyncio behaves in exactly the same way -- the `Transport` is kept alive by the `_read_ready` bound method as long as selector is monitoring its socket.

With 3.6.3 I don't see any difference between uvloop and vanilla asyncio.  On Linux, FDs get reused at some point of time when a GC happens (probably because `_read_ready` callback is triggered because the other end of the pipe is close

[2017-11-21 21:31] #80 closed

[2017-11-24 23:47] 1st1 commented on #109
Should be fixed in master.  Can you test if UDP works for you guys now?

[2017-11-24 23:47] 1st1 commented on #108
Fixed in master.  Will be in the next uvloop release next week.

[2017-11-24 23:47] 1st1 commented on #85
Fixed in master. Will be in the next release (soon)

[2017-11-25 08:58] frederikaalund commented on #85
Thank you very much. I'll try the master branch on Monday.

[2017-11-25 09:47] matemax commented on #14
@1st1 ,can you merge master into win branch?

[2017-11-25 14:18] 1st1 commented on #14
I'll take a look on Monday. Are you using the win branch?

[2017-11-25 19:25] matemax commented on #14
No, but our project is using uvloop and python 3.6. I am going to make it cross-platform. 25.11.2017, 17:19, "Yury Selivanov" <notifications@github.com>:I'll take a look on Monday. Are you using the win branch?—You are receiving this because you commented.Reply to this email directly, view it on GitHub, or mute the thread. 

[2017-11-26 04:28] 1st1 commented on #14
I've rebased it.  Have no idea if it still compiles on Windows, but it does compile OK on *nix after the rebase.

[2017-11-26 06:09] 1st1 commented on #91
Good catch.  I've fixed uvloop to raise an error when a DNS lookup is needed in `.sendto()`. I will fix asyncio in a similar fashion.  The fix will be in the next uvloop release in a couple of days.

[2017-11-26 08:50] matemax commented on #14
<details>
 <summary>Failed build</summary>
 warning: uvloop\handles/stream.pyx:318:8: Unreachable code
    warning: uvloop\loop.pyx:2750:4: Unreachable code

    Error compiling Cython file:
    ------------------------------------------------------------
    ...
                self._fatal_error(exc, True)
                return

            cdef:
                int backend_id
                sy

[2017-11-27 00:06] 1st1 commented on #109
Please try uvloop v0.9.0, where this bug should be fixed.

[2017-11-27 00:06] #109 closed

[2017-11-27 00:06] 1st1 commented on #108
Please try uvloop v0.9.0!

[2017-11-27 00:06] #108 closed

[2017-11-27 00:06] 1st1 commented on #91
Please try uvloop v0.9.0.

[2017-11-27 00:06] #91 closed

[2017-11-27 00:06] 1st1 commented on #85
Please try uvloop v0.9.0, where this bug should be fixed.

[2017-11-27 00:06] #85 closed

[2017-11-27 00:07] 1st1 commented on #110
v0.9.0 should be compatible with 3.7.0a1

[2017-11-27 00:09] 1st1 commented on #102
Please try uvloop v0.9.0.

[2017-11-27 00:09] 1st1 commented on #104
Please try uvloop v0.9.0.

[2017-11-27 00:09] 1st1 commented on #39
Please try uvloop v0.9.0.

[2017-11-27 00:09] 1st1 commented on #95
Please try uvloop v0.9.0.

[2017-11-27 00:10] 1st1 commented on #90
Please try uvloop v0.9.0.

[2017-11-27 00:10] 1st1 commented on #97
0.9.0 is available now!

[2017-11-27 00:10] 1st1 commented on #99
Please try uvloop v0.9.0.

[2017-11-27 00:10] 1st1 commented on #100
Please try uvloop v0.9.0.

[2017-11-27 00:11] 1st1 commented on #103
Please try uvloop v0.9.0.

[2017-11-27 00:11] 1st1 commented on #81
Please try uvloop v0.9.0.

[2017-11-27 01:54] cjrh commented on #110
Verified, works against Python nightly in one of my projects :100:

[2017-11-27 10:46] frederikaalund commented on #85
Works here, thanks!

[2017-11-27 14:25] soonum opened #118 "Blocking loop.subprocess_shell() and loop.subprocess_exec()"
* **uvloop version**: 0.9.0
* **Python version**: 3.6.1
* **Platform**: UNIX
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: n.a.

Hi there,

I'm facing the same problem encountered in CPython issue [#414](https://github.com/python/asyncio/issues/414). Since the patch (see issue [#428](https://github.com/python/asyncio/pull/428)) is not upstreamed in asyncio yet, I was wondering

[2017-11-28 17:07] 1st1 commented on #118
Yes.  Will take a look in a week or two.  If you have time to make a PR I'll review it.

[2017-11-29 12:08] nsavelyeva commented on #14
Hi All,
I'm looking forward to this feature, too. Respect and many thanks to all devs involved.
I tried today 'pip install uvloop' on Windows 10 and it failed with RuntimeError: uvloop does not support Windows at the moment.

[2017-12-01 02:07] qdbp opened #120 "UDP sendto performance regression 0.8 -> 0.9"
* **uvloop version**:
0.8.1 -> 0.9.1
* **Python version**:
3.6.3 / Cython version 0.27.3
* **Platform**:
Linux 4.13.12-1-ARCH
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**:

I upgraded uvloop from 0.8.1 to 0.9.1 and noticed a significant (5x slower) regression in the performance of sendto on the UDP transport. I've attached call profiling information as well as the relevant cod

[2017-12-01 03:00] 1st1 commented on #120
No need to debug or profile. Just read the release notes: in 0.9.x UDP has a different implementation, because libuv doesn't provide enough APIs for uvloop to maintain full compatibility with asyncio. I'll be making a PR to libuv to add new APIs so that we can have the old high-performance UDP implementation back.

10x slower is surprising though, I didn't expect this to happen.

[2017-12-01 20:03] 1st1 commented on #120
If anyone want to help me with this: we need to add `uv_udp_connect()` function to libuv (similar to `uv_tcp_connect()`). As soon as we have it there, we'll have a fast UDP in uvloop.  I myself am super busy with other stuff, and don't have any ETA on when I can make that libuv PR (it could be this weekend or 3 months later).

[2017-12-04 19:12] python-programmer opened #121 "UVLoop and AsyncIO"
* **uvloop version**: 0.9.1
* **Python version**: 3.6
* **Platform**: MacOS
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: NO

I run below code (websockets and uvloop):

[code]

and got below errors:

[code]

and also with **autobahn**
what's wrong?

**rabbit** and **turtle** race.

[2017-12-04 19:20] 1st1 commented on #121
Doesn't look like a uvloop issue. I'd suggest to file this issue to the websockets project.

[2017-12-04 19:54] python-programmer commented on #121
[code]

Does order matter?

below code works:

[code]

why?

[2017-12-04 19:56] 1st1 commented on #121
Well, to me the backtrace looks like something is working just by accident in asyncio and breaks in uvloop, because it schedules things slightly differently. I can't check it right now myself, we'll take a look later.

[2017-12-05 11:20] python-programmer commented on #121
Thank you for your prompt reply.

[2017-12-06 09:01] alxpy opened #122 "'coroutine' object is not iterable"
* **uvloop version**: 0.9.1
* **Python version**: 3.6
* **Platform**: Ubuntu Xenial

Version 0.9.1:
I got an error
[code]

Version 0.8.1:
Not reproduced

The error does not depend on other libraries.

[2017-12-06 13:41] Sherlock-Holo commented on #122
I forgot if I met this problem, but I guess the build script about uvloop
has some problems because I rewrite the Arch pkgbuild about uvloop and
fixed some problems like yours

Alex Kuzmenko <notifications@github.com> 于 2017年12月6日周三 17:01写道：

[2017-12-07 02:48] 1st1 commented on #122
Did you install uvloop via pip? Do you use any other packages that are compiled with Cython?

[2017-12-07 03:30] cmcqueen commented on #104
I've tried uvloop v0.9.0, and it fixes the two issues nicely. Thanks very much!

[2017-12-07 14:25] alxpy commented on #122
yes, we use pip. and we have other packages (for example: `aiohttp`, `cChardet`)

[2017-12-13 09:57] oliwarner commented on #122
I get the same with Python 3.6 (stock cpython, Ubuntu 17.10) with a pip-installed uvloop

[2017-12-25 05:16] achimnol commented on #122
Another bump here with Python 3.6 on Ubuntu as well.

[2018-01-09 04:43] AymanEG commented on #14
Hello from 2018 , good luck guys completing it :)

[2018-01-09 11:06] alexeykhit opened #123 "uvloop and web frameworks problem"
* **uvloop version**: 0.5.0 or 0.8.1 or 0.9.1
* **Python version**: 3.5.2
* **Platform**: Ubuntu 16.04.3 LTS
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: no

python web frameworks with uvloop perform a requests with higher priority than return the result of finished requests. Active requests accumulate and the result to the user is delayed.

There is no problem with the stand

[2018-01-09 11:44] 1st1 commented on #123
Please add some 'awaits' in your code where you call `time.sleep`. Otherwise the scheduler will simply call all blocking callbacks in a row and what you see is entirely reasonable.  I'll say more: there are no guarantees that vanilla asyncio will keep it's current behaviour w.r.t. how blocking code is exactly being executed.

[2018-01-09 13:20] alexeykhit commented on #123
I add custom awaits in my code. Vanilla asyncio has same problems only when I use **await after time.sleep**.

[code]

Maybe problem with `AbstractEventLoop.create_server` logic? Maybe `uvloop` has some `await` (code switch) before return result and vanilla asyncio don't?

[2018-01-09 17:08] alexeykhit commented on #123
@1st1 I was right about problem in `AbstractEventLoop.create_server`.

I write simple TCP Server:
https://github.com/alexeykhit/pyasyncweb-tests/blob/master/main_builtin.py
https://github.com/alexeykhit/pyasyncweb-tests/blob/master/main_builtin_uvloop.py

And make new tests:
https://github.com/alexeykhit/pyasyncweb-tests#test2

**Default loop** return result right after each `self.transport.write/

[2018-01-16 13:10] frnkvieira commented on #122
Same here. (Python 3.6.4, Ubuntu 17.10)

[2018-01-23 13:31] Urahara commented on #122
I facing this problem too, using aiohttp, any workaround? Snippet of my code:

[code]

[2018-01-23 16:02] 1st1 commented on #122
I suspect that the bug is in Cython.  Waiting for its next release to fix things.

[2018-01-23 19:28] asvetlov commented on #122
Have observed the same problem in our production code.
Surprisingly plain aiohttp example (without our straightforward but complex tooling built on top of aiohttp session) worked fine.

I was unable to pin down the minimal reproducible test case unfortunately.

[2018-01-27 23:28] dyeray commented on #122
I'm having the exact same issue on my project, in this case when creating an asyncio_redis connection. It only happens if I import BeautifulSoup at the module level. I'm importing it at the function level as a workaround.

[2018-01-28 18:12] codeadict commented on #122
I have this issue too with aiohttp

[2018-01-28 18:14] 1st1 commented on #122
Again, it looks like this is a regression in Cython.  Try installing earlier uvloop versions, we'll fix it with the next Cython release.

[2018-02-12 22:52] matthiasblondeel opened #125 "src/unix/core.c:896: uv__io_stop: Assertion `loop->watchers[w->fd] == w' failed. when opening a datagram endpoint"
* **uvloop version**:  0.9
* **Python version**: 3.6.1
* **Platform**: Linux
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: YES

In uvloop 0.9 it looks like an issue was introduced when creating new udp endpoints.
The below code works fine with uvloop 0.8, but fails and crashes the process in uvloop 0.9

[code]

On my system it takes somewhere between 10 and 90 iterations of th

[2018-03-01 18:20] 1st1 commented on #122
A new `@cython.iterable_coroutine` decorator has been added to Cython, which should resolve this issue. Now waiting for the next release to happen.

[2018-03-04 09:43] wallies opened #126 "AttributeError: module 'asyncio.coroutines' has no attribute 'debug_wrapper'"
* **uvloop version**: v0.9.1
* **Python version**: 3.7b1
* **Platform**: Alpine 3.7
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: Not relevant

AttributeError: module 'asyncio.coroutines' has no attribute 'debug_wrapper'

asyncio no longer uses sys.set_coroutine_wrapper. So asynicio.coroutines no longer has a debug_wrapper
https://github.com/python/cpython/pull/5250

[2018-03-08 21:05] byllyfish opened #128 "SIGCHLD not reaped by uvloop when using subprocess protocol"
* **uvloop version**: 0.9.1
* **Python version**:  3.6.3
* **Platform**:  OS X High Sierra
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: Yes

I'm seeing a difference of behavior between the default asyncio event loop and uvloop when using a subprocess. When my code closes a subprocess transport under uvloop, the protocol's connection_lost handler is not called.  The child proc

[2018-03-09 16:22] miracle2k opened #129 "Does uvloop support PyPy now?"
[code]

[code]

Works:

[code]

I can't find any information about this though, no announcements or anything.

[2018-03-09 16:36] 1st1 commented on #129
I didn't make any changes to uvloop to support PyPy, so I guess it's just cpyext / cython getting fixed. Would appreciate you sharing your experience with running uvloop on PyPy.

[2018-03-12 06:13] em1208 commented on #122
I have the same issue using uvloop 0.9.1 in python 3.5.2 with asyncio create_subprocess_exec. I hope this will be fixed soon!

[2018-03-13 22:02] byllyfish commented on #128
If I replace the line `transport.close()` with any of the following, the code runs fine under uvloop:

1. transport.kill()
2. transport.terminate()
3. transport.get_pipe_transport(0).close()

Looking at the code for UVProcessTransport.close (uvloop/handles/process.pyx), does self._close() close the libuv internal handle *before* it has had a chance to reap the child process?

[code]

uvloop Issue

[2018-03-14 00:00] 1st1 commented on #128
Yeah, there's definitely a bug here. I don't have time to look at this right now 😞, but feel free to submit a PR.

[2018-03-15 00:21] blakev opened #130 "Expose `Loop._thread_id`"
* **uvloop version**: 0.9.1 (libuv 1.19.2-1)
* **Python version**: 3.5.5
* **Platform**: Linux 4.15.7-1-ARCH
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: Yes

I cannot read `_thread_id` from the `uvloop.Loop` instance to help with deterministic scheduling. Even though it's protected, you can read the attribute from the `asyncio` default loop.

Consider,

[code]

[2018-03-15 00:24] 1st1 commented on #130
What is "deterministic scheduling"? There are absolutely no guarantees that `_thread_id` will be exposed in future asyncio releases, it's a protected non-documented property. I usually don't want to make uvloop compatible on that level.

[2018-03-15 03:04] blakev commented on #130
Events are scheduled differently if we're on the MainThread. I'm not sure how to check which thread the loop is running on without accessing that attribute.

[2018-03-15 03:17] 1st1 commented on #130
Well, generally you should just use `loop.call_soon_threadsafe` and `asyncio.run_coroutine_threadsafe`. Without you providing more details I cannot help you any further.

[2018-03-15 16:46] blakev commented on #130
[code]

[2018-03-15 16:46] #130 closed

[2018-03-19 08:33] janhn opened #131 "Server object in uvloop and asyncio"
* **uvloop version**: 0.9.1
* **Python version**: 3.5.2

Writing some unit tests using create_server() and trying to check the resulting
object, the object hierarchy differs between asyncio and uvloop. The following
will fail with uvloop:

[code]

Wouldn't it make sense for uvloop to have its Server class inherit from the same base?

[2018-03-21 06:11] woyodb commented on #122
**uvloop version:** 0.9.1
**Python version:** 3.6.4
**Platform**: Mac OS
I got the same issue, hope this to be fixed soon.

[2018-03-21 15:50] achimnol commented on #122
Cython 0.28 and 0.28.1 which includes the required patch is released now. :tada:
Ref: [The Cython 0.28.1 changelog](https://github.com/cython/cython/blob/0.28.1/CHANGES.rst)
@1st1 I think it is the time to update the binary package! :wink:

[2018-03-28 14:52] janhn opened #132 "uvloop and pypy: error with create_server"
* **uvloop version**: 0.9.1
* **Python version**: Python 3.5.3 / [PyPy 5.10.1 with GCC 7.2.0]
* **Platform**: linux

Trying uvloop with pypy3, I'm getting the following trace:
[code]

Here's the test case:
[code]

[2018-03-28 15:02] 1st1 commented on #132
Does it work with CPython?

PyPy isn't officially supported by uvloop, so some things can be broken.  I'd appreciate you investigating this and making a PR if it's a bug.

[2018-03-28 21:18] MarkReedZ opened #133 "Make test has 4 fails on ubuntu 16.04"
Ubuntu 16.04 python 3.5.2

make test has 4 fails on a new DO droplet.

Full output
https://gist.github.com/MarkReedZ/1208fcbe4ff117fffac7765cb8a62211
[code]
Fresh ubuntu 16.04:

sudo apt-get install libtool
sudo apt-get install automake
git clone --recursive https://github.com/MagicStack/uvloop.git
cd uvloop
python3 -m venv myvenv
source myvenv/bin/activate
pip install Cython
make
make test

[2018-03-29 09:34] janhn commented on #132
@1st1 Yes, it works with CPython.

I can try, but I'm not familiar with Cython. This is what I'm getting after some digging:
[code]

[2018-04-03 14:33] alpha-86 opened #134 "uvloop with asyncio.Event"
* **uvloop version 0.9.1:
* **Python 3.6.4:
* **Platform centos 7.4.1708:
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**:

When I use uvloop,then I got this problem.
the self._event is asyncio.Event

File "/home/work/work/inflight/base.py", line 25, in wait
    return await self._event.wait()
  File "/usr/lib64/python3.6/asyncio/locks.py", line 271, in wait
    yield from fut
Ru

[2018-04-03 14:51] 1st1 commented on #134
This seems to be a bug in your code that accidentally works under vanilla asyncio. Hard to say more without seeing a code snippet that reproduces this.

[2018-04-03 15:15] asvetlov commented on #134
I bet @alpha-86 creates `asyncio.Event()` in module global scope *before* installing uvloop.

[2018-04-03 15:22] 1st1 commented on #134
Yeah, you're right, that's what it seems to be

[2018-04-03 15:32] codywilbourn opened #135 "Inspecting events queued on loop?"
* **uvloop version**: 0.8.1
* **Python version**: 3.6
* **Platform**: Linux
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: N/A

We're using uvloop in Tornado, and believe we may have an issue with too many pending tasks. Is it possible to monitor the number of tasks scheduled on uvloop and/or extract timing data for the tasks?

Further details: We discovered during a database s

[2018-04-03 16:04] 1st1 commented on #135
You can use `asyncio.Task.all_tasks()` API to get a number of all asyncio tasks for a particular event loop.

You can also build a debug build of uvloop that exposes a `Loop.print_debug_info()` method.

I'm also looking into adding deeper introspection/tracing APIs to the next uvloop release. cc/ @ pfreixes

[2018-04-04 02:02] alpha-86 commented on #134
thanks，I found asyncio.Event() was creates in global scope.

I have fix this problem

[2018-04-04 02:02] #134 closed

[2018-04-04 09:29] ojii opened #136 "Cannot use `sys.stdout` in `create_subprocess_exec`."
* **uvloop version**: 0.9.1
* **Python version**: 3.6.5
* **Platform**: macOS 10.13.3
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: Same behavior irregardless of `PYTHONASYNCIODEBUG`.

Code for reproduction:

[code]

Output:

[code]

[2018-04-08 11:55] MarkReedZ opened #137 "uvloop.__version__ isn't set"
\_\_init__.py should set the version though the following can be done to get the version:

[code]

[2018-04-08 11:59] kxepal commented on #137
Not really. pkg_resources gets all the information from package metainformation (`.egg-info` or `.dist-info`). If you install uvloop correctly (via pip), then it will works as expected.
[code]

[2018-04-08 20:59] MarkReedZ commented on #137
I may have worded that wrong, but python states you should make the version number available in __version__ which I don't think is set by uvloop.

[2018-04-08 21:10] asvetlov commented on #137
IMHO Python never *states* it.
But very many distros (not all) have `__version__` attribute in top level package.

[2018-04-08 21:16] kxepal commented on #137
`__version__` thing is just an agreement the same as `__author__`, `__revision__` and the rest of those. These has no effect nor special meaning. However, version in package metadata matters since all the managers (pip, setuptools, pipenv) will use it for their work. Which makes it's more reliable source of truth than some custom module attribute.

The main problem with `__version__` attribute is

[2018-04-11 01:26] MarkReedZ commented on #52
I have a server that sets up uvloop in python then runs in C.  To access the loop I call out to python.  It would be nice to have access to the uv_loop_t to attach say this redis C client to the loop using the following code.

https://github.com/redis/hiredis/blob/master/adapters/libuv.h

Or if I have a PyObject * to the loop do I already have access?

cdef class Loop:
    cdef:
        uv.uv_loop

[2018-04-12 05:18] kyuupichan opened #139 "Misleading exception stack"
* **uvloop version**:  0.9.1
* **Python version**:  3.6.4
* **Platform**: MacOSX
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**:  Yes

Running the below with uvloop policy commented out results in an expected error:

  ConnectionRefusedError: [Errno 61] Connect call failed ('127.0.0.1', 1)

Running with uvloop policy uncommented:

  TypeError: getsockaddrarg() takes exactly 2 ar

[2018-04-12 06:31] asvetlov commented on #139
IPv6 address?

[2018-04-13 22:26] MarkReedZ commented on #52
Exposing the loop may not be a good idea as I believe I see uvloop and other libraries using the loop's data field.  It would at least need a note.  Locally I've exposed the loop by adding a function that returns it as a PyLong and am using it.

[2018-04-19 22:35] griimnak commented on #14
Goodluck, windows support would still be appreciated

[2018-04-24 02:27] achimnol commented on #136
I'm facing the same error in my Travis CI environment.

[2018-04-30 15:18] extraymond commented on #132
+1 for the problem.

I think the problem might be pypy not supporting async generator syntax since it's still based on 3.5.

[2018-05-01 00:43] btegs opened #140 "japronto breaks with uvloop. Is this a japronto or uvloop issue?"
My original issue is at https://github.com/squeaky-pl/japronto/issues/122 and I'm not sure if its the recent version of uvloop causing an error or the fact that japronto hasn't been maintained in a while. Uvloop works fine with Sanic, but japronto errors out on basic page load.

[2018-05-01 01:12] 1st1 commented on #140
Can you attach the full script to reproduce, along with versions of dependencies that you used?

[2018-05-01 14:11] btegs commented on #140
I'll give it a go again when I get home, but I did revert to uvloop 0.8.1 and it ran without a hitch.

[2018-05-01 17:11] squeaky-pl commented on #140
This doesn't belong here. The problem probably lies in Japronto: The original issue is here https://github.com/squeaky-pl/japronto/issues/99

[2018-05-01 17:48] squeaky-pl commented on #140
I hinted the issue author what he needs to do to fix it in https://github.com/squeaky-pl/japronto/issues/122, feel free to close.

[2018-05-01 17:49] #140 closed

[2018-05-01 17:49] 1st1 commented on #140
Thanks, @squeaky-pl.

[2018-05-01 22:03] btegs commented on #140
This isn't my project, so the fixing will have to come on yours or japronto's end.

[2018-05-02 02:35] btegs commented on #140
True, but when the maintainer of this project, @squeaky-pl is saying "I hinted the issue author what he needs to do to fix it" it shows that he doesn't care about this project and it should be moved to inactive status. It works with uvloop 0.8.1 but you don't want to force people to downgrade their packages.

[2018-05-02 11:43] squeaky-pl commented on #140
"He doesn't care" is a very broad statement. I certainly do care, if I would not care I would not bother to respond to you, or certainly not provide any further information. It's true that the project development is stale or inactive but I am not going to pull it down just because of that. I am also in touch with a couple of companies that actively keep using it (it's paid consulting, not open sou

[2018-05-07 02:08] 0x161e-swei opened #141 "stream.pyx:784 _on_read function pass more than one request to a read callback function"
* **uvloop version**:
0.9.1.
* **Python version**:
3.5.2
* **Platform**:
Ubuntu 16.04.4 with kernel version 4.13.0-39-generic
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**:
Yes, the error I got is still persistent.

I am using [sc2682cornell](https://github.com/sc2682cornell/wrk2) version of wrk2 to test sanic servers, which uses uvloop 0.9.1.

It turns out that when the call b

[2018-05-07 02:51] 1st1 commented on #141
Definitely not feature, but I'm not sure it's a bug of uvloop and not of sc2682cornell version of wrk. Would appreciate you investigating this further.

[2018-05-07 02:57] 0x161e-swei commented on #141
I was able to reproduce this with server provided in [vmbench](https://github.com/MagicStack/vmbench/blob/master/servers/asyncio_http_server.py) with the same load generator.

This server was configured to use uvloop and httptools.
Simply printing from `data_received` function gives me this:
[code]

It is unlikely that this is a bug of sc2682cornell since the same load generator works perfectly wi

[2018-05-07 03:27] 0x161e-swei commented on #141
Also profiled using wireshark, all the HTTP packets captured have a single request.

[2018-05-07 03:29] 1st1 commented on #141
Do you think you can create a failing unit test?

[2018-05-07 03:29] 1st1 commented on #141
Also, can you reproduce this with vanilla asyncio?

[2018-05-07 04:09] 0x161e-swei commented on #141
Interestingly I can indeed reproduce this with asyncio with httptools using the same server code at [vmbench](https://github.com/MagicStack/vmbench/blob/master/servers/asyncio_http_server.py)

As of unit test. I am afraid I cannot.

[2018-05-07 04:11] 1st1 commented on #141
Maybe this is an httptools bug then.

[2018-05-07 04:18] 0x161e-swei commented on #141
If I understand this correctly, the `data_received` function is called before the httpparser from httptools is even involved, right?

[2018-05-07 05:36] 0x161e-swei commented on #141
ok. now it makes sense to me.
So a data object in `data_received` function consisting of multiple requests is an expected behavior if the client is using HTTP pipelining?

[2018-05-07 15:30] 1st1 commented on #141
Probably. I never implemented support for HTTP pipelining but I imagine it works in this way: concatenate a bunch of HTTP requests and let the client parse them. Since HTTP pipelining isn't used widely, I guess it's a non-issue for sanic.

I'm going to close this issue since this isn't a uvloop (or even asyncio) bug.

[2018-05-07 15:30] #141 closed

[2018-05-10 12:53] toplinuxsir opened #142 "uvloop can work with tornado ?"
* **uvloop version**:
* **Python version**:
* **Platform**:
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**:

[2018-05-16 10:52] pbasista opened #143 "Segmentation fault while calling loop.create_future in finalizer (__del__) when a custom sys.excepthook is used"
* **uvloop version**: 0.9.1
* **Python version**: 3.6.5rc1
* **Platform**: linux
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: yes, in fact, it is reproducible *only* when the asyncio debug is enabled

When using uvloop and having a custom `sys.excepthook` which uses a variable from the outer scope, which has a finalizer (the `__del__` method) that creates a new future using `

[2018-05-18 20:03] wumpus commented on #126
I am seeing this on python 3.7.0b4 with uvloop 0.9.1

I installed from git -- it says it is uvloop-0.9.2.dev0 -- and I see the same error.

3.7 is getting close to release! People cannot easily test if fundamental libs like uvloop and pyyaml are not updated.

[2018-05-18 20:06] 1st1 commented on #126
I'll work on this next week. Expect to see an update soon.

[2018-05-18 20:07] 1st1 commented on #143
This seems to be a bug, I'll take a look. Thanks for reporting it!

[2018-05-18 20:08] 1st1 commented on #142
Yes, it should be possible: https://github.com/MagicStack/uvloop/wiki

[2018-05-18 20:08] #142 closed

[2018-05-18 20:09] 1st1 commented on #137
What's the actual intent behind checking `__version__`? Ideally you should never depend on it in your source code.

[2018-05-21 14:37] neko404notfound commented on #126
Can confirm this also.

If it is any use, this is the traceback I get for this.
[code]
Platform: Python3.7b4, Ubuntu 16.04.3 LTS x64

[2018-05-21 21:51] benjolitz opened #145 "uvloop run_in_executor prohibits coroutines (even if executor supports it) unlike asyncio run_in_executor"
* **uvloop version**:
uvloop==0.8.0
* **Python version**:
Python 3.6.2
* **Platform**:
OSX 16.7.0
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**:
Yes.

Existing Asyncio in CPython master (snapshot permalink: https://github.com/python/cpython/blob/b7555babe95ee0db2f1224ec53cfe68a005448a1/Lib/asyncio/base_events.py#L724-L734) does _not_ prohibit coroutines. I make use of this with

[2018-05-22 01:13] 1st1 commented on #145
If you look carefully at the asyncio code, you'll see that `run_in_executor` calls its `_check_callback()` method in debug mode:

https://github.com/python/cpython/blob/b7555babe95ee0db2f1224ec53cfe68a005448a1/Lib/asyncio/base_events.py#L726-L727

and `_check_callback()`, in turn,

https://github.com/python/cpython/blob/b7555babe95ee0db2f1224ec53cfe68a005448a1/Lib/asyncio/base_events.py#L679-L683

[2018-05-22 01:13] #145 closed

[2018-05-22 09:06] sakurai-youhei opened #146 "3.7 - 'asyncio.coroutines' has no attribute 'debug_wrapper'"
* **uvloop version**:
[code]
* **Python version**:
[code]
* **Platform**:
[code]
* **How to reproduce the bug with `PYTHONASYNCIODEBUG` in env**:
[code]
* **Error message**:
[code]
* **Root cause**:
The `asyncio.coroutines.debug_wrapper` was dropped in https://github.com/python/cpython/commit/fc2f407829d9817ddacccae6944dd0879cfaca24#diff-0caeb050855d4e381a842dc66be8c323.
* **Proposal of solution**

[2018-05-22 12:58] sakurai-youhei commented on #137
FYI: Mine is reliable & straightfoward version check by `python -c 'import uvloop; print(uvloop.__version__)'` rather than querying pip.

[2018-05-22 13:02] sakurai-youhei commented on #146
Duplicate with https://github.com/MagicStack/uvloop/issues/126. My apologies for spamming.

[2018-05-22 16:59] benjolitz commented on #145
Thank you 1st1. You’re correct.

I had not noticed that asyncio is stupidly opinionated in the interface for sharding out tasks to another worker.

[2018-05-22 19:28] benjolitz commented on #145
That's not short sighted - given the relative stasis that stdlib packages exist in, time-wise, it is quite reasonable to expect that interface restriction (no coroutines) will not change. You're free to be irked over my use of the word "stupid" but I stand by it being opinionated given that it's usually within the purview of an executor instance to reject unusable tasks (`submit` or an internal me

[2018-05-22 19:47] asvetlov commented on #145
@benjolitz your "custom executor" doesn't follow executor's contract.
The executor should accept a function (any callable with `__call__` method technically) and args and call it in a separate thread/process.
Calling a coroutine in an executor doesn't make sense.
asyncio was not designed in this way from the very beginning (but had no sanity check for the case).
Eventually, we've added the check (

[2018-05-22 20:14] 1st1 commented on #145
asyncio has existed for many years now, and you're the first one who tries to use `run_in_executor` this way (and people request new asyncio features all the time). It suggests that what you're asking is either a very niche feature or a misuse of the API. It's your job to convince people otherwise :)

Being opinionated is fine, trying to abuse some API and complain that it didn't work in an offens

[2018-05-22 22:04] #129 closed

[2018-05-23 16:53] 1st1 commented on #121
Closing this one. Feel free to follow up if you think it's a uvloop issue.

[2018-05-23 16:53] #121 closed

[2018-05-23 18:07] 1st1 commented on #146
Fixed in #149.  You can now build uvloop from source and test under Python 3.7.

[2018-05-23 18:07] #146 closed

[2018-05-23 18:08] 1st1 commented on #126
Fixed in #149.  You can now build uvloop from source and test under Python 3.7.

[2018-05-23 18:08] #126 closed

[2018-05-23 18:22] 1st1 commented on #131
Unfortunately this isn't something that we can do in Cython (at least the support is very limited in 0.28.2). Many of uvloop objects are defined as extension types which cannot be derived from Python classes. A better option is to simply use duck typing.

[2018-05-23 18:22] #131 closed

[2018-05-23 18:26] asvetlov commented on #131
Theoretically, we can modify asyncio abstract classes to be real ABCs like `collection.abc`.
@1st1 do you think it makes sense?

[2018-05-23 18:28] 1st1 commented on #131
Then isinstance checks will be slow. TBH there's little use case to actually use `isinstance(s, AbstractServer)` or `isinstance(s, Transport)`. Do you know a good real-world use case?

[2018-05-23 18:47] asvetlov commented on #131
No, I'm thinking mainly about introspection.
Abstract base classes from collections are also slow, but I found them very useful.
At least I always derive from proper ABC when developing a new data structure class.
Perhaps correct class hierarchy is something that would be nice to have.

[2018-05-23 18:50] 1st1 commented on #131
Maybe. Feel free to open an asyncio feature request for 3.8. We'll need to check if we actually call `isinstance` in asyncio so that we don't harm the performance.

[2018-05-23 19:00] 1st1 commented on #143
This is actually a CPython bug :) Thanks for reporting. Closing this in favour of https://github.com/python/cpython/pull/7080.

[2018-05-23 19:00] #143 closed

[2018-05-23 19:01] 1st1 commented on #122
Fixed in master. Please test :)

[2018-05-23 19:01] #122 closed

[2018-05-23 19:15] 1st1 commented on #125
An obvious fix is to manually call `transport.close()` instead of relying on GC. But uvloop shouldn't crash regardless. Looking into this.

[2018-05-23 22:49] 1st1 commented on #120
This will potentially unblock us: https://github.com/libuv/leps/pull/10  As a last resort we can consider shipping patched libuv.

[2018-05-23 22:51] 1st1 commented on #125
Looks like the new UDP implementation is a bit racy w.r.t. GC. Ideally we should just revert to use `uv_udp_t` implementation, but that's blocked on https://github.com/MagicStack/uvloop/issues/120 and https://github.com/libuv/leps/pull/10.

[2018-05-23 22:53] 1st1 commented on #123
I'm going to close this as "not a bug". There are no guarantees on how exactly callbacks are scheduled by event loops and I don't see any serious discrepancy with uvloop here. Feel free to reopen if you can find more examples.

[2018-05-23 22:53] #123 closed

[2018-05-23 22:55] 1st1 commented on #132
I'm going to close this as PyPy compatibility isn't something I'm concerned with. The performance of vanilla asyncio under PyPy should be acceptable, so missing proper uvloop support for PyPy shouldn't be a deal breaker.

[2018-05-23 22:55] #132 closed

[2018-05-23 22:55] 1st1 commented on #133
Please try the latest master branch.

[2018-05-23 23:41] 1st1 commented on #128
Well, one obvious solution is to simply remove `self._close()` line. The handler will be properly closed in its `__dealloc__`.  I'm going to try this.

[2018-05-24 00:15] 1st1 commented on #136
Fixed in master. Please test!

[2018-05-25 01:16] #128 closed

[2018-05-25 02:32] 1st1 commented on #118
Actually, uvloop can block only if you supply a `preexec_fn` argument to `loop.subprocess_shell()` or `loop.subprocess_exec()`.  Could you please share your test?

[2018-05-25 03:13] #139 closed

[2018-05-30 16:07] #137 closed

[2018-05-30 22:46] 1st1 opened #158 "Rewrite asyncio/sslproto.py"
### Problems with sslproto.py

* The code is very complex and hard to reason about. At this point it's pretty much unmaintainable, many bugs on bugs.python.org linger unresolved just because we don't have capacity to debug them or review PRs.

* It's very slow. SSL connections are 3-4x slower than regular connections.

* It has many yet unresolved problems associated with SSL connection shutdown a

[2018-05-31 02:32] fantix commented on #158
@1st1 Thanks! I'm trying to quickly profile `asyncio/sslproto.py`, shall follow up with results here.

[2018-05-31 09:55] fantix commented on #158
Vanilla asyncio echo server on Python 3.7b3 without SSL:

![image](https://user-images.githubusercontent.com/1751601/40773642-11267e1e-64f6-11e8-8f90-b385175c43e7.png)

With SSL:

![image](https://user-images.githubusercontent.com/1751601/40774120-5a8e835c-64f7-11e8-9da8-8c741f4ad79c.png)

I've repainted this in red (`sslproto.py`) and green(`_ssl` module):

![image](https://user-images.githubuser

[2018-05-31 13:37] fantix commented on #158
Just made a very simple PoC, the improvement is not significant. I'll keep trying on something else tomorrow, just posting the results here for now.

![image](https://user-images.githubusercontent.com/1751601/40785169-5d4b06ba-651a-11e8-84f4-72214046ca4b.png)

![image](https://user-images.githubusercontent.com/1751601/40785180-6623ff44-651a-11e8-9e31-dd0b35948121.png)

ncalls | tottime | percall |

[2018-05-31 15:06] 1st1 commented on #158
Oh, that's unfortunate. I looked at `_SSLObject.read` and `write` implementations in `Modules/_ssl.c` and it looks like they are just tiny wrappers of OpenSSL functions.  We can probably save some overhead by supplying our own buffer to `read`, but I wouldn't expect it to give us any significant improvements.

[2018-05-31 15:17] 1st1 commented on #158
Maybe asyncio's read buffer is too small and we have too much overhead with `WANT_READ`.

[2018-05-31 15:28] elprans commented on #158
Throughput depends a lot on the chosen cipher.  See e.g. https://jbp.io/2018/01/07/rustls-vs-openssl-performance-1.html, the difference can be quite large.

[2018-06-01 11:18] fantix commented on #158
All above tests are using cipher `ECDHE-RSA-AES256-GCM-SHA384`, I'll quickly try `ECDHE-RSA-AES128-GCM-SHA256`.

[2018-06-01 13:28] hynek opened #161 "SSLProtocol stalled during handshake"
* **uvloop version**:

0.10.0, doesn’t happen with 0.9.1

* **Python version**:

3.6.5

* **Platform**:

Ubuntu Xenial/Docker

* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**:

Yes, but I get no additional output.

***

I have to communicate with a super-slow endpoint and since 0.10.0, the connection doesn’t go thru and aborts before the timeout I specify.

Stdout gets a string l

[2018-06-01 13:52] 1st1 commented on #161
In 0.10.0 there's a 10 seconds timeout for the handshake operation. Is your endpoint slower than that?

It's also a default timeout for handshake in asyncio 3.7, although it's configurable via the `ssl_handshake_timeout` parameter to `create_connection` and `create_server` (the parameter isn't yet backported to uvloop).  Do you feel that 10 seconds is not enough?

That means asyncio 3.7 has this b

[2018-06-01 13:53] 1st1 commented on #158
Or you can try uvloop which has 256kb (or something like that) buffer size by default.

[2018-06-01 14:02] hynek commented on #161
How do you think I found out? ;) 10s is wayyy to short once you have to communicate from/to Africa or Asia. I spent a month in Cape Town and learned this the hard way.

In this case I couldn’t communicate with a server in India. If this goes into 3.7 there’s gonna be a lot of...reports. :D

[2018-06-01 14:09] 1st1 commented on #161
What default timeout would you suggest?

You mean the errno/CertificateError error? Or the "... stalled during handshake" error message?

[2018-06-01 14:14] hynek commented on #161
No clue! Check what browsers or Java or Go do maybe?

Both ✨

Although the errno thing is a lot more severe.

[2018-06-01 14:22] hynek commented on #161
(I can live with it staying at 10s btw as long as you give me a knob to turn. :))

[2018-06-01 14:59] 1st1 commented on #161
(a PR to CPython to fix this: https://github.com/python/cpython/pull/7321)

[2018-06-01 20:21] 1st1 opened #163 "Implement tracing support"
This is a meta issue to discuss how new asyncio tracing API should look like. We will implement it first in uvloop, and later, if necessary, port it to asyncio.

-----------

#### Requirements

1. Base on the new `contextvars` (PEP 567) API, so that async tasks and callbacks they schedule are traced consistently.

2. Traces should be hierarchical, i.e. it should be possible to see what and how exa

[2018-06-01 20:31] 1st1 commented on #163
https://github.com/MagicStack/uvloop/pull/160 is the first attempt at implementing the new API.

The main thing I don't like about it is that it's designed around having various `_begin` and `_end` callbacks in so called `Collector` objects.  There are a few problems with this approach:

* This isn't flexible: you'll need to update your collector with new `_begin` and `_end` methods whenever a new

[2018-06-01 23:13] 1st1 commented on #161
Fixed in v0.10.1. Please try it ;)

[2018-06-01 23:13] #161 closed

[2018-06-01 23:36] elprans opened #164 "uvloop SSL connections unnecessarily calls loop exception handler"
* **uvloop version**: 0.10.1
* **Python version**: 3.5.5, 3.6.5
* **Platform**: Linux

`pytest -k test_ssl_connection_default_context` in asyncpg started failing because 0.10.1 unnecessarily logs `SSLError` that it has already thrown into `connection_lost`

See https://travis-ci.org/MagicStack/asyncpg/jobs/386904645#L1639

[2018-06-02 06:04] hynek commented on #161
Happy to report I can connect to India again. :)

[2018-06-02 13:35] pfreixes commented on #163
Thanks for your feedback @1st1

Regarding your concerns about the implementation proposed by #160 I partially agree on both of them. This first approximation had as a goal implement a generic system that would allow the user to implement on top of it its own logic or implementation, so it would allow the implementation of interfaces that would provide the glue for ZipKin, OpenTracingCollector, AWS

[2018-06-02 14:00] pfreixes commented on #163
And last but not least, if finally the implementation of the tracing moves into that direction, meaning that uvloop is gonna provide its own span implementation. As soon as there is a POC of this implementation I would try to make some tests and check how much friction imposes its wrapping for systems such as Zipkin, OpenTracing, AWS Xray  and so on.

[2018-06-04 05:20] pfreixes commented on #163
I've been digging a bit about how easily will be serializing the `uvloop` spans that later would be converted to the tracer format that is the one being used by an application such as Jaeger, DDog, AWS Xray and so on.

Take as an example the following code that tries to emulate this serialization for the Jaeger library [1]

[code]

Basically it leaves to uvloop to make all of the work and once it

[2018-06-04 15:37] 1st1 commented on #164
This is how asyncio works for regular transports and how it will work for SSL transports in 3.7. Note how most errors are logged in `selector_events.py` even though they are propagated to a protocol:

https://github.com/python/cpython/blob/9602643120a509858d0bee4215d7f150e6125468/Lib/asyncio/selector_events.py#L669-L681

[2018-06-04 15:37] #164 closed

[2018-06-04 15:38] 1st1 commented on #135
This issue is superseded with this https://github.com/MagicStack/uvloop/issues/163, feel free to join the discussion!

[2018-06-04 15:38] #135 closed

[2018-06-05 08:47] roy2220 opened #166 "`Task.cancel` has a bad behavior"
I'm a uvloop fans, nowadays I found a bad behavior of `Task.cancel`:

[code]

print "--- run end ---" is expected but NEVER!
The `Foo` object seems "leaked".

I knew it is not a bug of uvloop, it just is a bad design of asyncio.?
How do you regard this behavior? It would be great if you could give me some advices.

[2018-06-05 12:15] Sherlock-Holo opened #167 "compile uvloop: virtual memory exhausted"
* **uvloop version**:0.10.1
* **Python version**:3.6
* **Platform**:amd64
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**:

When I compile the uvloop on my arch linux(not my laptop, on my virtual server), it reports
[code]
Is my VPS mem too small? I reboot it and now it seems compiling and it eats 413+102MB mem.

[2018-06-05 19:44] jettify commented on #163
I like zipkin approach to spans since API is minimalistic and very powerful, here I created tracer for asyncio with aiohttp instrumentation (https://github.com/aio-libs/aiozipkin). I have implementation of spans/tracers/context etc.

Quick question, zipkin/opentracing and co are all about distributed tracing (as described in dapper paper), it helps to find all tasks spawned by particular request o

[2018-06-05 21:11] 1st1 commented on #163
Nice. What do you think about the approach I outlined in https://github.com/MagicStack/uvloop/issues/163#issuecomment-394416117? Would it work for aiozipkin? If no, then how would you change it?

I'd aim for both.

We'll be using `contextvars` to store the tracing context, so enabling tracing just for one web request should be naturally supported.

[2018-06-05 21:14] 1st1 commented on #167
Yeah, I don't think anything can be done here except increasing the amount of memory for your VM. I'd suggest using wheels to avoid the compilation step (simple `pip install uvloop` should just install a pre-compiled wheel package for you).

[2018-06-05 21:14] #167 closed

[2018-06-05 21:24] 1st1 commented on #166
Looks like you're cancelling the `test()` task with `loop.call_soon(cb)` and the cancellation happens before `await getting_foo` and `Foo.run()` "connect" with each other.  If you change `loop.call_soon(cb)` to `loop.call_later(0.1, cb)` the script works as expected.

This might be a bug with `asyncio.Task`, but your code snippet is a bit hard to parse and understand.  I suggest you to spend some

[2018-06-05 21:24] #166 closed

[2018-06-06 03:34] roy2220 commented on #166
@1st1 Thanks for you time and advice! That is a subtle situation, I spend a whole day to figure out the behavior of `Task.cancel`, finally I made a patch to `Task.cancel` for more rational behavior. Here is the [commit](https://github.com/roy2220/cpython/commit/81b92f5b21ea9d26a32456c044b074b2a160ad49) (Actually I patched the `_asyncio` C module, but here is python for readability). In conclusion,

[2018-06-06 03:42] 1st1 commented on #166
Your english is totally fine :) Please do submit a bug,  your test script, and the proposed solution. I don't have time to look into this right now, but I'll try to find time before 3.7.1 is released.

[2018-06-06 05:36] pfreixes commented on #163
Regarding your porposal @1st1, TL;DR Ok!.

The proposal circumvents the issue of the friction to allow the wrappers being integrated with not so much pain, indeed this proposal goes more into the direction of the callbacks but narrowing the use case making the API super opinionated.

On the other hand, having this proposal you know that who will dictate the performance degradation will be the trac

[2018-06-06 05:48] pfreixes commented on #163
Hi @jettify gad to see you here

The goal is give more granularity to the user when the user traces an application that runs on top of Asyncio, IMO the annalogy is other frameworks that they already implement tracing system [1].

Having Asyncio implementing tracing under the hood we must be able to enrich current solutions, such as the Aiohttp middleware for AWS Xray [2] giving to the user a more

[2018-06-06 06:16] Sherlock-Holo commented on #167
oh, it compiles failed again, 😂 I have to compile on my PC, and succeed.
so sad for my small memory VPS😂

Yury Selivanov <notifications@github.com> 于 2018年6月6日周三 05:14写道：

[2018-06-06 18:53] pepie opened #168 "uvloop install fail in docker w/ pip install"
Hello! Trying to install uvloop in a python app within a docker image.
I am currently getting the following errors (below).

* **uvloop version**: latest
* **Python version**: 3.7
* **Platform**: Docker (python:alpine3.7)
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**:
haven't tried

unable to install uvloop in docker, the same configuration works outside of the container.
requi

[2018-06-06 19:02] elprans commented on #168
Try `pip install -U setuptools pip` before.

[2018-06-06 19:18] jettify commented on #163
As as far as `aiozipkin` concerts, I need only callbacks and way to pass context between them. zipkin spans already has capabilities to: annotate timeline, add metadata and tags, create child span. And developer usually decided how much to trace and what callbacks to instrument.

As for  https://github.com/MagicStack/uvloop/issues/163#issuecomment-394416117 not sure what the purpose of TimerSpan v

[2018-06-07 02:27] sakurai-youhei commented on #168
Probably Cython needs to be installed before installing uvloop.

[2018-06-07 12:00] fantix commented on #158
Sorry for the delay! Tweaking buffer size had no luck. Actually:

1. asyncio has [similar](https://github.com/python/cpython/blob/v3.7.0b5/Lib/asyncio/selector_events.py#L580) read buffer size as [uvloop](https://github.com/MagicStack/uvloop/blob/v0.10.1/uvloop/includes/consts.pxi#L1), 256KB vs 250KB. Tried both 2560KB with asyncio, and master uvloop.
2. The test data is small enough to fit in the

[2018-06-07 14:43] 1st1 commented on #158
That's true only for 3.7, but I get your point.

Let's re-sync after (1).

(2) and (3) will require us waiting until 3.8, considering your improvements to the `ssl` module are accepted.

[2018-06-07 14:50] fantix commented on #158
Got it, thanks! Meanwhile there's also a possibility to make uvloop use pyOpenSSL, libuv-tls or similar libs directly.

[2018-06-07 14:59] 1st1 commented on #158
Yes, I was thinking about that too until I looked at `_ssl.c` and saw a very thin wrapper around OpenSSL. I really don't think we can make it any faster. But this is just my first impression; maybe there are some faster OpenSSL APIs that we can use or something. After we have a better `SSLProtocol` implementation I'm totally open to profile Python's ssl module to see if it can be improved.

[2018-06-07 16:42] 1st1 commented on #168
No. Cython is only used during the sdist/bdist phases. It's not a runtime dependancy.

Closing this issue.

[2018-06-07 16:42] #168 closed

[2018-06-07 19:02] 1st1 commented on #158
Christian Heims also suggests trying to enable http://manpages.org/SSL_CTX_set_read_ahead/3

[2018-06-08 14:51] 1st1 commented on #158
We'll also need to think about offloading SSL encryption to a thread, in case it consumes significant CPU.

[2018-06-09 00:12] 1st1 commented on #158
Also need to investigate `SSL_MODE_ENABLE_PARTIAL_WRITE`; a comment from `_ssl.c`:

[code]

I've seen some comments in forums suggesting enabling it for non-blocking IO.

[2018-06-09 12:18] pfreixes commented on #163
Could we start implementing something like:

[code]

The `tracer.start_span` its just the Jaeger implementation - could be others such as aiozipkin, etc - and it's irrelevant, the importance here is:

1) `uvloop.stat_tracing` flags uvloop to start making the spans at each instrumentalized piece of code
2) `uvloop.stat_tracing` receives the interface that allows uvloop to handle spans internally us

[2018-06-11 05:29] fantix commented on #158
Fixed two buffer size issue in the PoC, and tested again with:

* Python 3.7.0b5
* OpenSSL 1.1.0h
* ECDHE-RSA-AES256-GCM-SHA384
* Tested with both 1KB requests and 100KB requests
* 5 tests for each combination

Results:

![image](https://user-images.githubusercontent.com/1751601/41213619-fdf7a1de-6d78-11e8-96bd-99473cdd25fd.png)

* The SD is kind of large, probably because of a bad testing environ

[2018-06-11 11:00] fantix commented on #158
In the process testing with 100kB requests, I found that `SSL_read()` is returning maximum 16kB data (the record size for SSLv3/TLSv1 according to [the manual](https://www.openssl.org/docs/man1.1.0/ssl/SSL_read.html)), which caused roughly 8x~16x more function calls to `_ssl.SSLSocket.read()` than the number of calls to `data_received()`. Previous commit embeds the loop in `_ssl.c`, and improved t