[2018-06-11 13:41] 1st1 commented on #158
Nice.

[2018-06-11 13:43] fantix commented on #158
😃  currently working on a relatively more complete `sslproto.py` on latest cpython master, should be ready to show by tomorrow.

[2018-06-11 13:48] 1st1 commented on #158
Great. You can also try to use `BufferedProtocol`, but really up to you in what order want to approach this.

[2018-06-11 13:49] fantix commented on #158
Fully buffered - also supporting client `BufferedProtocol`. 😄

[2018-06-12 13:12] fantix commented on #158
It's taking longer than expected, previous commit shows the rough idea -
I'm [trying](https://user-images.githubusercontent.com/1751601/41292127-3dd8a18e-6e84-11e8-8e58-85a041141cea.png) to separate the flow control (FC), and extract a more clearer state transition model tomorrow, in order to survive e.g. renegotiation.

[2018-06-12 18:55] 1st1 commented on #158
Take your time.  And... nice diagram! We'll probably want to have a digital version of it to put somewhere in the docs ;)

[2018-06-13 05:02] fantix commented on #158
Sure thing!

Looks like renegotiation is a bit [awful](https://bugs.python.org/issue33062) - Python didn't expose it, OpenSSL didn't do it fully right, HTTP/2 forbid it, and TLS1.3 replaced it with something else. I'll try to get it working and tested with minimal effort - perhaps copying some tests from Trio as Nathaniel seemed already walked through this.

[2018-06-15 17:36] andr-04 opened #169 "asyncio.base_futures.InvalidStateError: invalid state"
* **uvloop version**: 0.10.1
* **Python version**: 3.6.5
* **Platform**: Ubuntu 16.04
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: No

I work with a raw sockets using `asyncio.Lock` to isolate blocks reading and `sock_recv` to communicate inside a Lock section.
In a random time first of all I get the following stacktrace:
[code]

After that there is a problem with acquiring t

[2018-06-15 17:55] andr-04 commented on #169
Ok, I compare the implementation with base loop one and see you don't check does the future is cancelled or not yet. It's bad because it's a real usecase to wrap `sock_recv ` by `asyncio.wait` with a timeout.

[2018-06-15 17:56] 1st1 commented on #169
Would you mind making a PR fixing this?

[2018-06-15 18:22] andr-04 commented on #169
Well, I've understood the behaviour and Lock is not a problem there at all; the problem is __shifting__ in the source data structure: before exception we read the data which already is related with other caller.
I didn't use Cython in real life yet and I'm aware it will take a lot of time to make a fix, check it and write unit tests for it. Especially I've not done it [there](https://github.com/py

[2018-06-18 10:13] andr-04 commented on #169
Moved to PR #170.

[2018-06-19 14:37] 1st1 commented on #158
Great progress! (GH doesn't send notifications on edit, so this is the first time I see the updates)

----

Is it so broken that it's impractical to support it? I mean it's a very niche requirement, so if its support comes at the expense of code clarity/maintainability I'd say let's not do it at all. Your call though.

Can you share some details on that?  Is that new TLS 1.3 renegotiation protocol

[2018-06-19 14:44] 1st1 commented on #169
Regarding #170: I don't think that copying the approach of `asyncio/base_events.py` is the right strategy here. IIRC I decided to go with a different implementation of `loop.sock_*` methods because asyncio has many other problems with cancellation.  In uvloop, cancellation happens in `_new_reader_future` and `_new_writer_future` methods, maybe they should be adjusted to handle your case?

BTW, I d

[2018-06-20 08:28] fantix commented on #158
Thanks! No worries, I didn't want to make too frequent noises, just about to ask for your review and next steps.

The renegotiation support is actually done in previous commit. It turns out that as far as we follow the process diagram to call OpenSSL functions with those implications considered, current TLS<=1.2 renegotiation shall just work. It's manually tested, a unit test would require pyOpenS

[2018-06-21 11:58] fantix commented on #158
About the performance thing, I just realized that I’ve been comparing encryption time with loopback network time, which is probably not a practical anchor point. So I’ve compared the absolute throughput of OpenSSL(with [this benchmark tool](https://github.com/ctz/openssl-bench) found in [Elvis's reference](https://jbp.io/2018/01/07/rustls-vs-openssl-performance-1.html)) and `cpython/_ssl.c`(with a

[2018-06-21 13:19] hroncok opened #172 "Python 3.7 failures on 32bit systems"
* **uvloop version**: master
* **Python version**: 3.7.0rc1
* **Platform**: Linux (Fedora 29), 32bit only (both i383 and armv7hl)
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: yes

The test suite fails on Python 3.7 on 32bit Linux.

It's a couple of errors (256) but it look like all are related to:

[code]

This might be related to reference counting and the fact that weakref

[2018-06-21 15:49] 1st1 commented on #172
This is weird.  The `weakref` module is referenced from `uvloop/includes/__init__.py`, and the `includes` module is then imported from `uvloop/__init__.py` to specifically guard against this scenario.

Seems like a bug in Python 3.7 to be honest.

[2018-06-21 15:52] 1st1 commented on #158
Right. This is great. Perhaps we'll be able to squeeze a few more %% when we cythonize the `sslproto.py`, but seems that the performance isn't that bad after all.

[2018-06-21 20:45] andr-04 commented on #169
Well, it more difficult to reproduce than I thought before. I've investigated the problem by write the sequence of operations to the log.

The normal pipeline with timeouts are:
1. `await sock_recv`;
2. `_on_cancel` callback from previously timeout `sock_recv`;
3. `_remove_reader` called by `_on_cancle` callback;
4. `_add_reader` called by the last `await sock_recv`;
5. interrupting `await sock_re

[2018-06-22 04:18] jamesjer commented on #172
Actually, the first error I see in the logs is this one:
[code]

Changing the type from long to long long fixes that, and then the other errors all disappear.

[2018-06-22 04:57] pfreixes commented on #163
Regarding #171, the pending discussions that it raises are:

- MetricsSpan, CounterSpan and TimingSpan controversial, this PR only implements a generic Span that is a timing one.

- `uvloop.tracing.Tracer.current_span` needs to be adapted to avoid race conditions, when a span is created the "global" attribute is overwritten. Most likely current_span will end up as another context variable.

- Agre

[2018-06-22 06:44] hroncok commented on #172
Oh. I should have posted full log in the first place. Nice catch!

[2018-06-22 16:00] #172 closed

[2018-06-22 16:00] 1st1 commented on #172
Should be fixed in master, please test. Thanks!

[2018-06-22 22:45] #169 closed

[2018-06-25 22:49] vstinner commented on #172
It seems like the bug has been fixed by the commit a68f3c9a30a888d0bd28d608f6113f749e9c9cc9.

Most uvloop tests pass on my 32-bit Ubuntu and Python master (future 3.8). I have a few failures coming from the fact that I didn't install Python, but ran it from the directory where I compiled it from source.

[2018-06-29 17:48] frnkvieira opened #175 "Suppress messages"
[code]

* **uvloop version**: 0.10.2
* **Python version**: 3.6.5
* **Platform**: Linux (Ubuntu 18.04 - Kernel 4.15)
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: Yes

I'm not sure if this is a bug but uvloop seems to be writing to stderr at some SSL exceptions (AFAIK asyncio don't do this), there is a way to suppress these messages?

Many thanks for this **awesome** project!

[2018-06-29 18:41] 1st1 commented on #175
uvloop's SSL implementation is now the same as in Python 3.7, so both vanilla asyncio and uvloop should have the same logging behavior. If you think that logging is redundant in this case, please open an issue on bugs.python.org so that we fix it in both places.

Thanks!

[2018-06-29 19:09] frnkvieira commented on #175
Fair enough, thanks!

[2018-06-29 19:09] #175 closed

[2018-07-04 03:26] chenleo opened #178 "Fail to install uvloop on MacOS with python3.7"
* **uvloop version**: 0.10.2
* **Python version**: 3.7
* **Platform**: MacOS 10.13.5
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**:

Hi there:

Currently I upgrade my python to 3.7 through Homebrew, yet I can not install uvloop with this version.

Any suggestions?

Error messages are as the following:

[code]

[2018-07-04 12:36] waghanza commented on #178
@chenleo https://www.python.org/downloads/release/python-370/ is too probably young to support

@1st1 **python** `3.7` introduce some backwards incompatibilities https://docs.python.org/3.7/whatsnew/3.7.html, does it affect `uvloop` ?

[2018-07-04 15:24] 1st1 commented on #178
uvloop fully support 3.7, it's just we don't have wheels for it yet. The traceback you see is libuv failing to build in your environment.

[2018-07-05 01:00] 1st1 commented on #178
v0.11.0 is now released with Python 3.7 wheels. Please test! :)

[2018-07-05 01:00] #178 closed

[2018-07-06 06:23] ciscorn opened #180 "Server fails to shutdown while persistent connections exist"
I noticed that a aiohttp server with uvloop==0.11.0 waits until all connections (WebSocket, streaming, etc.) are closed. This behavior prevents us from performing [aiohttp's graceful shutdown](https://docs.aiohttp.org/en/stable/web_advanced.html#graceful-shutdown).

This problem doesn't occur with uvloop==0.10.2.

I'm suspecting the commit 124e981bc90fbe2814dd1efd051e5b5a394cf1df because this chan

[2018-07-06 16:19] 1st1 commented on #180
Can you submit a PR to revert that commit and maybe write a unittest?

[2018-07-07 14:43] ciscorn commented on #180
I wrote a test and reverted the 124e981bc90fbe2814dd1efd051e5b5a394cf1df, but the problem still exists.
I'll investigate further and write a PR.

[2018-07-07 14:49] 1st1 commented on #180
Thanks!

[2018-07-19 09:43] oroulet opened #182 "Explain why it is faster"
in README and doc you write that you are faster than python included loop, but you say nowhere why (or at least it is well hidden). Did you reimplement things in C? did you you simply optimize code and patch are on their way to mainline? And why isn'it replacing the standard loop then? Must be some issues somewhere...If you want users to use it you should explain shortly these fundamental things

[2018-07-23 17:20] sakurai-youhei commented on #182
Here is one sentence taken from README, which explains the reason well for me.

[2018-07-24 23:45] pvizeli commented on #180
Can we have a bugfix release?

[2018-07-25 19:36] clu8 opened #183 "speed comparison to Python 3.7"
Python 3.7 mentions that asyncio efficiency is significantly improved. Has anyone compared uvloop vs the default implementation for various tasks? Thanks!

[2018-07-25 22:58] 1st1 commented on #183
All asyncio improvements benefit uvloop directly, so the performance gap should be the same.

[2018-07-29 08:52] Snawoot opened #184 "uvloop.loop.UDPTransport.pause_reading() is not implemented"
* **uvloop version**: 0.11.0
* **Python version**: 3.5.3
* **Platform**: Debian 9 x86_64 (Linux 4.16.0-0.bpo.2-amd64)
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: I can try

I'm getting following exception when program pauses UDP transport:
[code]

but in built-in asyncio event loop this method exists for UDP transport:

[code]

outputs:
[code]

[2018-07-29 09:41] andrejsh commented on #184
Yea, absolutely agree...

[2018-07-29 10:10] pitachx commented on #184
very annoying bug

[2018-07-29 18:17] svjukov commented on #184
Same issue, unfortunately .

[2018-07-30 15:13] 1st1 commented on #184
Anybody wants to submit a PR? :)

[2018-07-30 20:32] ttill opened #185 "Subprocess leaking"
* **uvloop version**: 0.11.0
* **Python version**: 3.6.6
* **Platform**: Linux (Archlinux)
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: yes

A lot of subsequent failing calls to `asyncio.create_subprocess_exec` cause a `Too many open files` OS error. Using the standard event loop, I do not get an error thrown.

Here is a minimal example:
[code]

Output:
[code]

The same code

[2018-07-31 05:30] pfreixes commented on #163
any feedback on this @1st1?

I've been a bit out lately and I don't think that I will have time till the second week of August. But any discussion that helps us to reach some conclusions will be worth it.

Regarding the last summary that I've written down related with the #171 PR I left two open questions which I have some thoughts.

The tracer provider already provides a known API and the user is

[2018-08-01 14:39] #180 closed

[2018-08-01 15:08] 1st1 commented on #184
I just checked: while `pause_reading()` method does exist on `DatagramTransport` in asyncio, it raises a `NotImplementedError`. So strictly speaking there's no difference between asyncio and uvloop here.  Please open a bug on bugs.python.org if you think that `pause_reading()` and `resume_reading()` are needed for UDP.

[2018-08-01 15:08] #184 closed

[2018-08-01 15:09] #183 closed

[2018-08-01 15:09] 1st1 commented on #182
Closing this one. I also think that README and the linked blog post address this question just fine.

[2018-08-01 15:09] #182 closed

[2018-08-02 13:37] #125 closed

[2018-08-02 13:46] 1st1 commented on #133
This one seems to be very outdated now, closing it. Thanks for submitting a bug report anyways!

[2018-08-02 13:46] #133 closed

[2018-08-02 15:30] 1st1 commented on #185
Fixed in uvloop 0.11.1

[2018-08-02 15:30] #185 closed

[2018-08-02 15:30] 1st1 commented on #185
Thanks for submitting this bug!

[2018-08-02 15:31] 1st1 commented on #180
Fixed in uvloop 0.11.1. Thanks for working on this!

[2018-08-02 18:40] ttill commented on #185
Thank you!

[2018-08-09 07:51] jeffiy opened #193 "UVloop installation issue"
* **uvloop version 0.11**:
* **Python version 3.6**:
* **Platform ubuntu 16.05 LTS Xenail on arm processor pynq board**:

RuntimeError: the libuv submodule has not been checked out; try running "git submodule init; git submodule update"
 I am getting this error how to resolve this issue i have installed libuv version 1.4.2

[2018-08-09 12:55] Dj-jom2x opened #194 "installation issue."
**uvloop: none**
**python 3.6.6**
**termux arm64**

why does it says
[code]
this is the first time i have a problem with installing packages on py.. others seems to install just fine.. but uvloop throw this error.

[2018-08-09 13:27] 1st1 commented on #194
Are you trying to install it on Android? If so it's not officially supported and I have no way to test what's going on. And I can't reproduce this error on my machine. Most likely you don't really need uvloop on android anyways, vanilla asyncio should work just fine.

[2018-08-09 13:28] 1st1 commented on #193
Did you try running "git submodule init; git submodule update"?

[2018-08-09 13:41] elprans commented on #194
Installing uvloop from a source distribution requires building the bundled libuv, which requires a working `/bin/sh`, GNU make, and a C compiler none of which are guaranteed to be present on Android.

[2018-08-10 01:36] Dj-jom2x commented on #194
hmm good morning sir :) I believe termux can do that. I already compiled ffmpeg, lavalink, libopus, quickbms, cython

i believe the configure is missing while copying..

so....

I build uvloop straight from your repo guys
clone repo
pkg install automake
pkg install cython
pkg install libtools or libtool i forgot.
then replace all bin/sh/ into sh only
because on termux bin/sh is invalid..

also thi

[2018-08-13 17:07] jeffiy commented on #193
no i a manually adding libuv files in vendor folder in repository before installing.

[2018-08-13 17:08] jeffiy commented on #193
Actually i am having proxy issues therefore it command didn't work for me.

[2018-08-13 17:09] 1st1 commented on #193
Well, you're on your own then, I can't help you here :(

[2018-08-13 18:11] jeffiy commented on #193
Sorry for bearing me just one question will UVloop work on arm processor.

[2018-08-13 20:25] 1st1 commented on #193
Closing this one, please feel free to reopen!

[2018-08-13 20:25] #193 closed

[2018-08-14 15:05] 1st1 commented on #194
I'm going to close this as I don't see anything actionable for myself here. But please submit a PR if you know how to improve `setup.py`.

[2018-08-14 15:05] #194 closed

[2018-08-14 15:05] 1st1 commented on #158
What's the latest news here?

[2018-08-14 15:08] fantix commented on #158
Got a few local commits, will update tomorrow.  :)

Yury Selivanov <notifications@github.com>于2018年8月14日 周二下午11:05写道：

--
BR,
Fantix
--
http://about.me/fantix

[2018-08-15 17:30] jeffiy commented on #193
@1st1  **now i am installing it via pip and getting this error**

    make: Warning: File 'm4/libtool.m4' has modification time 1106448 s in the f                                                                             uture
    CDPATH="${ZSH_VERSION+.}:" && cd . && /bin/bash /tmp/pip-install-q2hsbafe/uv                                                                             loop/build/lib

[2018-09-01 00:59] japrogramer commented on #168
Im having this issue the image is and as you can see im updating setuptools and pip before trying to install from requirements.

[code]

[2018-09-13 00:10] asvetlov opened #195 "Don't log ssl certificate errors"
See https://github.com/python/cpython/pull/9169 for the upstream change

[2018-09-18 07:48] pax0r opened #196 "UVLoop raises '"
* **uvloop version**: 0.11.2
* **Python version**: 3.7
* **Platform**: Debian 9.5
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: yes

When using uvloop with Unix Domain Sockets `uvloop.loop.UDPTransport.sendto` raises `ValueError: UDP.sendto(): address '(socket path)' requires a DNS lookup` which is wrong, as there are no DNS lookups for Unix Domain Sockets.

I think this can b

[2018-09-19 17:34] 1st1 commented on #195
@fantix please take a look if you have time.

[2018-09-19 17:44] fantix commented on #195
sure thing!

[2018-09-21 17:23] 1st1 opened #197 "Segfault in test_start_tls_client_buf_proto_1"
New TLS implementation seems to crash on Mac OS X and Linux.

Steps to reproduce:

1. Fresh build of `master`.
2. Run `pytest`.

Output:

[code]

@fantix please take a look.

---------

Screenshot of Mac OS crash report (just for the reference; stack dump is always random):

<img width="1027" alt="screen shot 2018-09-21 at 1 20 38 pm" src="https://user-images.githubusercontent.com/239003/45896195-

[2018-09-21 18:36] elprans commented on #197
For reference, here's how it crashes on my machine:

[code]

[2018-09-25 07:55] fantix commented on #197
Thanks for the finding and sorry for the trouble! I'm working on it now.

[2018-09-25 17:02] fantix commented on #197
Tried several combinations (macOS 10.13 Python 3.5, 3.6, 3.7, official pkg and HomeBrew, Ubuntu 14.04, 16.04, Python 3.5.2, 3.6, uvloop make with or without debug, pytest or unittest) but didn’t reproduce. Also reviewed code with clues from the traceback. I must have missed something, I’ll try to cover a bit more areas, please kindly suggest:

1. Does it crash randomly, or consistently?
2. What Op

[2018-09-26 04:32] fantix commented on #197
Reproduced the crash with OpenSSL 1.1.1. It's also leading to more issues e.g. hanging `test_write_to_closed_transport`, failing `test_remote_shutdown_receives_trailing_data` and also the crash on `test_start_tls_client_buf_proto_1`. I'll fix them asap.

[2018-10-01 15:50] 1st1 opened #200 "Fix async gens finalizing when GC is initiated from another thread"
https://bugs.python.org/issue34769

[2018-10-01 16:41] 1st1 commented on #197
Seems that #198 fixed it for me.  @elprans can you re-run tests on your machine?

@fantix should this be closed now, or there's still something to be fixed?

[2018-10-02 09:44] fantix commented on #197
Thanks for the merge! Please leave this issue open until I figure out how the crash happened so that it won't affect others.

[2018-10-02 17:07] gjcarneiro opened #201 "Leaking memory"
* **uvloop version**: 0.11.1
* **Python version**: 3.7.0
* **Platform**: linux (docker)
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: yes

Take the following program, which is silly, but to demonstrate that it doesn't leak memory, even with gc disabled:

[code]

Now if you uncomment the line to enable uvloop and run again you will observe that it starts to leak memory like cra

[2018-10-02 17:19] 1st1 commented on #201
See the release notes for 0.11.2: https://github.com/MagicStack/uvloop/releases/tag/v0.11.2 :)

[2018-10-02 17:30] gjcarneiro commented on #201
Ah, lovely!  Indeed it's fixed in v0.11.2!  Sorry.

Sorry, I  was convinced I was on the latest uvloop release, but clearly was confused.  Too many microservices...

[2018-10-02 17:30] #201 closed

[2018-10-02 19:44] vproman commented on #168
Run this command to recreate issue:
docker run python:3.7 pip install uvloop==0.8

As a workaround, you can either use python 3.6 instead:
docker run python:3.6 pip install uvloop==0.8

Or you can update uvloop to at least v0.9:
docker run python:3.7 pip install uvloop==0.9

[2018-10-05 00:48] 1st1 commented on #197
What's the status on this? Ideally we want to make a release next week.

[2018-10-05 12:28] fantix commented on #197
I guess the context manager used in pytest may have triggered some Cython memory bug, but I need some time to confirm that, I'll try to make it early next week.

[2018-10-10 00:18] #195 closed

[2018-10-10 00:19] 1st1 commented on #197
Thanks for working on this!

[2018-10-10 07:18] fantix commented on #197
Sure thing. Figured out the cause - resource warning is raised in `__dealloc__` of `_SSLProtocolTransport`, where the transport instance was used as warning source. Then pytest deferred all warning calls to cleanup stage, when the transport instances are already recycled, and caused segmentation fault. I'll fix this asap.

[2018-10-12 03:04] #197 closed

[2018-10-30 20:51] #200 closed

[2018-11-04 01:05] amelchio opened #207 "UDPTransport AttributeError"
* **uvloop version**: 0.11.2
* **Python version**: 3.6
* **Platform**: Linux
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: Unknown

This error was reported [in a forum post](https://community.home-assistant.io/t/lifx-integration-breaks-hass-io-how-to-revert/76610):
[code]
It seems like the attribute should be [`address`](https://github.com/MagicStack/uvloop/blob/v0.11.2/uvloop

[2018-11-05 13:13] Recro-Barry commented on #168
@1st1 is there another issue that addresses this topic? The issue got closed without addressing the main problem at all.

[2018-11-05 14:12] elprans commented on #168
The original issue is a setuptools bug. Do a `pip install -U setuptools` before installing uvloop.

[2018-11-14 13:28] darshan-jain-29 commented on #20
try pip install -vvv uvloop
This worked for me

[2018-11-28 20:11] 1st1 commented on #207
Thanks for submitting this. Care to make a PR?

[2018-12-03 15:58] Forevka69 opened #208 "ssl.SSLError"
* **uvloop version**: uvloop 0.11.3
* **Python version**: 3.7
* **Platform**: ubuntu 18.04
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: cant

Hello, i use uvloop with webhooks in aiogram and sometimes uvloop get this error
with standart loop from asyncio i dont have this error. How can i fix it?

I use this command for generate self-signed certificate:
openssl req -newkey rsa

[2018-12-03 16:49] 1st1 commented on #208
Hm, could you please try uvloop 0.12.0rc1?

[2018-12-03 16:51] Forevka69 commented on #208
Ok, i will

[2018-12-10 15:03] amelchio commented on #207
Not really. I am not set up for uvloop development and I don't even know how to reproduce the problem.

[2018-12-13 21:02] ofek commented on #14
Any progress?

[2018-12-15 10:24] davidbrochart opened #210 "Integration with Cython"
When using uvloop in Cython, does it call the interpreter or does it remain on the Cython side?

[2019-01-04 23:46] denismakogon opened #211 "TypeError: create_unix_server() got an unexpected keyword argument 'start_serving'"
* **uvloop version**:
0.11.3
* **Python version**:
3.7.1
* **Platform**:
Debian, Alpine, OEL

uvloop doesn't really implement the whole spec of the base event loop, here's the error i have:
[code]

which means that not all kwargs are supported.

[2019-01-04 23:47] 1st1 commented on #211
Yeah, uvloop is still a bit behind 3.7.

[2019-01-05 07:11] ORESoftware opened #212 "does this use libuv?"
Does this lib use libuv under the hood? If so, maybe mention that? idk
I think it would be good to mention what powers the async stuff in the readme.

[2019-01-05 15:15] 1st1 commented on #212
It's literally in the first Readme line.

[2019-01-05 15:15] #212 closed

[2019-01-07 12:23] araa47 opened #213 "Can't seem to replace asyncio loop with uvloop"
* **uvloop version**: ==0.11.3
* **Python version**:Python 3.6.4
* **Platform**: mac
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**:

Can't seem to replace asyncio loop with uvloop.

Normal code that works:
[code]
UV loop code that doesnt work:
[code]

Error:

[code]

Sorry, this may be just an issue with implementation, but was curious why this doesnt work.

[2019-01-08 21:42] jlaine opened #214 "UDPTransport.sendto spends a lot of time validating the address"
* **uvloop version**: 0.11.3 and 0.12.0rc2
* **Python version**: 3.7
* **Platform**: Linux

I have been trying to optimize the performance of `aiortc`, an asyncio-based WebRTC implementation. `aiortc` uses `aioice` (an Interactive Connectivity Establishment library) for its network access. Using `uvloop` provides some performance improvement, but not as much as I had hoped.

During my optimization

[2019-01-08 21:45] jlaine commented on #214
The trivial patch I used:

[code]

[2019-01-08 21:51] 1st1 commented on #214
Great improvement!

Ideally yes.  DNS lookup would be blocking and that would be quite hard to debug.

Yes, please submit a PR.  You can probably add a function with an `@lru_cache` decorator to keep track of last N checked addresses.

[2019-01-08 22:09] jlaine commented on #214
I also tried something else: simply storing the socket's `family`, `proto` and `type` as `int` members of `UDPTransport`. This doesn't skip the call to `getaddrinfo` but gives a significant performance gain which holds no matter whether it's an address we have already seen or not. The same test runs in 4.3s with this patch.

Regarding lru.cache wouldn't that mean dropping out of C and back into Py

[2019-01-08 22:14] 1st1 commented on #214
Caching family/proto/type is OK too.

lru_cache is implemented in C since 3.6 (IIRC), but yeah, it involves quite a few CPython C API calls.  You'd probably want to profile it to check if it's fast enough.

[2019-01-08 22:49] jlaine commented on #214
It looks like `lru_cache` performance is really not an issue. With the patch I submitted in #215 my test now runs in 3.1s, so almost identical to the "single address cache" version!

[2019-01-08 23:05] 1st1 commented on #214
Speaking of which -- when libuv 2.0 is released we'll likely be able to switch to native UDP libuv implementation which should be significantly (up to 10x) faster than what we have now.

[2019-01-08 23:10] jlaine commented on #214
I'm very eager to see this in action, and would be happy to help if I can! It doesn't look as though UDP is getting as much love in the asyncio world as TCP is, but that might change with the likes of HTTP/3.

[2019-01-08 23:11] #214 closed

[2019-01-09 13:07] jlaine commented on #207
This looks like a real bug, still present in the current code:

https://github.com/MagicStack/uvloop/blob/d5ad2b86fff1bf08a391aa344561e69c98be3b66/uvloop/handles/udp.pyx#L168

[2019-01-09 13:34] jlaine commented on #208
@Forevka69 did 0.12.0rc1 solve your issue?

[2019-01-09 16:50] #207 closed

[2019-01-09 16:53] 1st1 commented on #214
For the UDP part specifically we're blocked until libuv 2.0 lands.  Meanwhile feel free to help with other parts of the project!  For instance, I still can't find time to implement `loop.sendfile()` and `start_serving`—new asyncio 3.7 features.

[2019-01-09 19:19] jlaine opened #217 "Test certificate should be upgraded to >= 2048 bits"
* **uvloop version**: 0.12.0rc2
* **Python version**: 3.7
* **Platform**: Debian/unstable

Running the test suite on Debian/unstable (OpenSSL 1.1.1) fails when loading the test certificate with:

`ssl.SSLError: [SSL: EE_KEY_TOO_SMALL] ee key too small (_ssl.c:3816)`

I recently encountered the same error with the `aioice` test suite, the fix is to regenerate a private key + cert of 2048 bits or mo

[2019-01-09 19:25] jlaine commented on #217
Since we seem to use the Python test suite's certificates we can make use of:

https://github.com/python/cpython/commit/e6dac0077996b1e1f886f036d6f2606237fa4c85

[2019-01-09 20:36] jlaine commented on #217
I have submitted PR #218 to update the test certificate / key

[2019-01-09 20:44] #217 closed

[2019-01-11 17:00] 1st1 commented on #210
There's no "Cython side"; Cython compiles itself to C that calls into CPython C API. uvloop is all in Cython, so its own code isn't being interpreted.  But whenever a callback written in pure Python is scheduled it's executed with CPython ceval loop (the interpreter).

[2019-01-11 17:00] #210 closed

[2019-01-11 17:00] 1st1 commented on #210
Feel free to ask more questions!

[2019-01-11 17:01] 1st1 commented on #208
I'm gonna close this one, as the SSL implementation has been rewritten from scratch in 0.12. Please feel free to re-open this issue if the problem appears in 0.12.

[2019-01-11 17:01] #208 closed

[2019-01-11 21:54] davidbrochart commented on #210
Thanks @1st1. To be more precise, I want to write some Cython code that will use asyncio. If I replace asyncio with uvloop, is it going to involve the CPython interpreter at all (and will that be a big penalty), or is it going to be Cython calling Cython?

[2019-01-11 22:09] 1st1 commented on #210
Cython-generated code always involves CPython code.  Roughly speaking, for a program compiled with Cython, roughly all of CPython core code is executed. It's just that instead of CPython opcode evaluator calling C API, the generated C code calls it.  When you compile a pure Python code snippet like

[code]

instead of evaluating `CALL_FUNCTION` opcode that calls Python's `print()` implementation,

[2019-01-14 10:55] asfaltboy opened #219 "Clarification needed: Is libuv included in the wheel zip?"
This is more of a question than a bug, except maybe in documentation. What does it mean exactly when we say uvloop "uses libuv under the hood" in the README, when installed from a wheel? Does it mean we include libuv binaries or we rely on libuv to be found on the system?

My question is prompted by a scenario we find strange, where uvloop performance was increased by two-fold after running `apt-g

[2019-01-14 16:39] 1st1 commented on #219
All wheels include a libuv binary.  libuv is a hard requirement for uvloop, it cannot run without it.  It's possible to also manually build uvloop with the system libuv.

What benchmarks did you use?  Can you share the results?  Also, could you please provide more details about your setup:

1. Hardware
2. uvloop version
3. Did you run benchmarks in a container / in a VM / metal?

[2019-01-25 17:32] amir20 opened #220 "memory leak with 0.12.0"
* **uvloop version**: 0.12.0
* **Python version**: 3.7.2
* **Platform**: Mac os and Docker
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: Have not tried yet

Recently I upgraded from `0.11.3` to `0.12.0`. I use uvloop to constantly pull data from an API and insert into a database.  After running for a couple of minutes, I found that my memory usage jumped from ~100MB to ~450mb.

[2019-01-25 17:42] 1st1 commented on #220
Wow, this is unfortunate.

Does your application use SSL connections?

[2019-01-25 17:43] amir20 commented on #220
Yes it does.

[2019-01-25 17:46] 1st1 commented on #220
UDP?  0.12.0 has a couple of UDP-related changes.  If you use UDP please try to run 0.12.0rc1 too.

The 0.12 release has a brand new SSL implementation, so the leak might be related to that.  Ideally we need a script to reproduce it though.

[2019-01-25 17:49] amir20 commented on #220
I am not using UDP. It is only HTTPS and called about 51 requests per second. I'll see what I can do to reproduce it. I have an API, mongo storage and a bunch of other things that need to be stripped.

I might just create a tight loop with the two versions and record the memory.

[2019-01-26 22:20] amir20 commented on #220
Alright. I was able to reproduce this pretty easily.

Here is my script.

[code]

I ran this with `0.11.x` and after 200 iterations my memory was around 25MB. I used Docker so here is a screenshot.

<img width="1228" alt="screen shot 2019-01-26 at 2 07 09 pm" src="https://user-images.githubusercontent.com/260667/51793420-38d6c400-2175-11e9-95b7-7b9f9f53ea20.png">

I did `pip install -U uvloop` and

[2019-01-26 22:22] 1st1 commented on #220
@amir20 Thank you so much.
@fantix please take a look.

[2019-01-26 22:36] fantix commented on #220
Thanks for the reproducing! I'm checking into this.

[2019-01-28 05:10] 1st1 commented on #220
@fantix were you able to figure it out?

[2019-01-28 05:18] fantix commented on #220
@1st1 I'm still trying to find a clue, but I can reproduce the issue.

[2019-01-28 05:32] 1st1 commented on #220
Great, thank you! I'll try to find some time to help in the next couple of days.

[2019-01-28 10:56] dstruck opened #221 "Python 3.7 "TCP echo server using streams" sample code does not work with uvloop."
* **uvloop version**: 0.12.0
* **Python version**: 3.7.1
* **Platform**: Linux
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: not tested

Running the following code (source: https://docs.python.org/3/library/asyncio-stream.html#tcp-echo-server-using-streams) with uvloop:

[code]

Produces the following error message:

[code]

[2019-01-30 01:01] 1st1 commented on #221
Thank you for reporting.  This is basically a duplicate of https://github.com/MagicStack/uvloop/issues/211.

[2019-02-03 13:13] wrobell opened #223 "upgrade to libuv 1.25.0"
libuv 1.24 and 1.25 removes potential security issues (use of `strncpy`)

   https://github.com/libuv/libuv/blob/v1.x/ChangeLog

as a side note: would be nice if the readme file showed how to install uvloop with pip and system libuv

[2019-02-04 22:35] jlaine commented on #211
There is a work in progress PR at #224

[2019-02-08 07:37] aptonline commented on #125
Any chance the above reference  (#20829) can be investigated? After removing uvloop 0.12.0 from Home Assistant my docker container has not crashed once.

[2019-02-11 19:29] #220 closed

[2019-02-11 19:40] fantix commented on #220
Thanks for the merge!

@amir20 please feel free to let me know if it has further issues. Thanks!

[2019-02-11 20:39] amir20 commented on #220
Nice. Would you be able to get a patch released?

[2019-02-11 20:43] 1st1 commented on #220
asap; I'm working on another fix right now.

[2019-02-12 16:57] 1st1 commented on #220
Please try the new uvloop 0.12.1; hopefully it fixes your case.

[2019-02-13 14:34] 1st1 commented on #223
Yeah, that's blocked by https://github.com/libuv/libuv/issues/2058. We might need to fork libuv at this point (which will make it impossible to use the system libuv).  libuv maintainers aren't very responsive :(

[2019-02-13 15:55] 1st1 commented on #223
Alright, it appears that we can now migrate to new libuv: https://github.com/MagicStack/uvloop/pull/226

[2019-02-13 16:04] amir20 commented on #220
I am testing right now. Will let it run for an hour and post an update.

[2019-02-13 16:35] amir20 commented on #220
I think it works. After 30 minutes, its still at 135MB which is a good sign. Great job @1st1 :)

[2019-02-13 16:41] 1st1 commented on #220
Great news!  The fix is to @fantix's credit though :)

[2019-02-13 17:17] wrobell commented on #223
Nice, thanks.

[2019-02-14 14:54] jlaine commented on #223
I'm guessing this issue should be closed since d8fe153e5b67de1124b828f9c9b3c5397ac68d5d has landed?

[2019-02-14 14:56] #223 closed

[2019-02-14 15:04] wrobell opened #227 "Building on Raspberry Pi"
I am using uvloop on Raspberry Pi Zero (many of them ;)). To upgrade to new version, due to memory limitations, one has to go through the following procedure

1. Stop as many applications as possible to free the memory.
2. Create 512M swap file (less might be required).
3. Start installation of `uvloop`.
4. Get coffee. ;)

As `uvloop` provides wheel files for several platforms, IMHO, it would be a

[2019-02-15 05:30] DeoLeung commented on #43
we encountered a dns problem using `uvloop` with `tornado`
[code]
this hangs our program

maybe there's a way to set a timeout on the lookup or may uvloop dns lookup async?

[2019-02-15 18:15] 1st1 opened #228 "Implement sendfile support."
Specifically two event loop methods are still missing:

* `loop.sock_sendfile(..)`
* `loop.sendfile(..)`

Both were added to asyncio 3.7.

[2019-02-15 18:15] 1st1 commented on #227
Care to make a PR to add it to our CI targets? :)

[2019-02-15 18:18] 1st1 commented on #120
There's a debate about adding `uv_udp_connect()` in libuv 1.x here: https://github.com/libuv/libuv/pull/1872#issuecomment-464080195

/ Fingers crossed. /

[2019-02-15 21:27] jlaine commented on #120
Let's hope so! I had a quick chat with @saghul at FOSDEM mentioning UDP performance in uvloop was currently tied to uv 2.x plans..

[2019-02-15 21:37] jlaine commented on #227
A much better option is to coordinate with https://github.com/bennuttall/piwheels

The piwheels project is awesome, it automatically builds wheels for all packages on pypi, and makes them directly installable in the default raspbian distro.

uvloop up to and including 0.12.0 are available, not sure what's up with 0.12.1:

https://www.piwheels.org/simple/uvloop/

[2019-02-15 22:00] wrobell commented on #227
According to https://www.piwheels.org, no Python 2.7, 3.6 and 3.7 at the moment (personally, I am using 3.7).

[2019-02-15 22:07] jlaine commented on #227
Still my point remains that putting the effort on the piwheels side seems more relevant. Even if uvloop's CI produced wheels for Raspberry Pi, there would be no "right" place to upload them. PyPI would almost certainly not be the right place, see:

https://github.com/pypa/manylinux/issues/84

[2019-02-15 22:14] 1st1 commented on #227
Yeah, it seems that PyPI isn't the right place for hosting wheels for Pi/other ARM archs.  This comment by Nathaniel is the key:

Please ping piwheels.org. Unfortunately I'm out of capacity to handle that.

[2019-02-15 22:14] #227 closed

[2019-02-15 22:21] wrobell commented on #227
Fair enough. Just would like to point out that for Raspberry Pi, you would need to build for `armv6` only (see the pypa/manylinux#84 itself). RPi is probably the most popular ARM platform running Python, so IMHO it is worth considering.

[2019-02-16 05:43] tweakimp commented on #14
It would be helpful if it at least said in the readme that it currently has no Windows support.

[2019-02-16 19:58] jlaine commented on #221
This was fixed by PR #224

[2019-02-16 19:58] jlaine commented on #211
PR #224 has landed, fixing this issue

[2019-02-16 19:58] #211 closed

[2019-02-17 21:20] jlaine commented on #228
To clarify the requirement here: is the plan to leverage some support from libuv or is this a matter of replicating the code from vanilla asyncio?

The only reference to sendfile I seem to find in libuv is:

http://docs.libuv.org/en/v1.x/fs.html#c.uv_fs_sendfile

[2019-02-17 21:54] 1st1 commented on #228
Unfortunately, the libuv's sendfile implementation is just a thin wrapper over the "sendfile" system call. I.e. `uv_fs_sendfile()` is not integrated with `uv_tcp_t` handles, so it's very similar to Python's `os.sendfile()`.  This means that yes, we'll need to do is similarly to vanilla asyncio, and I think that using `os.sendfile()` should be easier for us (will ensure same error types/messages as

[2019-02-18 16:42] saghul commented on #120
@jlaine I think https://github.com/libuv/libuv/pull/1872#issuecomment-464080195 is indeed it.

[2019-02-22 08:40] mhchia opened #231 "Inconsistent result between `uvloop.server.Server.sockets` and `asyncio.Server.sockets` in Python 3.5 and 3.6"
* **uvloop version**: 0.11.2
* **Python version**: 3.6.8
* **Platform**: macOS Mojave 10.14.3
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: Yes

According to the [Python document](https://docs.python.org/3.5/library/asyncio-eventloop.html#asyncio.Server.sockets) from 3.5~3.6, `asyncio.Server.sockets` should return `None` if the server is closed. But with uvloop as the event lo

[2019-03-11 00:50] ahesford commented on #221
I don't believe PR #224 fixes this issue. This issue is caused because the stock asyncio.base_events.Server in Python 3.7 was made into an asynchronous context manager. The entry method is simple:

    async def __aenter__(self):
        return self

while the exit method closes the server:

    async def __aexit__(self, *exc):
        self.close()
        await self.wait_closed()

The TCP echo se

[2019-03-14 14:19] yope opened #233 "Incorrect time calculation in loop.call_at()"
* **uvloop version**: 0.11.2
* **Python version**: 3.6.7
* **Platform**: ubuntu 18.10
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: yes

There is a conceptual bug in the calculation of the time in call_at() here:
https://github.com/MagicStack/uvloop/blob/master/uvloop/loop.pyx#L1270
If an application calculates a time in the future to call a function with call_at(), it should

[2019-03-16 00:25] fantix commented on #233
I can reproduce this, even after fixing a floating-point precision issue in your demo script:

[code]

Also when failing, it is always called `1ms` earlier than expected in my ~20 tries. I think the reason is:

1. libuv only provides [integers in millisecond](https://github.com/joyent/libuv/issues/811#issuecomment-18598421) with `uv_now()` which is used by uvloop.
2. uvloop turns this millisecond

[2019-03-16 12:20] yope commented on #233
@fantix Yes, I think you are right. It definitely is a rounding issue. Is this the only place that time is converted from float to milliseconds integer? I guess all such places would have to be changed...

[2019-03-16 14:02] fantix commented on #233
Yes, this is the only place.

Right, that should work for now. I'll create a PR to add the `round` if no objections.

[2019-03-16 15:34] 1st1 commented on #233
Yeah, go for it!

[2019-03-16 16:04] jlaine commented on #118
@soonum could you please share your test as requested by @1st1 ?

[2019-03-16 19:19] jlaine commented on #120
Yay, this PR landed:

https://github.com/libuv/libuv/pull/2217

[2019-03-16 19:43] 1st1 commented on #120
I think it would be easier to wait until they release it.

That said we can start working on this ;) A good place to start would be to find the old UDP implementation in the history and try to resurrect it.

[2019-03-16 20:05] jlaine commented on #120
The release has actually been tagged :)

[2019-03-16 20:31] 1st1 commented on #120
That was quick ;)  I'm reading this on my phone so i missed the fact they released it already.

We can release uvloop 0.13 as soon as we update our UDP layer.

[2019-03-17 15:12] jlaine commented on #233
If we want this to be "no earlier than" shouldn't this be a ceil() ?

[2019-03-17 15:49] fantix commented on #233
Using `ceil()` has a side-effect:

[code]

But yeah, I got your point that when called with `loop.call_later(0.0004, ...)`, it may still get called too early. One possible solution could be to still use `round()`, but adding a time check before calling, and delay one more millisecond if the check fails. (This would also help with the failing unit test in this PR when `PYTHONASYNCIODEBUG=1`) Howeve

[2019-03-17 16:59] yope commented on #233
UVloop has a timer resolution of 1ms, so if call_at of higher than that resolution is made, uvloop may round up or down to whole milliseconds. How it does that is not so important.
What _is_ important, is that whenever I want to call_at() a time that is an integer number of milliseconds, it does not get called at an earlier integer number of milliseconds.
In other words, if I run call_at(12.34, fu

[2019-03-17 17:05] 1st1 commented on #233
And that's probably fine, because the interval is less than the timer resolution.  I think using `round()` instead of the implicit floor/cast should be a good enough solution.

[2019-03-17 17:13] #221 closed

[2019-03-17 17:16] 1st1 commented on #231
I think it's a rather minor inconsistency that shouldn't cause trouble, isn't it?  How did you discover this?

[2019-03-17 18:35] saitaro commented on #168
It doesn't solve the problem for me :/

[2019-03-17 18:42] jlaine commented on #120
Thanks for bumping the libuv version, I'll do a bit of archeology to see what the old implementation looked like.

Can we retain the caching logic I added for address validation though? In the case of an unconnected socket it's still nice not to hit the slow validation code.

[2019-03-17 18:44] jlaine commented on #233
Okidoki, I'll butt out ;)

[2019-03-17 18:49] 1st1 commented on #120
I'm actually working on it, and we have a new problem: libuv's `uv_udp_t` doesn't seem to support `AF_UNIX` sockets which we now support... We might need to open a PR @ libuv.  But so far I don't see the end of the rabbit hole.  I'll push my branch soon so that you can also play with it.

[2019-03-17 19:35] 1st1 commented on #120
The https://github.com/MagicStack/uvloop/pull/238 PR is updating uvloop to start using `uv_udp_t` handles again. Anyone interested in seeing improved UDP performance please try to test/benchmark that PR.

[2019-03-18 06:46] mhchia commented on #231
Thank you for your reply!

Agree. I made an [issue](https://bugs.python.org/issue36074) in CPython for the document of 3.7+, about the fact that they mentioned "List of socket.socket objects the server is listening on, or None if the server is closed.", which is not consistent with the implementation. The issue was fixed so the behavior of `uvloop.server.Server.sockets` is aligned with the documen

[2019-03-18 06:47] mhchia commented on #231
Close due to no issue now. Thanks! 😄

[2019-03-18 06:47] #231 closed

[2019-03-18 14:47] soonum commented on #118
Sorry I wasn't following up this old issue.
In fact my use case is that one, I provide a `preexec_fn` argument to these methods and as a result, the loop is blocking.

[2019-03-18 15:38] #233 closed

[2019-03-19 22:24] stj opened #239 "Memory growth in 0.12.1"
* **uvloop version**: 0.12.1
* **Python version**: 3.7.1
* **Platform**: Ubuntu Linux 18.10
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: yes

## Long story short

Our services show a small increase in memory usage over time and at some point get OOM killed.
The service is deployed with gunicorn and uvloop using worker [GunicornUVLoopWebWorker|https://github.com/aio-libs/aioht

[2019-03-20 03:11] 1st1 commented on #239
Thank you for a thorough bug report.  I'll try to find time to investigate this soon.

[2019-03-20 04:32] 1st1 commented on #239
Thanks to your excellent analysis it was fairly trivial to find the actual bug.  I've created a PR with a fix.  Once it's green I'll work on releasing 0.12.2 asap.  Thank you.

[2019-03-20 14:58] #239 closed

[2019-03-20 22:34] 1st1 commented on #239
Fixed in uvloop 0.12.2.

[2019-03-20 22:34] 1st1 commented on #233
Fixed in uvloop 0.12.2.

[2019-03-22 10:13] pvizeli commented on #118
We have a component in Home Assistant; they call ffmpeg with a subprocess (async). They also end sometimes (less and more) in blocking and not working event loop :( I can't provide any test code because it's not all time simple to reproduce it in a laboratory situation.

[2019-03-23 20:15] Snawoot opened #241 "Transport sockets do not support shutdown() method"
* **uvloop version**: 0.12.2
* **Python version**: 3.5.3
* **Platform**: Debian 9
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: yes

An attempt to use `shutdown` method of transport socket causes following exception:

[code]

Such behavior is not observed with default event loop.

[2019-03-23 20:29] 1st1 commented on #241
It will be in 3.8 or later.  You're using an undocumented way of shutdowning the socket bypassing the top-level transport API.

[2019-03-23 20:30] 1st1 commented on #241
You should be using `transport.write_eof()`.

[2019-03-23 20:36] Snawoot commented on #241
@1st1 Hello, thanks for answer!

No, I'm interested in `SHUT_RD`, so I use `sock.shutdown(socket.SHUT_RD)` after `transport.pause_reading()`.

[2019-03-23 20:42] 1st1 commented on #241
Well, there's no API for `SHUT_RD` in libuv, so uvloop can't support it in any way :(

Why do you need `SHUT_RD`?  It's not a coincidence it's not supported directly in asyncio/twisted; AFAIK it's pretty much useless, because if the the other side continues to send you data you will receive it anyways.

[2019-03-23 22:00] Snawoot commented on #241
TCP has flow control and sender shall not send more than TCP window size allows him. In this case TCP window will have zero size:
![Wireshark screenshot](https://gist.githubusercontent.com/Snawoot/f9d6a911ceca74a41c0f38821f88e191/raw/d6d3d9c4447659922f35b738d9de947e63edb579/2019-03-23-234229_1919x461_scrot.png)

I just tested it with standard Python 3 event loop and everything works as expected. A

[2019-03-24 23:14] 1st1 commented on #241
OK, fair enough.

The reason why `transport.get_extra_info('socket')` does not return a real socket object is because manipulating the socket FD without the loop knowing about it can disrupt the operation of the event loop (even segfault it some cases).  This has been implemented in uvloop, and I plan to do the same in asyncio in 3.8 (or 3.9).  Therefore, the way you use it to set `SHUT_RD` can st

[2019-03-26 15:37] 1st1 commented on #241
Meanwhile you can try this (untested):

[code]

[2019-03-26 15:58] Snawoot commented on #241
Thanks!

[2019-03-26 20:08] Snawoot commented on #241
For others reference: following code confirmed to work.

[code]

Only disturbing thing is fact EPOLL_CTL_DEL is issued _after_ shutdown:

[code]

Presumably `transport.pause_reading()` works not immediately in uvloop and action taken only when event loop gains execution again. It is not clear, if socket read attempts may occur in that short period (which, in its turn, will definitely fail due to s

[2019-03-26 20:36] Snawoot opened #242 "TimeoutError not thrown"
* **uvloop version**: 0.12.2
* **Python version**: 3.5.3
* **Platform**: Debian 9
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: not sure, it happens naturally

I have following exceptions in log when client connection gets timed out:

[code]

Only place where my TCP stream handler writes something looks like this:

[code]

It seems to me TimeoutError not propagated to caller.

[2019-03-26 20:43] 1st1 commented on #242
I'm not sure I follow... I see a TimeoutError in the attached log, and I also see that you're ignoring TimeoutErrors in your code.  Where's the bug?

[2019-03-26 20:48] Snawoot commented on #242
Bug is: this exception doesn't not gets raised for user code and printed into stderr instead. It doesn't even reach my (empty) exception handler.

[2019-03-26 20:57] 1st1 commented on #242
I see the problem now -- a pending write crashed, but the transport didn't propagate the exception on the subsequent operation.  Would you be able to write a unittest that demonstrates this (would be a huge help)?

[2019-03-26 21:12] Snawoot commented on #242
I'm not sure how can I reproduce TimeoutError because it happens on real connections when peer disappears, but I'll try.

[2019-03-26 23:26] Snawoot commented on #242
Alright, I've build test bed like this:

1. On my server I've enabled `discard` TCP service in `xinetd`. It's a TCP service on port 9 which receives and discards all input data.
2. I've simulated connection choke on server with iptables rule: `iptables -A OUTPUT -m tcp -p tcp --sport 9 -m connbytes --connbytes-dir original --connbytes 5000 --connbytes-mode bytes -j DROP`
3. I've prepared following

[2019-04-05 03:59] sjatkins commented on #13
I tried this and it resulted in an unstarted loop.  I am not sure why.

[2019-04-07 07:46] Fak3 opened #243 "Add a way to know that loop is stopping"
It is useful to know if the loop.stop() was called
When the loop.stop() is called, the asyncio.runners._cancel_all_tasks() attempts to finalize all tasks.
In some libraries, like https://github.com/aio-libs/aiojobs the task done callback will try to schedule next pending task in the queue, but if the loop is already stopping it should not do that. So it would be nice to have a way to check if the

[2019-04-07 07:47] Fak3 commented on #243
Sorry, submitted before finished the description

[2019-04-08 11:15] lgrahl opened #244 "Fatal error on transport TCPTransport (error status in uv_stream_t.shutdown callback)"
* **uvloop version**: 0.12.2
* **Python version**: 3.7.1
* **Platform**: Ubuntu 18.04.2 LTS

We're encountering the following *fatal* error on a daily basis on our production server using @aaugustin's [WebSocket](https://github.com/aaugustin/websockets) implementation:

[code]

Apparently this happens when reading using a subclassed `asnycio.StreamReader` since the websockets library subsequently

[2019-04-10 05:59] xncbf opened #245 "CPU overload"
### Intermittently increases CPU usage suddenly.

![스크린샷 2019-04-10 오후 2 39 28](https://user-images.githubusercontent.com/9462045/55854740-938e9200-5ba0-11e9-85e3-264b29949635.png)

<img width="1210" alt="스크린샷 2019-04-10 오후 2 53 00" src="https://user-images.githubusercontent.com/9462045/55854785-ad2fd980-5ba0-11e9-9bba-f7a4e2ad03a4.png">

Can somebody help me?

[2019-04-10 13:41] xncbf commented on #245
I posted the source code [here](https://github.com/huge-success/sanic/issues/1548#issuecomment-481694335).

[2019-04-16 07:52] #245 closed

[2019-04-16 21:50] jeremy-hiatt opened #246 "SSLProtocol violates app Protocol state machine"
* **uvloop version**: 0.12.2
* **Python version**: 3.5.4
* **Platform**: Mac OS X
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: Yes

Some instances of the `Protocol` class assume `connection_lost()` can only be called if `connection_made()` was called at some point. This does not appear to be explicitly guaranteed in the Python documentation, but the following comment strongly

[2019-04-16 22:04] 1st1 commented on #246
@fantix any thoughts?

[2019-04-16 22:35] fantix commented on #246
let me check

[2019-04-17 00:08] 1st1 commented on #243
These kinds of requests should be filed and discussed on bugs.python.org.  When a new API is accepted in asyncio we can implement it in uvloop.

[2019-04-17 07:25] ma5oud180 commented on #14
Hi Yuri, I understand that you are super busy, but I myself & as I see lots of people, are not able and have not the skills to make it work on Windows. I would like to kindly ask you to finally, easily make it possible to install this package on Windows 64 bit systems. Lots of people are looking for it. Many thanks

[2019-04-17 07:31] hightfly opened #247 "uvloop on alpine-linux install error ?"
Step 7/18 : RUN pip3 install uvloop -i http://pypi.douban.com/simple --trusted-host pypi.douban.com
 ---> Running in 6ea056acafd5
Looking in indexes: http://pypi.douban.com/simple
Collecting uvloop
  Downloading http://pypi.doubanio.com/packages/75/99/7a470e4950d8ecb1b561e8483716c414cd51b8ee193de8eb23506275f5a7/uvloop-0.12.2.tar.gz (1.9MB)
Building wheels for collected packages: uvloop
  Building

[2019-04-20 23:58] jh3 commented on #247
Same issue. No luck here yet.

[2019-04-21 01:29] elprans commented on #247
You need all build prerequisites installed in order to build on platforms where prebuilt wheels are not available. In this case you ate missing GNU make. A C compiler and Python headers are also required

[2019-04-22 02:03] hightfly commented on #247
I already install need libraries on alpine linux .

`RUN apk add --update --no-cache libpq postgresql-dev gcc g++ python3-dev musl-dev libffi-dev tzdata jpeg-dev zlib-dev libxml2-dev libxslt-dev`

What dependency libraries do I need to install?

[2019-04-22 07:58] jlaine commented on #247
`No such file or directory: 'make': 'make'`

Do you have GNU make installed?

[2019-04-22 16:42] 1st1 commented on #246
@fantix Do you plan to implement this yourself?

[2019-04-22 18:12] fantix commented on #246
Yes! I'll create a PR for that.

[2019-04-25 03:34] hightfly commented on #247
already solve

`RUN apk add --update --no-cache make  libpq postgresql-dev gcc g++ python3-dev musl-dev libffi-dev tzdata jpeg-dev zlib-dev libxml2-dev libxslt-dev`

[2019-04-25 19:46] pvizeli commented on #118
The problem is forking. It looks like the current implementation doesn't work on a heavy load of the main process.

[2019-04-26 16:09] Martiusweb commented on #118
IIRC, the call to fork() can be slow because of the internals of the memory
management (I think it's in O(n) with the number of memory pages of the
forked process).
Usually the workaround is to use vfork() when knowing that exec() will be
called right after, but I don't think that this option is safe in Python.

I think that the problem is more about a blocking IPC used to synchronize
the parent a

[2019-04-30 22:18] pvizeli commented on #118
The point is, if we use subprocess inside executors, it work without issues. Also call the normal subprocess inside loop work with attach a streamreader to output. But the subprocess from uvloop hungs

[2019-05-01 19:24] jakirkham commented on #32
Maybe it is worth seeing what is necessary to make the existing Cython code work on PyPy. [Cython supports cpyext for PyPy]( https://cython.readthedocs.io/en/latest/src/userguide/pypy.html#porting-cython-code-to-pypy ) and [PyPy has done some recent work to improve cpyext speed]( https://morepypy.blogspot.com/2018/09/inside-cpyext-why-emulating-cpython-c.html ). Have people explored this path? If

[2019-05-01 21:35] jlaine commented on #247
OK, I'm closing this issue, feel free to re-open if I misunderstood.

[2019-05-01 21:35] #247 closed

[2019-05-02 12:40] ignatenkobrain opened #248 "Multiple tests are failing on Fedora"
* **uvloop version**: 0.12.2
* **Python version**: 3.7.3
* **Platform**: Fedora 31 x86_64
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: yes

[code]

Probably it is related to us using 19.0.0 PyOpenSSL, but we don't have option.

Here is the build log with async debug: https://kojipkgs.fedoraproject.org//work/tasks/6783/34576783/build.log

[2019-05-02 14:33] 1st1 commented on #248
@fantix should we skip those tests on Fedora? What do you think?

[2019-05-02 15:02] jlaine commented on #248
The test_write_pipe failure looks kind of interesting, the error message seems to match one seen in #244 ?

[2019-05-02 15:28] fantix commented on #248
Hmm let me take a look that

[2019-05-03 23:46] fantix commented on #248
This PR fixes the two failing SSL tests.

For the `test_write_pipe` failures, I need to further check it, feels like @jlaine is probably right.

[2019-05-07 15:18] #248 closed

[2019-05-07 15:19] 1st1 commented on #248
Can this now be closed?

[2019-05-07 15:22] fantix commented on #248
Oh, I'm sorry I haven't got time to look into that yet. If my checking shows differently, I'll reopen this issue.

[2019-05-07 15:27] 1st1 commented on #248
Yeah, NP! Thank you for looking into this.

BTW, it's about the last chance to integrate the new SSL into asyncio, which would be an amazing thing, but only if you have time for that.

[2019-06-05 08:59] Qix- opened #250 "Way to verify that uvloop is indeed being used?"
I'm using `pytest-asyncio` and I'm overriding their event loop creation fixture to install uvloop beforehand and then creating a new `asyncio` loop.

[code]

Firstly, I have no idea if this even works, and secondly (even if it does work) I would like to somehow verify that I'm using uvloop after creating a new event loop.

Is there a way to check that a new loop is using uvloop under the hood?

[2019-06-05 13:48] SnowyLuma commented on #250
The check whether the active loop is the newly installed loop you can perform an [isinstance](https://docs.python.org/3/library/functions.html#isinstance) check on it:

[code]

I've personally not used pytest-asyncio, so I'm not sure if your snippet would work there.

[2019-06-05 15:24] Qix- commented on #250
Yep, seems to work great :)

[code]

Thanks!

[2019-06-05 15:24] #250 closed

[2019-06-07 15:53] encukou opened #251 "sys.set_coroutine_wrapper will be removed in Python 3.8"
* **uvloop version**: master (cbbac15f653f08308db025c74d6ce1f474a895f4)
* **Python version**: 3.8.0b1
* **Cython version**: 0.29.10 (updated for Python 3.8 support)
* **Platform**: Fedora
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: yes

The function "sys.set_coroutine_wrapper", which was *provisionally* added to Python 3.5 and [deprecated in Python 3.7](https://bugs.python.o

[2019-06-07 15:55] 1st1 commented on #251
No, we don't need it. We'll have to fix the compatibility with 3.8 at some point though.

[2019-06-07 17:24] hroncok commented on #251
AFAIK It's only used conditionally in here:

https://github.com/MagicStack/uvloop/blob/46c5e9ebe45c7d5aa8777ad1add6656e349528ab/uvloop/loop.pyx#L1055-L1087

[2019-06-09 12:36] nicx commented on #118
any news to this? the HA community is waiting for a solution wistfully ;)

[2019-06-09 14:51] totaki opened #252 "Memory leak in uvloop and tornado"
* **uvloop version**: 0.11.1
* **Python version**: 3.6.4
* **Platform**: Ubuntu 16.04 x64
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: This no effect

I have a platform to which mobile devices will constantly connect via TCP, about 20k per instance. After a few hours of work, memory consumption rises to 2 GB. We use tornado 5.0.1 as TCP server and install uvloop for loop for

[2019-06-10 11:54] hroncok commented on #251
My Cython knowledge is limited here. I wanted to do something like:

[code]

But apparently, Cython determines this `IF` when cythonzing and hence it cannot work (`Compile-time name 'PY_VERSION_HEX' not defined`.

On the other hand, cdefs are not possible in regular `if`:

[code]

Gets to:

[code]

Id like to make an actual C `#if` in there, but don't know how.

[2019-06-10 11:57] hroncok commented on #251
Trying with:

    cdef sys_set_coroutine_wrapper = getattr(sys, 'set_coroutine_wrapper', None)
    cdef sys_get_coroutine_wrapper = getattr(sys, 'get_coroutine_wrapper', None)

[2019-06-10 12:06] hroncok commented on #251
https://github.com/MagicStack/uvloop/pull/253

[2019-06-10 14:45] dpineiden opened #254 "UVLoop and asyncio socket 'start_server'"
uvloop==0.13.0rc1
Python 3.7

There are a problem when starts a socket server (asyncio)

I create a socket module and tests.

The test starts the server ok without uvloop, but when set not. Raise an empty Eception :S

Here is the module:
https://gitlab.com/pineiden/gus

The tests are in test/advance_uv_class

Br!

[2019-06-13 16:12] #251 closed

[2019-06-14 10:47] jlaine commented on #254
Can you please provide the *minimal* code to reproduce your issue?

[2019-06-14 10:50] jlaine commented on #252
Hi! There have been several fixes related to memory leaks since uvloop 0.11.1. Could you please try 0.13.0rc1 and let us know if the leak still occurs?

[2019-06-14 13:24] dpineiden commented on #254
Yes, my friend.
Is maybe hard to locate the mistake, because uvloop works fine in some implementations using the same module.

Simple implementation (works):
https://gitlab.com/pineiden/gus/blob/master/test/advance_uv/server.py

With modular classes (doesn't work)
https://gitlab.com/pineiden/gus/blob/master/test/advance_uv_class/server.py

[2019-06-15 13:51] totaki commented on #252
Hi, thank you, i try this and report then!

[2019-06-21 15:16] cemsbr commented on #221
The error persists. Won't the fix be merged?

[2019-06-22 20:31] jlaine commented on #221
The fix landed for v0.13.0, you can for instance give the release candidate a go: https://github.com/MagicStack/uvloop/releases/tag/v0.13.0rc1

[2019-06-26 17:57] mjpieters opened #255 "Fatal error on transport TCPTransport leads to AttributeError: 'NoneType' object has no attribute 'cancel'"
* **uvloop version**: 0.12.2
* **Python version**: 3.7.3
* **Platform**: Linux
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: Yes

I'm seeing the following error appear:

[code]

This looks to be the same issue as aio-libs/aiohttp#3535 and python/cpython#13548, but with an added twist that uvloop's SSLProtocol implementation has a bug of its own. The attribute error is thrown b

[2019-06-26 19:41] 1st1 commented on #255
Thanks for the bug report!

@fantix what do you think about this?

[2019-06-26 20:40] fantix commented on #255
checking

[2019-07-08 23:25] wrobell opened #256 "upgrade libuv to ver. 1.30.1"
I believe `uvloop` is stuck at version 1.28.0 of `libuv`. The version 1.29.0 fixes "race condition in uv_async_send()". IMHO, worth upgrading.

[2019-07-13 01:31] Tobotimus opened #257 "Don't log OSError exceptions in transports"
* **uvloop version**: 0.12.2
* **Python version**: 3.7.4
* **Platform**: Linux (Ubuntu 19.04)
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: Yes

This refers to the bpo here: https://bugs.python.org/issue37035

And relevant asyncio changes: python/cpython#13548.

In particular, I am getting this common SSL error in an aiohttp client application of mine:
[code]

I'd be willing t

[2019-07-18 02:53] #257 closed

[2019-07-22 09:45] Edward-Knight opened #259 "OverflowError with asyncio.sleep"
* **uvloop version**: 0.12.2
* **Python version**: 3.7.3
* **Platform**: darwin (OSX)
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: yes

This issue is related to #102 ("Should `float("inf")` for timeout raise an Overflow error?")

uvloop throws an OverflowError if you pass `asyncio.sleep` a large enough delay.
Thanks to #102, uvloop handles the `float("inf")` case, but other l

[2019-07-26 17:32] dyseo opened #260 "cannot install in arch64 use Termux"
* **uvloop version**:
* **Python version**: 3.7
* **Platform**:
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**:

just wanna try `uvloop` on my device (arch64 Android) using termux

i have installed from pip with command line `pip3 install uvloop`

[code]

[2019-07-26 17:46] dyseo commented on #260
solved by installing `make` with `pkg install make`

then now i includ uvloop for my asyncio by code

[code]

after run i get traceback like this

[code]

[2019-07-30 14:39] th3mis opened #261 "uvloop closes server socket unexpectedly"
Hello, I've faced with problem I created Unix server, then read yml, next after event loop executes, server socket is closed. Using default asyncio event loop everything is okay. What's wrong here?

* **uvloop version**: uvloop (0.12.2)
* **pyaml version**: pyaml (19.4.1)
* **Python version**: Python 3.6.8
* **Platform**: Ubuntu 18.04 x86-64

Code for reproduce:
[code]

Part of strace:
[code]

Her

[2019-07-30 14:50] 1st1 commented on #261
The `x` in `x = await asyncio.start_unix_server(handler, '/tmp/test.sock')` is a reference to a `Server` object that controls the uvloop's Unix server.  Because you don't do anything with it and have no hard reference to it after the `start()` coroutine completes, it gets garbage collected.

[2019-07-30 14:50] #261 closed

[2019-07-30 14:51] 1st1 commented on #259
Yeah, makes sense. Care to make a PR?

[2019-07-30 14:57] th3mis commented on #261
So why there is no problem with default event loop? And how is correct way to use `start_unix_server` with uvloop?

[2019-07-30 15:00] 1st1 commented on #261
There might be a circular reference in vanilla asyncio, which is a bug.

Use a context manager, as shown here: https://docs.python.org/3/library/asyncio-eventloop.html#asyncio.Server

[2019-07-30 15:05] th3mis commented on #261
Thanks you! So, it's strange, there is no normal documentation for start_unix_server...

[2019-07-30 15:07] 1st1 commented on #261
Would really appreciate a PR to github/python to improve it!

[2019-07-31 18:19] hh-h opened #262 "Repeating calls to connect_write_pipe with sys.stdout as a stream lead to FileExistsError exception"
* **uvloop version**: 0.11.3, 0.12.2, 0.13.0rc1
* **Python version**: 3.6, 3.7
* **Platform**: linux, macos
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: yes

Hello, this example doesn't work with uvloop.
[code]

[code]

please, see discussion here https://github.com/B2W-BIT/aiologger/issues/42#issuecomment-457283504

[2019-08-05 18:20] twisteroidambassador commented on #260
Your current issue is because libuv does not compile cleanly on TermUX.

TermUX provides its own `libuv` package, and as you can see here https://github.com/termux/termux-packages/blob/master/packages/libuv/pthread-sigmask.patch it has to patch out `uv__pthread_sigmask`. So, the easiest way is to use the provided `libuv` with `uvloop`.

I've installed `uvloop` on TermUX successfully with the follo

[2019-08-06 07:54] nicx commented on #118
Hm very sad that its not going on here :( I would love using the HA stream component...

[2019-08-12 12:13] jlaine commented on #252
Did you get a chance to retest?

[2019-08-13 12:57] totaki commented on #252
Sorry, i forget this. I fix my another problem and this not check with another uvloop. In this holidays i repeat my experiment, and report it.

[2019-08-14 03:45] 1st1 commented on #256
The just released uvloop 0.13.0 uses 1.31.0. Thank you

[2019-08-14 03:45] #256 closed

[2019-08-14 03:45] 1st1 commented on #246
@fantix ping

[2019-08-14 03:50] 1st1 commented on #262
Interesting. Why do you think this is a good idea to connect two transports to the same fd?

[2019-08-14 03:55] fantix commented on #246
Ahhh that slipped through the cracks, let me make one PR now.

[2019-08-14 06:14] jlaine commented on #120
This is fixed in uvloop 0.13.0! 🎉

[2019-08-14 06:14] #120 closed

[2019-08-14 06:17] jlaine commented on #254
Again, could you please provide a reduced testcase for this issue? We definitely want to hunt down bugs in uvloop but do not have time to analyse third party code.

[2019-08-15 19:46] jlaine commented on #260
This feels like something that should be sorted out upstream in libuv itself as I don't think uvloop can shoulder the burden of integrating fixes / workarounds for all OSes. Thoughts @1st1 ?

[2019-08-16 02:52] mjpieters commented on #255
@fantix do you need anything else from me to create a test for this still?

[2019-08-16 03:11] fantix commented on #255
@mjpieters oh sorry I was distracted, yeah it'll be really nice if you can also provide a test. I'll only have time after next week. Appreciate you asked ❤️

[2019-08-16 09:55] twisteroidambassador commented on #260
I would say this really is a quirk of TermUX.

Basically TermUX provides a rather complete Linux environment inside an Android app, and its environment is sufficiently different from stock Android that `libuv` does not compile cleanly inside TermUX. TermUX provides a package for `libuv`, and they patched out some Android-specific parts, as linked in my previous response. I personally don't think u

[2019-08-16 15:22] dyseo commented on #260
i follow your step by step as well as i can
and i get this error

[code]

[2019-08-16 15:23] dyseo commented on #260
i try this too and getting same error like [This](https://github.com/MagicStack/uvloop/issues/260#issuecomment-522048247)

[2019-08-16 15:28] dyseo commented on #260
Thanks for advice, this issue was solved

last issue i run python in directory of unvloop localy

[2019-08-16 15:28] #260 closed

[2019-08-16 22:16] Kirya2k opened #264 "Don't compile uvloop 0.13 on mips."
Don't compile version 0.13.
Version 0.12.2 compile before normally.
Where to find the reason ?

3.7.2 (default, May 25 2019, 13:27:38)
[GCC 7.4.0]

~/uvloop-0.13 # uname -a
Linux Keenetic_Giga 3.4.113 #1 SMP Mon Jun 17 21:01:32 MSK 2019 mips GNU/Linux
( This is https://github.com/Entware/Entware/)

 copying uvloop/includes/python.pxd -> build/lib.linux-mips-3.7/uvloop/includes
  copying uvloop/inc

[2019-08-17 08:19] carlodri commented on #264
same problem here:

[code]

System info:

[code]

[2019-08-20 08:33] lafrinte commented on #264
same problem:

[code]

system:

* gcc
[code]

os:
[code]

python: 3.7.2

[2019-08-20 21:14] 1st1 commented on #264
Hm, seems that `libuv/uv.h` no longer exposes the `SO_REUSEPORT` define.  Can you please try to add this:

[code]

to `uvloop/includes/uv.pxd` and see if it compiles?

[2019-08-21 00:25] Kirya2k commented on #264
I got same error with this patch of uv.pxd. :(

[2019-08-21 01:49] 1st1 commented on #264
@elprans do you have any idea what's going on here?

[2019-08-21 01:54] 1st1 commented on #264
I guess I know how to "fix" this problem -- just add a better check for `defined(SO_REUSEPORT)`, but I'm wondering why this problem didn't affect uvloop 0.12.2.

@Kirya2k few more questions:

* how do you install uvloop 0.13.0?  (via pip or manually?)
* is your system 64bit or 32bit?
* when you install uvloop 0.12.2 -- are you using the precompiled wheel package?  Can you build uvloop 0.12.2 manua

[2019-08-21 12:31] Kirya2k commented on #264
@1st1

1. I tryed install uvloop via pip3.
pip3 install uvloop
Under option with patch of uv.pxd: pip3 install uvloop-0.13.0_patched.tar.gz
2. I have specific system and I suppose what at the reason in this, but @carlodri @lafrinte upper have same problem on x86.
My system have mips32 1004Kc architecture.
(This is actually a wifi router :) )

~ # lscpu
Architecture:        mips
Byte Order:

[2019-08-22 13:55] sirkonst opened #265 "[version 0.13.0] Missed wheels with manylinux1"
* **uvloop version**: 0.13.0
* **Python version**: 3.7
* **Platform**: linux

Why for version 0.13.0 is not attached whls files for `manylinux1`?

[2019-08-23 02:26] 1st1 commented on #265
Why do you need them?  IIRC we had a problem with compiling recent versions of libuv with manylinux1.

[2019-08-23 06:51] sirkonst commented on #265
I have a problem on my environment. For install the version 0.13 compiling is required now. I don't know why, just a sadness fact. But 0.12 installs from precompiled wheel (manylinux1).

[2019-08-23 08:21] jlaine commented on #265
Have you tried updating your pip using `pip install -U pip`? I was also surprised that I was not using precompiled wheels on Debian/buster until I updated pip.

[2019-08-23 17:37] bsergean commented on #244
I'm also getting that error + I'm using the same websocket library (and python 3.7.3 on alpine linux)

[2019-08-24 00:02] #246 closed

[2019-08-24 08:24] jlaine commented on #244
This may have been solved by https://github.com/MagicStack/uvloop/commit/ef29dab2c80e7d5497f288deb7a817b873a188ab could you give uvloop 0.13.0 a spin a report back?

[2019-08-24 22:12] bsergean commented on #244
Looks like the problem is gone (I also switched to python 3.7.4 btw). Thanks for the hint @jlaine !

[2019-08-25 00:47] nehaljwani commented on #264
[socket(7)](http://man7.org/linux/man-pages/man7/socket.7.html) shows that `SO_REUSEPORT` is available since Linux Kernel 3.9.  CentOS 6.x is on ~2.6

[2019-08-25 08:13] jlaine commented on #244
@lgrahl as it's your issue could you give it a go and report back?

[2019-08-31 00:44] wumpus opened #266 "issue building in Python 3.8.0b4+ (a recent development version)"
* **uvloop version**: 0.13.0
* **Python version**: 3.8.0b4+
* **Platform**: travis-ci, Ubuntu xenial 16.04.6
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: dunno

Python 3.8 development has reached the point where it has breaking changes.

PyCode_New() seems to have changed function signature.

[code]

In the past with other projects, the issue was that CPython output was check

[2019-08-31 04:22] 1st1 commented on #266
We probably need to use a newer Cython.  We'll do so soon.

[2019-09-01 07:11] RobertoPrevato commented on #266
I just compiled uvloop for Python 3.8, I didn't have issues. Instead, I got this error at runtime:

[code]

I can see that `set_coroutine_wrapper` is mentioned here and was deprecated in Python 3.7 > [https://docs.python.org/3.8/whatsnew/3.8.html](https://docs.python.org/3.8/whatsnew/3.8.html).

This is happening with the latest version fetched from PyPi I will try with the latest zip downloadable

[2019-09-02 21:16] Kirya2k commented on #264
I have same error after upgrade kernel to 4.9
:(
And @carlodri (upper) have this error with kernel 4.15.0-1052

~/uvloop-0.13 # uname -a
Linux Keenetic_Giga 4.9-ndm-2 #2 SMP Mon Sep 2 14:16:07 MSK 2019 mips GNU/Linux

[2019-09-03 15:54] brunobord commented on #265
I'd like to report the same issue here. Please read below:

[code]

compared to:

[code]

That might become a problem when you're deploying on an environment where, for security reasons, you must not have a C compiler installed.
*Ergo*, you can't install the latest uvloop version.

A strange fact, though, I can *see* the wheels on PyPI: https://pypi.org/project/uvloop/#files
Would it be possible t

[2019-09-03 15:57] elprans commented on #265
@brunobord The 0.13.0 wheels use the manylinux_2010 profile, which require pip 10.x or later to be recognized.

[2019-09-03 16:08] brunobord commented on #265
my pip version is:

[code]

When trying to install the package again, it fails to find the .whl.
Time to fix this, indeed.

[2019-09-03 16:19] elprans commented on #265
Work for me on pip-19.2.3:

[code]

Please try updating `pip` to the latest version.

[2019-09-04 07:49] brunobord commented on #265
indeed it worked with pip==19.2.3, thx.

[2019-09-06 20:42] Prideauxx commented on #244
I'm having the same/similar issue using 0.13.0 with streaming protocol (TCP):
[code]
Attempted same shutdown with base asyncio; issue not present there.  Thank you for looking at this.

[2019-09-06 20:44] bsergean commented on #244
Have you tried with python 3.7 ?

[2019-09-09 19:30] carlodri commented on #264
any news on this? Indeed, as @Kirya2k says, I have kernel 4.15 on Azure so kernel version should not be an issue.

[2019-09-09 21:51] jlaine commented on #265
@sirkonst could you report back whether updating pip also fixes the issue for you?

[2019-09-10 20:12] pranavtbhat opened #267 "Computing IO-Wait time"
I'm investigating an IO-boundedness issue with a python server, and would like to instrument the uvloop to compute the amount of time spent polling for IO.

The way to do this in `libuv` would be to register a `prepare` handle that records the `start_time` and a `check` handle that records the the `stop_time` and writes it to some form of global state. I went through the UVLoop code, and there see

[2019-09-11 10:02] 1st1 commented on #267
You can try to build uvloop in debug mode.  It will have many debug attributes then; if total polling time isn't one of them we can add it.

In general we do need to design a deep tracing API for uvloop.  https://github.com/MagicStack/uvloop/pull/171 is meant for that, but I didn't have the time to work on it.

[2019-09-11 22:45] pranavtbhat commented on #267
Total polling time doesn't seem to be a debug attribute. Also, we probably need aggregate data  to debug this, so debug-mode may not be feasible for extensive analysis.

The ability to register custom prepare/check handles could allow users like me to self service some tracing/profiling needs. Do you think this would be clean and worth adding to UVLoop?

[2019-09-13 22:03] Kirya2k commented on #264
I have same error with this patch.

creating build/temp.linux-mips-3.7/uvloop
  mipsel-openwrt-linux-gnu-gcc -Wno-unused-result -Wsign-compare -DNDEBUG -O2 -pipe -mno-branch-likely -mips32r2 -mtune=mips32r2 -fno-caller-saves -fhonour-copts -Wno-error=unused-but-set-variable -Wno-error=unused-result -msoft-float -O2 -pipe -mno-branch-likely -mips32r2 -mtune=mips32r2 -fno-caller-saves -fhonour-copts

[2019-09-26 00:54] pranavtbhat commented on #267
@1st1 I tried building the functionality into the debug build, but the debug build itself is a fairly large performance hit.

I considered another option. Inheriting from `uvloop.loop.Loop`. This requires me to `cimport` from uvloop. The required cython header (pxd) files are packaged as expected.

However, the `libuv` `.h/.c` files are not, and the C compilation fails. Since UVLoop packages it's

[2019-09-26 12:11] madkote commented on #262
@1st1 in case you log to stdout from to different loggers, where both use stdout as stream handler

[2019-09-26 12:21] mosquito opened #269 "RuntimeError: cannot convert sockaddr into Python object"
* **uvloop**: 0.13.0
* **Python **: Python 3.7.3 (v3.7.3:ef4ec6ed12, Mar 25 2019, 16:52:21)
* **Platform**: MacOS
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: yes

After installing `uvloop` as an event-loop factory my UDP server implementation stops working.

[code]

That's because [__convert_sockaddr_to_pyaddr](https://github.com/MagicStack/uvloop/blob/master/uvloop/dns.pyx#

[2019-09-26 19:49] 1st1 commented on #269
Do you want to submit a patch?

[2019-09-26 19:52] 1st1 commented on #262
Sure, but then you might have a race condition between these two protocols/transports not synchronizing their writes/reads to the FD.  And if you want to do something like that anyways, the preferred solution would be probably to just `os.dup()` the FD for another protocol/transport pair, right?

[2019-09-26 20:37] madkote commented on #262
@1st1 Thx. I do fully agree regarding `os.dup()` - it can be even a good workaround for the library mentioned above.

But there might be other scenarios (which I am not aware right now), where asyncio would work, and uvoop would not. So the question is - how far `uvloop` want to be similar to `asyncio` in usage.

[2019-09-26 20:56] WouldYouKindly commented on #262
Just my two cents: we had cases when uvloop would raise `FileNotFoundError`, while the file was indeed there; also, sometimes writes would go to the wrong files. We did not manage to reliably reproduce it, and just ditched uvloop; asyncio works fine. It looked like uvloop mistook one file descriptor for another or something...

Non sure if it's relevant or not, and unfortunately cannot provide mor

[2019-09-26 21:06] 1st1 commented on #262
Yeah, this definitely needs to be investigated.  If anyone wants to help I'd really appreciate that.  I myself have no idea when I have time to debug this.

[2019-09-27 09:29] mosquito commented on #269
@1st1 #271 fixes my case. But I'm not sure about tests which I have to add. I actually have not investigated well enough your test cases.

[2019-09-27 13:05] saveshodhan opened #272 "Blog post URL seems to be dead"
* **uvloop version**: NA
* **Python version**: NA
* **Platform**: NA
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: NA

The [link](http://magic.io/blog/uvloop-blazing-fast-python-networking/) to the blog post mentioned in the readme seems to be dead. Gives the below message when loaded:

[2019-09-29 12:14] Nothing4You commented on #272
Works for me

[2019-09-30 05:33] 1st1 commented on #272
Yeah, thanks for reporting this. Should be up now.

[2019-09-30 05:33] #272 closed

[2019-10-02 13:06] gjcarneiro opened #273 "uvloop 0.13.0 wheel not compatible with ubuntu 19.04"
* **uvloop version**: 0.13.0
* **Python version**: 3.7.3
* **Platform**: ubuntu 19.04
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: N/A

[code]

Why does it skip the wheels and try to compile from scratch?  It didn't skip the wheels on version 0.12.2...

[2019-10-02 13:11] gjcarneiro commented on #273
Ah, it seems to work with latest pip version 19.2.3, but not with pip version 18.1, that is shipped with ubuntu 19.04.

I don't know, requiring so recent pip might have been premature; it is not widely deployed yet :|

[2019-10-02 15:23] elprans commented on #273
We have no choice.  The version of libuv, that uvloop depends on in recent versions, requires the manylinux2010 profile.  Using the latest version of pip and setuptools in a venv is recommended practice in any case.

[2019-10-02 15:23] #273 closed

[2019-10-02 15:42] gjcarneiro commented on #273
ok, fair enough

[2019-10-03 19:52] dark0ghost opened #274 "RuntimeError: Timeout context manager should be used inside a task"
* **uvloop version**:uvloop==0.13.0
* **Python version**: 3.7.3
* **Platform**: debian 10

[2019-10-03 19:59] dark0ghost commented on #274
traceback :  https://pastebin.com/q2yvq236
handler: https://pastebin.com/RhdV38Zw
class pastebin : https://gist.github.com/dark0ghost/216348a1ed14468933bf649c1427af21
was use uvloop and send traceback, if use asyncio loop , then no traceback

[2019-10-03 21:02] 1st1 commented on #274
@asvetlov Any ideas what might be going on here? I'm wondering why the behaviour of `aiohttp.Timeout` might be different on vanilla vs uvloop

[2019-10-06 02:49] #267 closed

[2019-10-15 12:01] primal100 opened #276 "UDP connection fails when local_addr and remote_addr are used together"
* **uvloop version**: 0.13.0
* **Python version**: 3.7.4
* **Platform**: Ubuntu
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: Yes

The following code, using local_addr and remote_addr together:

[code]

produces the following error:
[code]

If I remove the local_addr argument from the second create_datagram_endpoint, it works.
The above example works ok in Selector and Proacto

[2019-10-16 14:58] Snawoot opened #277 "uvloop build failed on Python 3.8"
* **uvloop version**: 0.13.0
* **Python version**: 3.8
* **Platform**: Linux (Ubuntu Xenial, Fedora 30)
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: No, can't even build uvloop

Hello,

Two days ago new stable Python version 3.8.0 has been released. Today I updated test matrix for one of my projects and noticed uvloop fails to install: https://travis-ci.org/Snawoot/postfix-mt

[2019-10-16 16:06] devalentino opened #278 "uvloop installation fails in python:latest container"
* **uvloop version**: latest
* **Python version**: latest
* **Platform**: Debian GNU/Linux 10 (buster) (`python:latest` docker image)
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: no

I am not able to install `uvloop` during image build.

[code]

[2019-10-16 19:49] sonirico commented on #277
Same here: https://travis-ci.com/sonirico/wpoke/jobs/246022440
This is a big stopper in regards to make libraries take advantage of the new features introduced in py38. Fast feedback on this is much appreciated...

[2019-10-16 21:42] Jamim commented on #277
It looks like this issue duplicates #266.

[2019-10-16 21:44] Jamim commented on #278
This issue duplicates #266.

[2019-10-16 21:47] Snawoot commented on #277
@Jamim Yes, it is, but this issue also escalates problem. Now uvloop is not usable on current stable python.

[2019-10-17 07:32] agronholm commented on #278
And #277 as well.

[2019-10-17 10:45] devalentino commented on #278
closing in favor https://github.com/MagicStack/uvloop/issues/266 (or https://github.com/MagicStack/uvloop/issues/277)

[2019-10-17 10:55] h1nk commented on #278
@devalentino you can take a look at insurgency/aioa2squery@9e63733 and [this comment](https://github.com/MagicStack/uvloop/pull/275#issuecomment-542887504).

[2019-10-18 08:22] AHLinJie commented on #277
uvloop/loop.c:334:75: note: in definition of macro ‘__Pyx_PyCode_New’
               PyCode_New(a, 0, k, l, s, f, code, c, n, v, fv, cell, fn, name, fline, lnos)
                                                                               ^~~~~
    In file included from /usr/local/include/python3.8/compile.h:5:0,
                     from /usr/local/include/python3.8/Python.h:138,

[2019-10-18 09:13] jlaine commented on #276
The code in `create_datagram_endpoint` indeed looks suspicious, there are two calls to `_connect`:

https://github.com/MagicStack/uvloop/blob/82104fb68e6cf2b469622e62169cdbeac93846cb/uvloop/loop.pyx#L2973
https://github.com/MagicStack/uvloop/blob/82104fb68e6cf2b469622e62169cdbeac93846cb/uvloop/loop.pyx#L2980

[2019-10-18 13:28] sirkonst commented on #265
Sorry, you absolutely right updating a PIP resolves a problem.

[2019-10-18 13:28] #265 closed

[2019-10-21 00:25] speedyb0y commented on #277
Just a feedback: sucesfully built uvloop with Python 3.8, Cython 0.29.13. Using with latest aiohttp and websockets.

Have 6 processes running for 4 hours, dealing with gigabytes of data, with a total of ~8000 connections.
Everything seems fine.

As others said the only change needed was to use Cython 0.29.13 on uvloop.pyx.

[2019-10-21 00:27] 1st1 commented on #277
Quick update: I'll try to find time to release a new version in a couple of days. Thanks for confirming that Cython 0.29.13 works.

[2019-10-21 03:22] ndaidong commented on #277
@speedyb0y what did you do exactly? Within virtual environment created with python 3.8, I tried to install cython 0.29.3 first, then install uvloop. It sill fails.

[code]

[2019-10-21 05:48] imbolc commented on #277
@ndaidong I guess he used master's version: `pip install git+https://github.com/MagicStack/uvloop`

[2019-10-21 11:44] maheshnayer opened #279 "Connection reset error when using autobahn"
* **uvloop version**: 0.12.0
* **Python version**: 3.7.2
* **Platform**: ubuntu 16.04
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**:

Stack trace:

019-10-19 00:07:57.801306+05:30 - ERROR - Exception in callback <bound method WebSocketAdapterProtocol.connection_lost of <main.ClientProtocol object at 0x7f9d7516eb38>>
handle:
Traceback (most recent call last):
File "uvloop/cbhand

[2019-10-21 19:05] 1st1 commented on #279
So what's the problem with this?  Does it happen all the time? Is this logged or does it bring down the server? It isn't clear from your submission what's happening and what we need to look at. Please provide us with more details.

[2019-10-21 19:07] h1nk commented on #277
@ndaidong see [this comment](https://github.com/MagicStack/uvloop/pull/275#issuecomment-542887504)

[2019-10-21 19:08] speedyb0y commented on #277
hi @ndaidong , I use the BuildRoot project to build my entire system.
It seems to use "pip install" under the hood  so I just downloaded the current version uvloop-VERSION.tar.gz, runned "cython -3 uvloop/loop.pyx" and it generated a new uvloop/loop.pyx.c file.

I then made a new tar.gz and used it instead of the original.

I used my distribution Cython, which is the latest version.

[2019-10-22 00:18] ndaidong commented on #277
@imbolc @h1nk @speedyb0y : thank you all for your replies
I confirmed that uvloop from its master brand works for me. Just need to install latest version of Cython first, then run the command like imbolc's suggestion.
Another way that helps to install it faster is build uvloop first (similar [my fork](https://github.com/ndaidong/uvloop/releases/tag/uvloop-0.14.0.dev0)), then use it later without C

[2019-10-22 11:28] shusso commented on #277
Just confirming that uvloop master + python3.8 seems to work (in the python3.8 docker image):
[code]

[2019-10-22 13:10] maheshnayer commented on #279
It doesn't bring down the server. It doesn't happen often though. Once or twice a day but it raises an exception that I'm unable to catch and handle accordingly and I'm unable to figure out the reason for this issue. I have a websocket client connected to a remote server. The connections are usually open for extended periods of time and a break in connection is handled accordingly except for this

[2019-10-22 19:59] 1st1 commented on #279
Do they actually break? Are you just annoyed by seeing errors in the log, or are there actual connectivity issues?

The traceback you shared can be explained by clients disconnecting in the middle of establishing a connection. There's nothing wrong with it. Maybe we should just silence logs like that?

[2019-10-22 20:41] 1st1 commented on #118
I still haven't received any **clear answer** to https://github.com/MagicStack/uvloop/issues/118#issuecomment-391923149.

I know that uvloop is blocking when `preexec_fn` is used, but almost nobody uses it. Other than that, as @Martiusweb explained in his comment https://github.com/MagicStack/uvloop/issues/118#issuecomment-487112929 it should not block.

@pvizeli

Does uvloop behave differently fr

[2019-10-22 20:55] pvizeli commented on #118
@1st1 yes. The reason why we remove it from Home Assistant. However, https://github.com/MagicStack/uvloop/pull/268 fix the problem and we can reuse it after that is merged.

[2019-10-22 21:01] 1st1 commented on #118
Great, I'm working on a release right now, and will likely merge #268 or a variation of it.

[2019-10-22 22:19] fantix commented on #279
@maheshnayer are you using the [WAMP Application Component](https://github.com/crossbario/autobahn-python#wamp-application-component)? Searching the autobahn source code, it seems to be the only place calling `create_connection` unless your own code is trying to establish SSL/TLS connections.

As @1st1 explained, `ConnectionResetError` means your client dropped the connection before completing the

[2019-10-22 22:33] 1st1 commented on #279
Yeah. FWIW this looks like a bug in autobahn.  Also `AttributeError: 'ClientProtocol' object has no attribute 'serverConnectionDropTimeoutCall'` looks very suspicious.

@maheshnayer is it only with uvloop you see these exceptions?

[2019-10-22 22:34] fantix commented on #279
Another example using autobahn WebSocket client:

[code]

Same output:
[code]

[2019-10-22 22:37] fantix commented on #279
If you turn on asyncio debug, it will reveal the source of the problem:
[code]

[2019-10-24 03:46] 1st1 commented on #277
**I do not recommend running uvloop 0.13 on 3.8. It is broken in many subtle ways. A proper release is coming soon, please wait.**

[2019-10-24 03:58] 1st1 commented on #266
## I do not recommend running uvloop 0.13 on 3.8. It is broken in many subtle ways. A proper release is coming soon, please wait.

[2019-10-24 21:34] 1st1 commented on #252
@totaki any update on this?

[2019-10-24 22:17] asvetlov commented on #274
The error is generated if `asyncio.current_task()` returns `None`.
Normally, it should never happen if the call is performed from async function like in provided code snippets (`await aiohttp_session.post(...)`)

[2019-10-24 22:25] dark0ghost commented on #274
What need information?

[2019-10-24 22:32] asvetlov commented on #274
Instruction on how to reproduce the problem locally on my laptop would be awesome!

FYI, I'm able to run aiohttp test suite on uvloop without any problem except one test that heavily mocks asyncio transport details.

[2019-10-24 22:36] dark0ghost commented on #274
Full code  https://github.com/dark0ghost/async_py_bot, but  need fill json , then bot started. Or unplug module

[2019-10-24 22:56] asvetlov commented on #274
It doesn't look like the easy reproducible example, sorry.

[2019-10-25 02:12] 1st1 commented on #276
Yeah, weird. Probably was a remnant of the old UDP implementation surfaced because of the three-way merge I had to do.

[2019-10-25 02:59] 1st1 commented on #274
@dark0ghost would really help if you could give us a single Python file that reproduces the bug along with clear instructions how to run it.

[2019-10-25 03:09] 1st1 commented on #262
@hh-h The reason the original example does not work is because libuv requires every FD to be registered once. So in order to fix this in uvloop, uvloop itself will have to dup FDs behind the scenes.  Which is a bit suboptimal, but I'll think about it.

@WouldYouKindly

The only way I can imagine this happening is if you somehow close FDs without closing the transports/protocols that wrap them. In

[2019-10-25 03:10] 1st1 commented on #279
@maheshnayer could you please file this bug to the autobahn bug tracker referencing this issue?

[2019-10-25 03:11] 1st1 commented on #264
I don't have mips and have no time to debug this. If anyone wants to submit a PR I'd really appreciate that!

[2019-10-25 03:19] 1st1 commented on #254
@dpineiden sorry for the delayed reply.  How can I install your code or run it?

[2019-10-25 04:52] dark0ghost commented on #274
https://github.com/dark0ghost/async_py_bot/blob/master/handlers/message_handler.py#L201

[2019-10-25 07:54] arvibd opened #293 "install fails in macOS Catalina"
* **uvloop version**:
* **Python version**:
* **Platform**:
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**:
* **Does uvloop behave differently from vanilla asyncio? How?**:

recreate the issue :
`python3.8 -m pip install uvloop`
or
`python3.8 -m pip install git+https://github.com/MagicStack/uvloop`

[2019-10-25 08:37] e0en commented on #293
I guess that it is a duplicate of https://github.com/MagicStack/uvloop/issues/277

[2019-10-25 09:10] arvibd commented on #293
No this one is related to the zsh being the default shell on macOS

[2019-10-25 10:09] maheshnayer commented on #279
I have raised an issue at auto bahn. Closing this for now. Thank you

[2019-10-25 10:09] #279 closed

[2019-10-25 10:18] mosquito commented on #269
@1st1 if possible, I would leave it open until a new version has been released.

[2019-10-25 13:48] 1st1 commented on #293
Python 3.8 isn't yet supported. Can you try to install with 3.7?

In any case, I don't have Catalina yet and so I'd appreciate a PR with a fix if there's a bug.

[2019-10-25 21:35] 1st1 commented on #277
I've just published https://github.com/MagicStack/uvloop/releases/tag/v0.14.0rc1.  Please test.  The final release will be published some time next week if RC1 is OK.

[2019-10-25 21:35] #277 closed

[2019-10-25 21:36] 1st1 commented on #276
I've just published https://github.com/MagicStack/uvloop/releases/tag/v0.14.0rc1.  Please test.  The final release will be published some time next week if RC1 is OK.

[2019-10-25 21:36] #276 closed

[2019-10-25 21:36] 1st1 commented on #269
I've just published https://github.com/MagicStack/uvloop/releases/tag/v0.14.0rc1.  Please test.  The final release will be published some time next week if RC1 is OK.

[2019-10-25 21:36] #269 closed

[2019-10-25 21:36] 1st1 commented on #266
I've just published https://github.com/MagicStack/uvloop/releases/tag/v0.14.0rc1.  Please test.  The final release will be published some time next week if RC1 is OK.

[2019-10-25 21:36] #266 closed

[2019-10-25 21:36] 1st1 commented on #259
I've just published https://github.com/MagicStack/uvloop/releases/tag/v0.14.0rc1.  Please test.  The final release will be published some time next week if RC1 is OK.

[2019-10-25 21:36] #259 closed

[2019-10-25 21:36] 1st1 commented on #255
I've just published https://github.com/MagicStack/uvloop/releases/tag/v0.14.0rc1.  Please test.  The final release will be published some time next week if RC1 is OK.

[2019-10-25 21:36] #255 closed

[2019-10-25 21:38] 1st1 commented on #293
I've just published https://github.com/MagicStack/uvloop/releases/tag/v0.14.0rc1.  Please try it.  If it does not work, please share the output of `pip install --vebose uvloop`

[2019-10-26 00:47] Snawoot commented on #277
My test suite is passing. Thank you! Looking forward for PyPI release.

[2019-10-26 01:25] 1st1 commented on #277
You can install with `pip install uvloop==0.14.0rc1`

[2019-10-27 21:46] amackillop opened #295 "Ignoring KeyboardInterrupt"
* **uvloop version**: 0.14.0rc1
* **Python version**: 3.7.4
* **Platform**: Manjaro
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: Yes
* **Does uvloop behave differently from vanilla asyncio? How?**: Vanilla loop respects the KeyboardInterrupt while uvloop ignore it.

Here is a code snippet:
[code]

Execute the file:
`python issue.py`

Hit `Ctrl+C`.

The keyboard interrupt will

[2019-10-28 03:35] 1st1 commented on #295
Seems that the regression was introduced in 48d376d30c9a01516f13d15aaa3d756ce13e97e8 cc @vladima

[2019-10-28 04:04] 1st1 commented on #295
Alright, I think I know what causes the bug. Will need to refactor our signals setup/processing code a bit to untangle it. I'll release RC2 tomorrow or the day after with the fix.

[2019-10-28 17:26] willingc commented on #126
@1st1 Is there a similar error with Python 3.8?

I've tried installing datasette, uvicorn, and uvloop all from master HEAD. Get the following error:
[code]

[2019-10-28 17:56] 1st1 commented on #126
That's weird, as that line of code was fixed a year ago:

https://github.com/MagicStack/uvloop/blob/695a520195c7cecc20754cf41e98b4242dc26fcc/uvloop/includes/stdlib.pxi#L46

I suspect you're using an old version of uvloop. Try installing with `pip install uvloop==0.14.0rc1`.

[2019-10-29 11:11] willingc commented on #126
Thanks @1st1 that resolved the issue. :smile:

[2019-10-29 18:43] 1st1 commented on #295
Fixed in uvloop 0.14.0rc2. Thank you!

[2019-10-29 18:44] 1st1 commented on #219
Since there's been no activity in this issue for many month I'm closing it. Feel free to reopen!

[2019-10-29 18:44] #219 closed

[2019-10-29 18:45] 1st1 commented on #243
Since there's been no activity in this issue for many month I'm closing it. Feel free to reopen!

[2019-10-29 18:45] #243 closed

[2019-10-29 23:50] amackillop commented on #295
@1st1  I appreciate the quick turnaround. Keep up the great work.

[2019-10-30 07:32] isleifeng opened #298 "error: command 'gcc' failed with exit status 1"
* **uvloop version**:0.13.0
* **Python version**:3.80
* **Platform**:centos
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**:
* **Does uvloop behave differently from vanilla asyncio? How?**:
Wrong when installing uvloop:
    uvloop/loop.c:166863:5: error: too many arguments to function ‘PyCode_New’
         py_code = __Pyx_PyCode_New(
         ^
    In file included from /usr/loca

[2019-10-30 09:33] Yuri2 opened #299 "windows 怎么安装uvloop?"
* **uvloop version**:
* **Python version**:
* **Platform**:
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**:
* **Does uvloop behave differently from vanilla asyncio? How?**:

[2019-10-30 11:36] arvibd commented on #293
It's working

[2019-10-30 11:36] #293 closed

[2019-10-30 11:38] arvibd commented on #298
It's working now. I got the same error. Try with

`python38 -m pip install git+https://github.com/MagicStack/uvloop`

[2019-10-30 15:57] 1st1 commented on #298
uvloop 0.13 is not compatible with Python 3.8. Try `uvloop==0.14.0rc2`

[2019-11-02 09:57] alex-eri opened #300 "What if run `c`-code with python"
* **uvloop version**: 0.11.2
* **Python version**: 3.7
* **Platform**: linux-amd64
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**:
* **Does uvloop behave differently from vanilla asyncio? How?**:

I want run server on `libuv` written in `c`. And I want to run handler written in `python` on same loop.

How to start pythons uvloop non blocking c code?
Can i "await" pythons functio

[2019-11-02 21:27] 1st1 commented on #300
There are no APIs to get a reference to the underlying libuv primitives or to schedule C functions (you need to wrap them in Python objects somehow).

[2019-11-02 21:27] #300 closed

[2019-11-04 09:30] loretoparisi opened #301 "Running Tornado with asyncio and uvloop"
Hello I'm running Tornado with asyncio

[code]

I'm using `AnyThreadEventLoopPolicy` to avoid threading issues since I'm using both `@tornado.web.asynchronous`, `@tornado.gen.coroutine` and `@tornado.concurrent.run_on_executor()`.

If I run with `asyncio.set_event_loop_policy(uvloop.EventLoopPolicy())` I will get an error:

[code]

How to integrate this approach with uvloop, hence keeping the `Any

[2019-11-04 16:23] 1st1 commented on #301
https://github.com/MagicStack/uvloop/wiki

[2019-11-04 16:23] #301 closed

[2019-11-05 07:05] loretoparisi commented on #301
@1st1 I have read the docs, that solution does not work in every cases: you are going to get a `RuntimeError: There is no current event loop in thread 'Thread-1'.` error if you use this init code:

[code]

[2019-11-05 11:22] KiraBelka opened #302 ""Cdef functions/classes cannot take arbitrary decorators" on build from scratch"
version 0.13
python env 3.7.1

Problem with:
@cython.no_gc_clear
@cython.freelist(DEFAULT_FREELIST_SIZE)
in *.pxd

[2019-11-05 12:12] 1st1 commented on #302
There's some problem with your build environment. Try installing with 'pip install uvloop==0.14.0rc2'

[2019-11-05 12:12] #302 closed

[2019-11-05 12:15] 1st1 commented on #301
Try removing the set_default_executor line. Other than that I cannot help as I don't use tornado :( Try opening an issue at the tornado github issue tracker.

[2019-11-05 13:29] loretoparisi commented on #301
@1st1 okay go without that, if it works the problem is that this specific line `asyncio.get_event_loop().set_default_executor(ThreadPoolExecutor(max_workers=N_CPU))
` was suggested by Tornado team to limit the number of running threads:
https://github.com/tornadoweb/tornado/issues/2762

[2019-11-05 13:42] 1st1 commented on #301
iirc they are already limited in recent asyncio/uvloop versions

[2019-11-06 02:02] isleifeng commented on #298
thanks

[2019-11-20 08:54] schalekamp opened #303 "this code runs in python3.6 but not in PyPy3.6 7.2 x86_64"
* **uvloop 0.14**:
* **Python 3.6**:
* **Platform Ubuntu 18.04**:
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**:
* **Does uvloop behave differently from vanilla asyncio? How?**:

loop = asyncio.get_event_loop()
task = asyncio.ensure_future(self._async_connect())
loop.run_until_complete(task)
logger.info('_async_connect completed')
authenticate()

This code works fine in python3

[2019-11-20 13:31] asvetlov commented on #303
Curious why do you want to use uvloop on pypy?

[2019-11-20 13:34] schalekamp commented on #303
I'd like the fastest solution (latency) possible.
I'm guessing using uvloop and pypy would be that solution.
But I cannot test or prove it.

[2019-11-20 13:38] schalekamp commented on #303
according to  [https://github.com/MagicStack/uvloop/issues/132](url) it's a pypy issue.
supposedly "pypy not supporting async generator syntax since it's still based on 3.5."
if that's the case I wonder how I should rewrite my code so I could still run this?

[2019-11-20 13:41] asvetlov commented on #303
uvloop is Cython based code that is translated into C Extension.
PyPy is proven to be super slow for C Extensions, they are usually much slower than python code executed on PyPy.

I very doubt if you can speed your code up in this way.
If you'll get different numbers please share it.

[2019-11-21 08:45] schalekamp commented on #303
I naively thought accessing C extensions from Python would be as fast as accessing them from PyPy.
If that would be the case then PyPy would be the best of both worlds.
Why is accessing C extensions from PyPy superslow compared to Python?

[2019-11-21 10:35] asvetlov commented on #303
I wonder are you banned by Google search engine?
If yes this is the link: https://morepypy.blogspot.com/2018/09/inside-cpyext-why-emulating-cpython-c.html

[2019-11-21 10:52] schalekamp commented on #303
I naively thought you were a nice person. I guess I was wrong.
Thanks for posting the link though.

[2019-11-21 10:57] #303 closed

[2019-12-02 05:43] dark0ghost commented on #274
#I'm too lazy to translate into English
    заустил это https://gist.githubusercontent.com/dark0ghost/3c8d963a2c2690237eae26c0ebe7f9cb/raw/79a734cde999cd7e1138de39d15391ad232ac25f/Pastebin.py так этого бага нет, because use full code, to get that bug

[2019-12-11 06:14] ZhuYuJin opened #304 "uvloop does not support original unix udp socketpair"
[code]

I initialize a unix udp socketpair, and try to use uvloop to manage both sockets.
The code above has the following err:
![image](https://user-images.githubusercontent.com/5879410/70596022-d3ba7e80-1c1f-11ea-8211-9c048ec29997.png)

However, when I bind address to both sockets, the err disappears.
[code]

It shows uvloop does not support the original unix udp socketpair.

[2019-12-13 08:48] versusvoid opened #305 "contextvars.Context not activated for connection_made()"
* **uvloop version**: 0.14.0, reproducible on master (35f82506d19ef2602053304b36b93d06111d25af)
* **Python version**: 3.8
* **Platform**: Linux
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: Yes
* **Does uvloop behave differently from vanilla asyncio? How?**: Yes:

[code]

Code works as expected on asyncio loop (`var` has value in handler) but fails with uvloop. I tracked diffe

[2019-12-16 10:20] soonum commented on #118
- **uvloop version**: 0.14.0

Hi there,

I got some details after encountering another blocking case. I found that if you provide a value for the keyword argument `cwd` and experiencing a slow filesystem at runtime, the call to `loop.subprocess_[exec|shell]()` would block.

Here is a simple test to reproduce the behavior. It's relying on slowfs.

1. create a directory `/home_slow`
2. run the follo

[2019-12-18 11:21] versusvoid commented on #305
Context not being restored for protocol_factory call is what causing problems. python's asyncio copies current context (by creating callback handle) when creating `listen()` handler:

https://github.com/python/cpython/blob/fa919fdf2583bdfead1df00e842f24f30b2a34bf/Lib/asyncio/selector_events.py#L252

uvloop simply calls `UVStreamHandler._on_listen` from libuv

[2020-01-07 01:16] ghost opened #307 "Get uv_loop_t pointer"
Hello,

For integration purposes I need to get the current underlying uv_loop_t pointer, preferably as a PyCapsule, from uvloop. I need that pointer for use by my python extension and for it to seamlessly integrate with asyncio scripts.

Do you think you could add such a function, or point me in the direction where I can add it? It should be a minimal change.

[2020-01-11 12:14] alexhultman commented on #307
I have experimented with passing a Loop object to my extension, accessing the PyTypeObject, confirming the tp_name and tp_itemsize.

From there I planned on accessing the uv_loop_t pointer from the PyObject (the loop pointer looks to be at the top of the object?) but I don't think I have the correct pointer yet. I'm not so sure about how this Cython language works.

Any hints?

[2020-01-14 06:02] 1st1 commented on #307
You can probably add a getter like this in `loop.pyx`:

[code]

You can then call it and cast the returned int to a pointer.

[2020-01-14 07:03] alexhultman commented on #307
Thanks, would you accept that change?

[2020-01-14 18:48] 1st1 commented on #305
Yes, this is a bug.

[2020-01-15 17:09] pranavtbhat commented on #307
I've been looking for this functionality too! @alexhultman I can pass in a PR for this if you'd like

[2020-01-15 17:57] alexhultman commented on #307
Please make it PyCapsule_New(ptr, null, null) instead so it becomes a proper thing.

https://docs.python.org/3/c-api/capsule.html

Python capsules are like Extern in V8, they are objects that hold raw pointers.

[2020-01-16 19:21] Andrei-Pozolotin opened #309 "BUG: uvloop.loop.create_task() is missing 'name' parameter"
compare:

1. `uvloop.loop.create_task()`
https://github.com/MagicStack/uvloop/blob/master/uvloop/loop.pyx#L1389

with:

2. `asyncio.loop.create_task()`
https://docs.python.org/3/library/asyncio-eventloop.html?#asyncio.loop.create_task

[2020-01-16 20:34] 1st1 commented on #309
Yeah, this is a bug.

[2020-01-17 00:43] alexhultman commented on #307
def get_uvloop_ptr(self):
        return PyCapsule_New(<void *>self.uvloop, NULL, NULL)

[2020-01-17 17:00] jmclemo6 commented on #14
Any updates on this? If I could be caught up to speed on what's been done and discovered, I think I could start working on it.

[2020-01-17 17:06] ofek commented on #14
I'd love to help test!

[2020-01-17 22:53] 1st1 commented on #14
Sure, by all means. I'd start with trying to recover the `win` branch. Please open new issues as you progress through this.

[2020-01-17 22:55] 1st1 commented on #14
### I'm locking this issue. I don't have time to work on this in personal time. It doesn't make sense to work on this during my work time. If the community _really_ needs this then someone will start submitting PRs which I'll happily review and help with advice.

[2020-01-20 03:07] alexhultman commented on #307
I actually end up doing this:

`asyncio.set_event_loop(asyncio.SelectorEventLoop(uWS.Selector()))`

where `uWS.Selector()` is a minimal object wrapping my internal libuv implementation.

This works for me, but it could still be useful to also have uvloop.get_loop_ptr()

[2020-01-22 09:01] PromyLOPh opened #311 "Assertion failure in uv__io_stop"
* **uvloop version**: uvloop==0.14.0
* **Python version**: Python 3.7.5 (3.7.5-2~19.10)
* **Platform**: Ubuntu 19.10
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: Yes.
* **Does uvloop behave differently from vanilla asyncio? How?**: Vanilla asyncio works fine.

The attached testcase [test.zip](https://github.com/MagicStack/uvloop/files/4096079/test.zip) crashes uvloop with the

[2020-02-01 09:37] Alex-CodeLab commented on #168
this worked for me
`apk add alpine-sdk`

[2020-02-03 13:21] nehaljwani commented on #264
For v0.14.0, this patch works for platforms which don't support SO_REUSEPORT:
[code]

[2020-02-03 19:23] Kirya2k commented on #264
When cross-compiling, uvloop was built even without a patch. I don't have enough skills to understand what is missing with native compile. Thank you for your participation and help.

[2020-02-03 19:23] #264 closed

[2020-02-10 19:46] tardyp opened #312 "create_subprocess_exec stdin writer does not write everything"
* **Python version**:
Darwin, python 3.7.4

[code]
 Versions
This problem was already detected on my prod on linux.

platform darwin -- Python 3.7.4, pytest-5.3.5, py-1.8.1, pluggy-0.13.1

* **Platform**:
linux/darwin

* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**:
yes

* **Does uvloop behave differently from vanilla asyncio? How?**:

yes, test do not hang with pyloop.

When wr

[2020-02-11 22:59] 1st1 commented on #312
Would appreciate you submitting a PR with a functional test (marked as x-fail) to demonstrate the problem.

[2020-02-12 02:38] 1st1 commented on #311
Thanks for reporting this. We'll take a look soon.

[2020-02-12 16:30] tardyp commented on #312
Will do. actually I re-tested under linux, and found out a weird threshold of around 219000 bytes

[2020-02-13 14:03] Andarius opened #314 "Deprecation warning when using uvloop.install in python 3.8"
**uvloop version**: 0.14.0
**Python version**: 3.8.1
**Platform**: Linux 4.15 KDE neon 5.17
**Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: yes
**Does uvloop behave differently from vanilla asyncio? How?**: yes
`uvloop.install()` causes `DeprecationWarning: The loop argument is deprecated since Python 3.8, and scheduled for removal in Python 3.10` to appear.
No warning when commen

[2020-02-18 07:13] YoSTEALTH opened #315 "Flawed logic"
https://github.com/MagicStack/uvloop/blob/35f82506d19ef2602053304b36b93d06111d25af/setup.py#L127

Above line is flawed as in:
``'0.4' < '0.28'  # False``

It must be done something like so:
``tuple(map(int, '0.4'.split('.'))) < tuple(map(int, '0.28'.split('.')))  # True``

[2020-02-19 13:20] YoSTEALTH commented on #315
created a pr https://github.com/MagicStack/uvloop/pull/316

[2020-02-19 13:20] #315 closed

[2020-02-20 03:48] momocow opened #317 ""Assertion `loop->watchers[w->fd] == w' failed." with multiprocessing and OS pipes"
Hi, I encountered the libuv assertion error while running multiprocessing and communicating with child processes via OS pipes.

I've prepared a minimal reproducible case.

I'm using [kchmck/aiopipe](https://github.com/kchmck/aiopipe) to create pipes, which actually wraps file descriptors from `os.pipe()` into asyncio `StreamReader`s/`StreamWrite`s via `loop.connect_read_pipe()` and `loop.connect_w

[2020-02-20 04:19] 1st1 commented on #317
Thanks so much! I'll take a look in a few weeks when it's time for uvloop 0.15. If anyone wants to further debug & work on fix please go ahead!

[2020-02-21 19:12] doko42 opened #318 "test_sockets.py::TestAIOSockets test timing out with 3.8.1"
[forwarding from https://bugs.debian.org/950165]

test_sockets.py::TestAIOSockets tests are timing out with 3.8.1, see this change in all active Python branches: https://bugs.python.org/issue37228

[2020-02-21 20:16] 1st1 commented on #318
Thanks for creating this issue!

[2020-03-02 02:32] stalkerg opened #319 "udp sendto not working"
* **uvloop version**: 0.14.0
* **Python version**: 3.7.6
* **Platform**: Linux
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: yes
* **Does uvloop behave differently from vanilla asyncio? How?**: not working

Hello. Currently, I am trying to work with aiosip project and it's working very well but unfortunately, it stops working after installing uvloop.
It looks like sendto do no

[2020-03-02 02:58] stalkerg commented on #319
with uvloop 0.13.0 I have next error:
[code]

in same time with classic eventloop I have no any problems.

[2020-03-02 03:00] stalkerg commented on #319
ok, with version 0.12.2 everything working fine.

[2020-03-02 03:14] stalkerg commented on #319
after bisect I found this commit https://github.com/MagicStack/uvloop/commit/c2b65bc8d2e1bb759a755adb255f095fb40ce953 it's break UDP for aiosip (and I think not only).

[2020-03-04 23:53] 1st1 commented on #319
Thanks for reporting this. Could you please write a functional test that would exhibit the bug?

[2020-03-05 07:31] stalkerg commented on #319
@1st1 yes, please
[code]

looks like it happens if you trying to send a message with destination address and you have already specify it in create_datagram_endpoint as remote_addr.

[2020-03-05 11:30] jlaine commented on #319
You cannot both bind the endpoint to a remote address and use `sendto()` with a destination address.

This is the case in vanilla asyncio too:

https://github.com/python/cpython/blob/85cf1d514b84dc9a4bcb40e20a12e1d82ff19f20/Lib/asyncio/selector_events.py#L1028

[2020-03-09 22:24] televi opened #320 "building wheel from sdist fails"
* **uvloop version**: 0.14.0
* **Python version**: 3.6 and 3.7
* **Platform**: Linux (CentOS 7
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: N/A
* **Does uvloop behave differently from vanilla asyncio? How?**: N/A

What I did:
```pip wheel --global-option build_ext --global-option --inplace uvloop==0.14.0```

What I expected:

The command would build uvloop and bundle it as a

[2020-03-10 15:00] deed02392 commented on #242
@Snawoot great work on this, why is it not possible to suppress this garbage though?

[2020-03-11 08:36] mvalkon opened #321 "Long ssl handshake latencies"
This is more of a question than an issue report. How can I debug SSL handshake latencies? Occasionally the handshakes take hundreds of milliseconds, which seems a little bit unreasonable. I am running an aiohttp server which exposes an API, the load is very small, something like 10-20rps load-balanced on 3 instances of the application. Are there any configuration parameters that I can tune? I am n

[2020-03-11 18:12] 1st1 commented on #242
Yeah, let's keep this issue open. I'll see if I can silence this in both asyncio and uvloop.

[2020-03-11 18:22] 1st1 commented on #321
@fantix any ideas?

[2020-03-12 20:14] fantix commented on #321
For a bit more background about SSL handshake - it takes several network round trips to finish. I'm curious how you measured the latency of SSL handshake? Some sample code would be great. I would guess it included the time waiting for clients to respond. So for e.g. mobile devices with the cellular network, it may make sense when the connectivity is unstable.

I would recommend using a development

[2020-03-13 07:38] mvalkon commented on #321
Thank you @fantix. I did not actually measure specifically the ssl handshake but trusted the logs that uvloop produces when asyncio debug logging is enabled. The graph is an extract of 10k debug log events over a 24-hour period. I'm not sure of the accuracy of this, but it does correlate with higher latencies in my application.

Can you elaborate on what you mean by this? My assumption is that the

[2020-03-16 17:26] deed02392 commented on #242
I managed to catch this exception when using uvloop with aiohttp:

            except aiohttp.ClientConnectorError as exc:
                logging.info(f"Connection failed: {exc}")

[2020-03-16 23:00] Tinche opened #322 "Event loop load metrics"
Hello!

First, the motivation. We're running a fair number of asyncio services in production, and I'm trying to figure out how to expose some sort of load metrics. These metrics would be useful for tweaking and autoscaling said services. We're using UVLoop, of course (thank you very much!).

I think exposing a busyness factor from the event loop would be a very interesting notion. Something like t

[2020-03-17 20:41] 1st1 commented on #322
Yes, it's a good metric to track. There are also others, off the top of my head:

* How long the loop spends in its internals (efficiently this is how you can see the overhead of uvloop/asyncio)

* How long the loop spends in various callbacks -- would be cool to track outliers

* How many open FDs / callbacks / transports the loop manages

etc.

There's also an experimental PR https://github.com/

[2020-03-17 20:47] 1st1 commented on #321
This is another area where monitoring APIs (https://github.com/MagicStack/uvloop/issues/322) can potentially help us.

[2020-03-17 20:50] 1st1 commented on #305
This PR needs to be considered as part of this issue, basically https://github.com/MagicStack/uvloop/pull/306

[2020-03-17 20:53] elprans commented on #320
Do you have python3-devel installed?

[2020-03-17 22:47] pfreixes commented on #322
@1st1 things take time :)

Happy to start again a discussion about how proper monitoring could be added into the Asyncio, Ive tried it once [1], iI can try to make a second attempt.

During the first attempt what I tried to do is create awareness of how a function could be implemented in the Python loop for inferring the load of the loop - similar to tracing the CPU- to be used later on for scalin

[2020-03-18 03:29] 1st1 commented on #242
@fantix will need to look at this in detail. If this is a garbage exception we need to silence it in both uvloop/asyncio.

[2020-03-18 14:29] feribg opened #323 "Recommended way to use shared memory and process pool"
I'm wondering if there is any issue with using ProcessPool for blocking callbacks and any of the shared memory implementations either from the standard library or something like Plasma store. Does that have any negative implications to uvloop and how memory is managed in Cython ?

[2020-03-18 21:33] televi commented on #320
Yes I do.  I'm able to reproduce this at will on both CentOS 7.7 and Mac OS X 10.15.3 (Catalina) with Python 3.6, 3.7, and 3.8.

Here's the full set of commands and output that I used on CentOS 7.7 with Python 3.6.   Note: I'm able to compile dozens of other Python packages using the same command both with and without Cython.

In the output below, you'll see that it compiles fine, then tries to ru

[2020-03-18 21:54] televi commented on #320
I think I may have found it.

In your setup.py, you're short-circuiting the call to super().initialize_options() [here](https://github.com/MagicStack/uvloop/blob/5dc299b7889461c49b27ec8ced1050b5a3f9099c/setup.py#L86).  That means you're forcing subsequent commands to inherit variables that they expect to set for themselves (like self.compiler, which is what is causing the build failure).  The same

[2020-03-19 00:20] elprans commented on #320
Hm. Good catch. I'll take a look and see if this hack is still necessary.

[2020-03-23 14:46] rwarren opened #324 "Can't peek at paused bytes (socket behind TCPTransport unavailable)"
* **uvloop version**: 0.14.0
* **Python version**: 3.8.2
* **Platform**: linux
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: n/a (this is an api thing)
* **Does uvloop behave differently from vanilla asyncio? How?**:
    * _vanilla asyncio_: the underlying socket is available in `transport._sock` for consenting coders aware of the risks using "private" members
    * _uvloop_:

[2020-03-26 22:06] alexandreraufast opened #326 "uvloop does not support Windows at the moment"
ERROR when running pip. It is written nowhere in readme that windows isn't supported.
[code]

[2020-03-26 22:06] #326 closed

[2020-03-28 21:33] fantix commented on #321
Yes. As I mentioned:

This means, before an SSL connection is fully established, several TCP `recv`/`send` would happen. And the SSL handshake time recorded in the log starts from the moment [TCP connection is made](https://github.com/MagicStack/uvloop/blob/9bc4a204ca164b3b5a1b3c8377871717ced3fec7/uvloop/sslproto.pyx#L462), and ends when [SSL handshake succeeds](https://github.com/MagicStack/uvloo

[2020-03-29 20:30] fantix commented on #242
Reproducibility:

| Test | uvloop | Python 3.6 | Python 3.8 |
|---|---|---|---|
| `test_no_uvloop` | | ✅ | ❌ |
| `test_uvloop ` | 0.12.2 | ✅ | unsupported |
| `test_uvloop ` | 0.14.0 | ❌ | ❌ |

So I think this is already fixed in newer asyncio / uvloop.

[2020-03-29 20:36] #242 closed

[2020-03-31 00:37] #314 closed

[2020-03-31 00:53] 1st1 commented on #324
This won't be the case soon, as asyncio adopts the same proxy-socket object design choice that uvloop made.

Ideally we need to add new API to asyncio for peeking.

[2020-03-31 00:58] 1st1 commented on #323
ProcessPool should be used if your callbacks are blocking on CPU. If they're blocking on IO just use a thread pool.

I'm not sure, I've never attempted to use any shared memory tricks in uvloop context.

It shouldn't.

[2020-03-31 18:04] madkote commented on #118
hi,

would be `concurrent.futures import ProcessPoolExecutor`  a workaround?

[2020-04-01 02:22] 1st1 commented on #118
Nice, that's great! Thanks for the slowfs tip, I didn't know about it before.

Unfortunately now, they would still block.

[2020-04-01 08:11] madkote commented on #118
@1st1 thanks for reply.
So the fix would be at the moment to make subprocess async -> run subprocess in thread (with some async flavour).

`would be concurrent.futures import ProcessPoolExecutor a workaround?

Unfortunately no, they would still block.`

[2020-04-01 08:26] madkote commented on #118
@1st1 here is possible fix
[code]

[2020-04-02 02:25] achimnol opened #328 "Accept path-like objects for subprocess APIs"
* **uvloop version**: 0.14.0
* **Python version**: 3.8.2
* **Platform**: Linux & macOS
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: yes
* **Does uvloop behave differently from vanilla asyncio? How?**: yes -- this is what I'm going to report.

[code]
works fine, while
[code]
generates an error:
[code]

Since Python 3.6 on Linux and Python 3.8 on Windows, the standard subproces

[2020-04-04 21:52] fantix commented on #304
This seems to be a low-level behavior:

[code]

| OS | socketpair type | nonblocking | peer.sa_family |
|---|---|---|---|
| Linux | SOCK_DGRAM | 0 | AF_UNSPEC |
| Linux | SOCK_DGRAM | 1 | AF_UNSPEC |
| Linux | SOCK_STREAM | 0 | AF_UNSPEC |
| Linux | SOCK_STREAM | 1 | AF_UNSPEC |
| macOS | SOCK_DGRAM | 0 | AF_UNIX |
| macOS | SOCK_DGRAM | 1 | AF_UNIX |
| macOS | SOCK_STREAM | 0 | AF_UNSPEC |
| macO

[2020-04-07 06:06] EvertonSA commented on #168
This should be in somewhere in the documentation as a requirement for using uvloop in alpine docker images

[2020-04-07 10:41] tuxmaster5000 opened #330 "[0.14.0] build test fails, because missing file .flake8"
After the build, the tests fails, because the file ".flake8" are in the git, but missing in the tar archive.
[code]

[2020-04-07 11:52] jakewaxman commented on #167
Had this problem on a 1GB droplet.
Creating a swapfile took care of it.
Used instructions at https://www.digitalocean.com/community/tutorials/how-to-add-swap-space-on-ubuntu-18-04

[2020-04-08 13:31] mvalkon commented on #328
I am seeing something similar when using uvloop, aiohttp and the latest aiobotocore. Seems like fetching AWS credentials can break but I cannot verify this at the moment.

[2020-04-08 20:50] jlaine commented on #330
Thanks for reporting this, I've added PR #330 to update `MANIFEST.in`

[2020-04-09 06:29] #330 closed

[2020-04-11 01:55] #319 closed

[2020-04-12 00:38] fantix commented on #311
This is highly-possibly caused by the last comment I put in libuv/libuv#2058, and #317 for the same reason.

[2020-04-14 21:24] amackillop opened #335 "Application hanging after KeyboardInterrupt"
* **uvloop version**: 0.14.0
* **Python version**: 3.7.4
* **Platform**: Manjaro
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: Yes
* **Does uvloop behave differently from vanilla asyncio? How?**:  With vanilla, the application terminates gracefully upon reception of a keyboard interrupt. If I use `uvloop`, I get a runtime warning and the application hangs until I run a `kill -

[2020-04-16 17:47] #309 closed

[2020-04-17 02:57] achimnol commented on #335
I believe that the exception handler for an asyncio event loop should be a normal function, not a coroutine function. The documentation says it's just a callable.

[2020-04-17 03:05] achimnol commented on #335
Tried running your snippet, and I got many strange behaviors, such as haning or infinite loop of exception handlers, etc.
I think it's primarily due to your are mixing `loop.stop` and `asyncio.create_task` for a single event loop tick.

[2020-04-17 03:12] achimnol commented on #335
If you want to keep using `aiologger`, I'd suggest to use [`janus`](https://github.com/aio-libs/janus) to mediate the synchronous loop exception handler and a separate logger coroutine task.
Maybe you might be interested at my boilerplate wrapper, [`aiotools.server`](https://aiotools.readthedocs.io/en/latest/aiotools.server.html).

[2020-04-17 10:01] ZhuYuJin commented on #304
It should solve the problem.

[2020-04-17 10:04] ZhuYuJin commented on #304
@fantix It should solve the problem.
However, I specify a unix socket pair. Why does it become a AF_UNSPEC?
This code performs well in Mac OS.

[2020-04-17 20:24] fantix commented on #304
Yeah, I think it is from Linux kernel - I tried to track it down but it's a lot of code to read, so we might want to work it around in uvloop first.

[2020-04-17 20:57] 1st1 commented on #304
C or B would work. How does CPython deal with this btw?

[2020-04-17 21:00] fantix commented on #304
That's a really good point - let me check.

[2020-04-17 23:32] fantix commented on #304
Looks like it'll just return `None`:

https://github.com/python/cpython/blob/87502ddd710eb1f030b8ff5a60b05becea3f474f/Modules/socketmodule.c#L1335-L1341

[code]

Guess solution D would be to update `__convert_sockaddr_to_pyaddr` to include this logic.

[2020-04-19 22:54] fantix commented on #317
This seems to be a pretty serious issue - when the buffer is full writing to a pipe, this is 100% reproducible (refs libuv/libuv#2058):

[code]

The error is the same:

[code]

Before we have a proper fix from libuv (I'll create a PR in libuv when time), we can easily fix uvloop by partially reverting d8fe153e5b67de1124b828f9c9b3c5397ac68d5d and adding this patch:

[code]

But `UV_HANDLE_READABLE`

[2020-04-22 19:27] 1st1 commented on #304
Yep!

[2020-04-23 00:27] jack1142 opened #336 "`loop.run_until_complete` raises `RuntimeError` after catching `SystemExit`"
* **uvloop version**: 0.14.0
* **Python version**: 3.8.2
* **Platform**: Ubuntu 18.04
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: Yes
* **Does uvloop behave differently from vanilla asyncio? How?**: Yes, vanilla `asyncio` doesn't raise for this code

**Reproduction code:**
[code]
**Traceback:**
[code]

Same happens when `KeyboardInterrupt` is raised - vanilla `asyncio` handl

[2020-04-25 21:27] fantix commented on #304
Bad news: libuv didn't provide the `addrlen` (the `msg_namelen` below as a [value-result argument](https://linux.die.net/man/2/recvmsg)) for callbacks (I'll file an issue in libuv):

https://github.com/libuv/libuv/blob/16910d23a34b8b8c313d24824fd85383aa8a8d40/src/unix/udp.c#L180-L200

[code]

And I don't think it is a reliable way to check if the first byte is `\0` as an equivalent to checking `ad

[2020-04-26 19:07] 1st1 commented on #304
Yeah, let's to B.

I think I also encountered this limitation myself one time, so resolving this at the libuv level would be great. IIRC I also had problems with dealing with abstract unix sockets in libuv, and maybe it was somehow related to this, I don't remember now.

[2020-04-27 08:49] spumer opened #338 "Silently closes UDP socket"
* **uvloop version**: 0.14
* **Python version**: 3.8.2
* **Platform**: Linux
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: Yes
* **Does uvloop behave differently from vanilla asyncio? How?**: Yes. See below

uvloop silently closes UDP socket when sending data to incorrect destination.

Test program:

[code]

asyncio output:
<details>
'192.168.0.2', 59471)
Before sending the me

[2020-04-27 08:53] spumer opened #339 "It's still faster than asyncio event loop?"
Now Python have event loop written in C. How much uvloop faster asyncio event loop in Py3.7 and Py3.8?

[2020-04-27 14:09] Nalorokk opened #340 "Build error, open CFI at the end of file; missing .cfi_endproc directive"
* **uvloop version**: 0.14.0
* **Python version**: 3.8.2
* **Platform**: aarch64
* **Can you reproduce the bug with PYTHONASYNCIODEBUG in env?**: Not related
* **Does uvloop behave differently from vanilla asyncio? How?**: Build error

    gcc -pthread -Wno-unused-result -Wsign-compare -DNDEBUG -g -fwrapv -O3 -Wall -march=armv8-a -O3 -pipe -fstack-protector-strong -fno-plt -fno-semantic-interposit

[2020-04-27 16:08] 1st1 commented on #339
Python does not have an event loop written in C.

[2020-04-27 16:08] #339 closed

[2020-04-27 17:00] spumer commented on #339
Yea, you are right. It's just rewritten common objects on C, like Future :)

https://github.com/python/cpython/blob/master/Modules/_asynciomodule.c

[2020-04-28 02:39] 1st1 commented on #339
Yeah, I know, I did that :)

[2020-04-28 02:46] #304 closed

[2020-05-06 12:50] yxy commented on #43
same issue here.  +1

[2020-05-09 23:07] fantix commented on #318
Port of [bpo-37228](https://bugs.python.org/issue37228) is applied in https://github.com/MagicStack/uvloop/pull/343, but this Debian bug is actually caused by [bpo-30064](https://bugs.python.org/issue30064), I think at the moment we could safely skip the hanging test `tests.test_sockets.TestAIOSockets.test_sock_cancel_add_reader_race` before there's a proper fix.

[2020-05-14 01:06] #311 closed

[2020-05-14 01:06] #312 closed

[2020-05-15 18:49] Sakinapally opened #344 "uvloop install on docker fails Running "setup.py install for uvloop: finished with status 'error'"
* **uvloop version**: 0.14.0(latest)
* **Python version**: 3.6
* **Platform**:oraclelinux:7-slim

Install uvicorn using "pip3 install uvicorn" on a oraclelinux:7 docker container. And it fails at uvloop setup with below error.

[code]

[2020-05-16 17:59] #328 closed

[2020-05-18 15:04] Gelbpunkt commented on #344
You need the python header files, `python3-devel` or `python3-dev` should be the usual name of that package.

[2020-05-19 06:07] jlaine commented on #344
Also, binary wheels are provided for most platforms so in most cases you shouldn't need to compile anything. Ensure your `pip` is up to date:

`pip install -U pip`

[2020-05-19 06:07] #344 closed

[2020-05-19 22:33] thePublicer commented on #326
Use Linux  under the VM for example Ubuntu

[2020-05-20 16:53] spumer commented on #136
In 0.14.0 still present

[2020-05-22 14:04] jcrist opened #345 "Unix domain sockets slower than TCP for larger messages"
This is less of an issue with uvloop and more of a question, feel free to close.

It's my understanding that using unix domain sockets should be on-par to slightly faster than tcp on loopback. However, I'm seeing a significant decrease in performance in my application when switching from tcp to unix sockets. I tried with the benchmark provided in uvloop, and can reproduce there as well.

Some numb

[2020-05-22 14:16] jcrist commented on #345
I'm wondering if I might have confused latency with bandwidth when reading up on this. I get roughly `6 GB/s` on loopback on my mac (measured with `iperf`) and am able to hit around `4 GB/s` with uvloop. I don't have a good way to measure bandwidth of UDS, but perhaps it's much lower (while having lower latencies). This would explain the discrepancy.

[2020-05-22 15:18] jcrist commented on #345
Yeah, that seems to be the case. Using [this benchmark in go](https://github.com/eliben/code-for-blog/blob/master/2019/unix-domain-sockets-go/local-throughput-benchmark.go):

[code]

Go is able to saturate the connection much better than uvloop, but I'm still seeing the same behavior - better throughput on UDS for 1 KB messages, worse for 1 MB messages. Lower bandwidth (but with lower latencies) f

[2020-05-22 15:18] #345 closed

[2020-05-25 20:21] fantix commented on #318
fixed in #346 and python/cpython#20369

[2020-05-31 11:22] agronholm opened #349 "Implement shutdown_default_executor()"
* **uvloop version**: 0.14.0
* **Python version**: 3.9.0b1
* **Platform**: Linux
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: yes
* **Does uvloop behave differently from vanilla asyncio? How?**: yes – vanilla asyncio implements this method

Python 3.9 added a new mandatory method to the `AbstractEventLoop` interface, named [shutdown_default_executor()](https://docs.python.org

[2020-06-04 01:44] aeros commented on #349
Seeing as I added `loop.shutdown_default_executor()` to asyncio, I wouldn't mind working on this issue. Unless someone else specifically wants to work on this, feel free to assign me and I should be able to find the time within the next couple of weeks or so.

(Note that this would be my first issue for uvloop)

[2020-06-09 18:07] 1st1 commented on #349
Kyle, feel free to work on this.

[2020-06-17 07:47] healfy opened #351 "Issue with graceful shutdown"
* **uvloop 0.14**:
* **Python 3.8.2**:
* **Platform Linux**:
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: yes
* **Does uvloop behave differently from vanilla asyncio?** :   yes. vanilla asyncio shutdown correctly

When i send SIGTERM signal to main procces i get this exceptions and it doesnt stop loop
In  **Python 3.6.1** it work fine, we tried to upgrade to the new version P

[2020-06-17 11:20] Integralist commented on #252
Was everything all good with this in the end?

[2020-06-17 11:23] Integralist commented on #301
Here's a recent example that uses latest uvloop and tornado versions, I don't seem to need any of the stuff specified in the FAQ though?

e.g. I'm just importing uvloop and calling `uvloop.install()` before setting up the tornado application.

So at this point I'm not sure if this is working or if it's just failing quietly 🤔

I mean I can make a request to the server and it'll respond so I have to

[2020-06-24 20:46] jonringer commented on #318
This is still an issue on python 3.8.3.

Trying to update nixpkgs package https://github.com/jonringer/nixpkgs/commit/c7a69037ba512da3a244d5270bc189fbd77b2b4a off of latest master, and test suite still hangs. Unfortunately I'm not sure what tests is hanging

[2020-06-24 22:27] fantix commented on #318
right - sorry I think we should skip the whole Python 3.8 as the fix was only backported to 3.9. I'll create a PR for that.

[2020-07-01 18:34] snenkov commented on #122
I keep having this issue. I am using the latest `cpython` and `uvloop`. Any clues how I can fix this? : )

[2020-07-01 19:26] 1st1 commented on #122
Not sure. Most likely it's unrelated to uvloop. I suggest debugging the line that causes this exception.

[2020-07-06 02:59] aeros commented on #349
Sorry for the delay on this. I've been a bit otherwise occupied and had some local issues with installing cython in the virtual environment (due to an OS problem where `libffi.so.6` was not present). I just resolved the issue earlier today and should have time to open a PR for this issue within the next week or so.

[2020-07-06 05:26] spyderminer opened #352 "Any chance to get available on Windows?"
* **uvloop version**:uvloop-0.14.0.tar.gz
* **Python version**:3.7.3
* **Platform**:Windows 10
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: not a bug
* **Does uvloop behave differently from vanilla asyncio? How?**:

Request for Windows availability if possible. Thank you in advance!

Collecting uvloop
  Downloading https://files.pythonhosted.org/packages/84/2e/462e7a25b787d2b

[2020-07-06 21:34] 1st1 commented on #352
https://github.com/MagicStack/uvloop/issues/14#issuecomment-575826367

[2020-07-06 21:34] #352 closed

[2020-07-06 21:34] 1st1 commented on #349
np!

[2020-07-07 04:37] spyderminer commented on #352
I see. Thank you for your time!

[2020-07-10 21:29] #349 closed

[2020-07-15 10:04] agronholm commented on #349
Really nice to have this. How soon can we expect a new uvloop release?

[2020-07-20 10:05] mgorny opened #354 "TestAIOSockets::test_sock_cancel_add_reader_race still hangs with py3.8.4"
* **uvloop version**: git master (6ef69a797db0afe781b5ddcd74691767f8261a53)
* **Python version**: 3.8.4
* **Platform**: Linux
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: yes
* **Does uvloop behave differently from vanilla asyncio? How?**: no clue

`tests/test_sockets.py::TestAIOSockets::test_sock_cancel_add_reader_race` is marked to be skipped on py3.8.0 to 3.8.2 due to unre

[2020-07-20 11:10] mgorny opened #355 "test_tcp.Test_UV_TCPSSL.test_write_to_closed_transport hangs on py3.8+"
* **uvloop version**: git master (6ef69a797db0afe781b5ddcd74691767f8261a53)
* **Python version**: 3.8.4, 3.9.0b4
* **Platform**: Linux
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: yes
* **Does uvloop behave differently from vanilla asyncio? How?**: dunno

When running `setup.py test`, the following test hangs on py3.8 and py3.9. It passes fine with py3.7:

[code]

[2020-07-22 21:04] 1st1 commented on #349
I'll try to do one around 3.9 release. Sorry, i'm extremely busy these days.

[2020-07-28 20:57] L1ghtn1ng opened #356 "python3.10 build issues due to deprocations in py3.10"
* **uvloop version**: latest pypi version
* **Python version**: 3.10
* **Platform**: linux

When uvloop tries to get built for python 3.10 it bombs out which you can see from the following

https://travis-ci.com/github/laramies/theHarvester/builds/177504632

[2020-08-09 03:01] enigm4s commented on #260
ah, one year apart anf this is the solution on termux. anyway some step when you get permission denied in `./configure` when running `python setup.py install`, just
`chmod +x vendor/libuv/configure`

after that, I can install it on my old aarch64 device. love it ;)

[2020-08-11 10:17] tirkarthi opened #357 "Deprecation warnings in Python 3.10 due to loop argument being passed in test_udp"
* **uvloop version**: master branch (6ef69a797db0afe781b5ddcd74691767f8261a53)
* **Python version**: 3.10
* **Platform**: Linux
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**:
* **Does uvloop behave differently from vanilla asyncio? How?**:

[code]

[2020-08-11 10:21] tirkarthi commented on #357
Some of the examples also seem to contain similar code :

[code]

[2020-08-13 07:06] kulame opened #358 "mypy show type hint error"
i use mypy to check my code.
but it metioned:
    error: Skipping analyzing 'uvloop': found module but no type hints or library stubs

does uvloop support mypy check?

[2020-08-14 22:49] 1st1 commented on #358
Maybe there's a typeshed for it, but there's no out of the box support. You're welcome to work on adding that!

[2020-08-27 22:11] agronholm opened #359 "Uvloop internal clock is not microsecond accurate"
* **uvloop version**: 0.14, master
* **Python version**: 3.6
* **Platform**: Linux
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: yes
* **Does uvloop behave differently from vanilla asyncio? How?**: loop.time() reports time with the accuracy of milliseconds on uvloop, microseconds (or greater) on the stdlib event loop.

Today I debugged some failing tests in the httpcore projec

[2020-08-27 22:15] agronholm commented on #359
Easy repro:
[code]

[2020-08-28 09:07] jlaine commented on #359
That's correct, libuv only has a millisecond accuracy for it's timers.

[2020-08-28 09:08] agronholm commented on #359
Oh dear, so it's not fixable I guess?

[2020-08-28 23:33] 1st1 commented on #359
Fixable by submitting a PR to libuv to allow higher resolution timers on platforms that support that. That's very doable (maybe you can work on a PR?) just might take a bit longer.

[2020-08-28 23:45] elprans commented on #359
FWIW, here's an old uvloop PR that is related: https://github.com/libuv/libuv/pull/1191

[2020-08-31 13:52] Arun4rangan opened #360 "set_exception_handler is not handling exception as expected."
* **uvloop version**: 0.14.0
* **Python version**: 3.6.9
* **Platform**: Linux c965e3d4adf2 5.3.0-1032-gcp #34~18.04.1-Ubuntu SMP
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: yes
* **Does uvloop behave differently from vanilla asyncio? How?**:

Yes asyncio default loop catches `TimeoutError: [Errno 110] Connection timed out` whereas uvloop closes the loop and throws `RuntimeE

[2020-09-10 01:43] mikepurvis commented on #317
I also hit this error— I have a fairly generic asyncio application which downloads a bunch of tarballs in parallel with httpx.stream and pipes the content into `tar` subprocesses which are unpacking them onto the filesystem:

[code]

This works under `asyncio`, but `uvloop` crashes pretty reliably with:

[code]

If it's relevant, this is in the context of a Sanic webserver, so I believe there is a

[2020-09-10 19:48] 1st1 commented on #317
@fantix have we fixed this one in master?

[2020-09-25 06:52] mgorny opened #361 "TypeError('cancel() takes exactly one argument (2 given)') with py3.9.0rc2"
* **uvloop version**: 6ef69a797db0afe781b5ddcd74691767f8261a53 (also 0.14.0)
* **Python version**: 3.9.0rc2
* **Platform**: Gentoo Linux
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**:
* **Does uvloop behave differently from vanilla asyncio? How?**: my educated guess is that asyncio doesn't crash on itself ;-)

Running the test suite under Python 3.9 gives a number of errors due

[2020-09-25 20:42] tacaswell commented on #356
I believe This can be fixed by re-cythonizing.

[2020-10-06 14:17] agronholm commented on #349
Python 3.9.0 has been released already so it would be really nice to get this done.

[2020-10-10 13:17] gaby opened #362 "Wheel for Pypy?"
Are there any plans to provide wheels for Pypy?

[2020-10-12 17:51] 1st1 commented on #362
Not currently, unless someone from the community cares to work on that.

[2020-10-12 18:08] riouh opened #363 "subprocess.communicate never returns when the subprocess outputs more than 0xFFFF + 1 bytes"
* **uvloop version**: uvloop==0.14.0
* **Python version**: Python 3.8.6
* **Platform**: MacOS
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: yes
* **Does uvloop behave differently from vanilla asyncio? How?**: yes. vanilla asyncio just works

The following code never returns with uvloop :

[code]

changing 65_537 to 65_536 makes the script work as expected and returns immediate

[2020-10-13 08:47] lovasoa commented on #363
I can reproduce the issue with the latest version of uvloop published on pypi (v0.14.0, which is almost one year old), but I cannot reproduce it with the latest development version ( 6ef69a797db0afe781b5ddcd74691767f8261a53 ). It looks like the issue has been fixed by some other change.

[2020-10-14 12:39] pilosus commented on #349
It would be super nice to have this fix released! Can't wait to switch over Python 3.9.0 )

[2020-10-15 04:39] gabrielcalderon opened #365 "Python 3.9 support"
Now that Python 3.9 has been officially been release. Is support for Python 3.9 in the near timeline?

Changes: https://docs.python.org/3.9/whatsnew/3.9.html

[2020-10-16 22:44] greatvovan commented on #365
Version 0.14.0 throws `NotImplementedError` in the very end of the program, after successful execution:
[code]
Somehow `AbstractEventLoop.shutdown_default_executor` gets called here, which causes the exception.

[2020-10-19 06:53] enumag commented on #317
just ran into this as well... what's the current status? is it fixed in master already? if so, when can we expect a release?

[2020-10-31 21:57] PeterJCLaw commented on #340
Hrm, according to https://stackoverflow.com/a/25584112, it looks like this might be an out of memory condition during the build?

[2020-11-02 08:42] odidev opened #367 "Wheel support for linux aarch64"
**Summary**
Installing uvloop on aarch64 via pip using command "pip3 install uvloop" tries to build wheel from source code.

**Problem description**
uvloop doesn't have wheel for aarch64 on PyPI repository. So, while installing uvloop via pip on aarch64, pip builds wheel for same resulting in it takes more time to install uvloop. Making wheel available for aarch64 will benefit aarch64 users by min

[2020-11-11 14:04] sileht commented on #365
It's fixed here I guess, https://github.com/MagicStack/uvloop/pull/353.

[2020-11-16 14:22] rgeronimi commented on #317
Critical issue as well

[2020-11-16 16:57] 1st1 commented on #317
@fantix It seems that we now just need to bump libuv to resolve this?

[2020-11-16 20:08] rgeronimi commented on #317
Hopefully

[2020-11-20 00:33] hauntsaninja commented on #349
Thank you for uvloop! I'd love to see this released; if there's anything blocking I'm happy to help :-)

[2020-11-20 03:04] 1st1 commented on #349
I'm a bit busy with releasing EdgeDB b1. We should do that in a week or two and then it will be a priority for me to release uvloop (and migrate EdgeDB itself to 3.9).

[2020-11-23 02:30] csrftoken opened #370 "How to stop event loop in child thread ?"
I call the stop method in child thread，but loop’s state is running ~
Can you help me ?

[code]

* **uvloop：0.14.0**:
* **python：3.7.2**:
* **MacOS10.15.7**:

[2020-11-23 02:31] csrftoken commented on #370
The error is：
Traceback (most recent call last):
  File "", line 71, in <module>
    app.stop()
  File "", line 51, in stop
    self.__loop.run_until_complete(self.__server.close())
  File "uvloop/loop.pyx", line 1450, in uvloop.loop.Loop.run_until_complete
  File "uvloop/loop.pyx", line 1443, in uvloop.loop.Loop.run_until_complete
  File "uvloop/loop.pyx", line 1351, in uvloop.loop.Loop.run_forev

[2020-11-25 19:59] fantix commented on #317
@1st1 sry for the late reply! Let me try the latest libuv 1.39.0

[2020-11-26 07:16] spumer commented on #136
@1st1

[code]

[2020-11-26 18:09] fantix commented on #317
#342 should've already fixed the crashing (using libuv internal flags as a workaround), while there isn't a proper fix from the upstream yet.

However, I think this issue revealed another pipe bug in uvloop (master): the pipe is closed before all data is transmitted. I've simplified @momocow 's script to make it work for also Python > 3.7:

[code]

And it fails like:

[code]

It is reproducible fo

[2020-11-26 18:55] fantix commented on #317
Ah okay, this is not a uvloop bug, but rather a difference to asyncio: you must `await tx.wait_closed()` in order for all the data to be transmitted, while in asyncio it may still succeed even if you don't `await` on anything (this is for sure not recommended). Therefore, the following `child_task` should work for both asyncio and uvloop (master):

[code]

I think we can now call this issue fixed.

[2020-12-01 21:20] 1st1 commented on #317
Maybe we can throw our error somehow instead of letting libuv to crash with an asserion error?

[2020-12-01 21:31] fantix commented on #317
Oh, we've fixed the crash, the missing `await tx.wait_closed()` is only causing data not fully received.

[2020-12-01 21:32] fantix commented on #317
I've also created [an upstream PR](https://github.com/libuv/libuv/pull/3057) so that we don't have to hack in the private constant in uvloop.

[2020-12-07 03:43] #318 closed

[2020-12-07 03:43] #354 closed

[2020-12-07 03:43] #355 closed

[2020-12-07 03:43] #361 closed

[2020-12-08 10:49] blakewatters commented on #136
Whatever the underlying problem is here, it definitely has not been closed out. I have found that it can be worked around in tests where it pops up by using the default event loop policy via a pytest mark at the top of my test files that hit the issue. Hopefully, this helps until we can nail down the underlying issue:

[code]

[2020-12-12 19:26] asfaltboy commented on #362
I'm working on some nice crunchy wheels, will link a PR soon-ish

[2020-12-13 16:55] TECHNOFAB11 commented on #370
`loop.run_until_complete` only works when the event loop is NOT running. Otherwise `asyncio.ensure_future` or similar or simply `await` must be used

[2020-12-15 06:37] NotoriousRebel commented on #349
Any updates?

[2020-12-15 13:30] agronholm commented on #349
EdgeDB b1 isn't out yet. I wouldn't expect anything to happen before that.

[2020-12-16 09:58] mhxie commented on #365
I have the same issue here. And the benchmark shows that using the Python 3.9 echo server with uvloop 0.14.0 is performing even worse than the default asyncio server. Any idea on this?

[2020-12-16 11:00] pembeci commented on #339
This normally happens on Twitter. :)

[2020-12-24 03:09] gabrielcalderon commented on #362
@asfaltboy Can this be close? Since #373 was completed

[2020-12-24 08:07] asfaltboy commented on #362
I think @elprans is working on it, my pr was to simplistic and this wasn't merged

[2021-01-07 20:51] TheBuky commented on #365
Python 3.9.1 and uvloop 0.14.0 (in django context):

**/usr/lib/python3.9/asyncio/runners.py**, line 49, in **run**:
[code]
**uvloop/loop.pyx**, line 1456, in **uvloop.loop.Loop.run_until_complete**:
[code]
**/usr/lib/python3.9/asyncio/events.py**, line 253, in **shutdown_default_executor**:
[code]
The problem is always present.

[2021-01-08 16:23] Tinche commented on #365
Also, can we get 3.9 wheels up on PyPI? 😇

[2021-01-09 09:18] Catstyle opened #378 "event loop loop forever: make lots of sock_connec at the same time"
* **uvloop version**: 0.14.0
* **Python version**: 3.8.3
* **Platform**: ubuntu 20.04 on wsl2
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: yes
* **Does uvloop behave differently from vanilla asyncio? How?**: yes, asyncio works well

server side: accept connections and do nothing, just close it after a few seconds, simulating heartbeat timeout
client side: connect to server si

[2021-01-14 15:10] OpetherMB commented on #168
thank you very much

[2021-01-15 04:51] devidkarundeng opened #379 "pip install uvloop Issue in AWS ARM Graviton Chip"
* **uvloop version**: latest 0.14
* **Python version**: 3.8
* **Platform**: Ubuntu 20 + AWS's ARM Graviton Chip
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: -
* **Does uvloop behave differently from vanilla asyncio? How?**: -

Hi All,

I was tinkering with the new AWS Graviton ARM based chip last weekend, and while doing pip install uvloop, it gave error message "gcc.. arm64"

[2021-01-19 00:25] nehaljwani opened #380 "Import error with pypy37"
* **uvloop version**: 0.14.0
* **Python version**: 3.7.9 (pypy)
* **Platform**: linux (64 bit)
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: N/A
* **Does uvloop behave differently from vanilla asyncio? How?**: N/A

[code]

[2021-01-20 18:22] fantix commented on #323
Closing due to inactivity. Please feel free to reopen if you have further questions.

[2021-01-20 18:22] #323 closed

[2021-01-20 18:24] fantix commented on #321
Closing due to inactivity. Please feel free to reopen if you have further questions.

[2021-01-20 18:24] #321 closed

[2021-01-20 19:12] fantix opened #381 "Drop Python 3.5 and 3.6 support"
This is only a reminder for me to start on the removal of 3.5/3.6 support.

[2021-01-21 00:28] fantix commented on #378
Hey, thanks for the report! But please provide a reproducible sample code. I've tried several batches of 10k concurrent connections on the same server but cannot reproduce the issue.

[2021-01-21 00:48] fantix commented on #360
Thanks for the report! Unfortunately with a simple echo server/client, I cannot reproduce your issue. Could you please provide a self-contained script to reproduce the issue please?

[2021-01-21 21:43] olehkorkh-planeks opened #382 "Cannot install uvloop with Docker and standard python:3.9-buster image"
* **uvloop version**: 0.14.0
* **Python version**: 3.9
* **Platform**: Linux (64bit)
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: N/A
* **Does uvloop behave differently from vanilla asyncio? How?**: N/A

Hello, I have the next strange errors when trying to install the `uvloop` inside the Docker container based on the standard `python:3.9-buster` image on the Ubuntu 20.04 host

[2021-01-21 22:48] 1st1 commented on #382
The last release of uvloop isn't fully compatible with 3.9. We'll have a new uvloop release in about a week that should work just fine for you.

[2021-01-22 13:57] olehkorkh-planeks commented on #382
Thank you for the information, waiting for the new release

[2021-01-25 01:59] #381 closed

[2021-01-25 15:51] Catstyle commented on #378
finally got some time
i wrote some naive codes, just to illustrate the issue

server.py
[code]

client.py
[code]

concurrency = 1000, works well
[code]

concurrency = 5000, oops
[code]

using vanilla asyncio, works well
[code]

some kernel config
net.core.netdev_max_backlog = 1000
net.ipv4.tcp_max_syn_backlog = 512

[2021-01-28 06:51] ale-dd opened #384 "Exception [Errno 11] write could not complete without blocking"
Prompt_toolkit works flawlessly with asyncio but throws the exception in this issue's subject line when run via uvloop.

Some of the example programs in prompt_toolkit reproduce the issue:

https://github.com/prompt-toolkit/python-prompt-toolkit/issues/1230

would anyone have some cycles to please take a look?

thank you!

[2021-01-29 22:57] ronsinai commented on #168
Is it mandatory for running the app (with `uvloop.install()`) or could be deleted following `pip install uvloop`?

[2021-01-31 19:30] gabrielcalderon commented on #365
Any news on this?

[2021-01-31 22:44] fantix commented on #365
Yes - this is on my priority list and I'm hoping to help in getting a release for 3.9 soon!

[2021-02-05 20:38] #305 closed

[2021-02-05 22:03] fantix commented on #363
Closed by #364. Please feel free to reopen if the issue persists.

[2021-02-05 22:03] #363 closed

[2021-02-05 22:23] lovasoa commented on #363
@fantix : The issue was only fixed in master when it was opened. The problem is that the latest released version is old and contains the bug: https://pypi.org/project/uvloop/#history

[2021-02-05 22:45] fantix commented on #363
Right, thanks for the reminder - this links to how we close issues. I'm leaning towards marking issues closed to reflect the situation in the master branch, and PyPI releases could reference the issues fixed in each version. People with the same issue could still find this ticket and understand the release by comparing the Git tags in logs. But @1st1 may have a different opinion

[2021-02-05 23:07] 1st1 commented on #363
Closing as soon as it's fixes in master is IMO ok, but then I typically add a comment saying when the release is scheduled and then go back and update the issue again once the release has been made.

[2021-02-06 00:49] #357 closed

[2021-02-06 17:54] lovasoa commented on #363
Yes, I also think this is the right thing to do. So, is there a new release planned ? The last one was in November 2019.

[2021-02-07 18:47] fantix commented on #363
Yes! I'll push for a new release after the first 3 columns on [this board](https://github.com/MagicStack/uvloop/projects/2) are cleared.

[2021-02-08 22:57] fantix commented on #136
This error message is from [pytest](https://github.com/pytest-dev/pytest/blob/7585221d55059b5ae6c1dd96f558402ac6a8ee3e/src/_pytest/capture.py#L229). If you try to read from stdin, it also says:

I'm checking why asyncio doesn't fail this test.

[2021-02-08 23:25] #336 closed

[2021-02-09 15:45] #136 closed

[2021-02-09 16:28] #378 closed

[2021-02-09 17:27] fantix commented on #118
OK, this turns out to be an issue in libuv.

libuv [created a pipe](https://github.com/libuv/libuv/blob/39968db6434f16f9fbd3c78f6c7392fd7ae9074e/src/unix/process.c#L880-L900) (marked close-on-exec) for the parent process to wait for the `execve()` in the child, using [a blocking `read()`](https://github.com/libuv/libuv/blob/39968db6434f16f9fbd3c78f6c7392fd7ae9074e/src/unix/process.c#L923-L926) to

[2021-02-09 19:59] fantix commented on #338
You're actually talking about multiple issues.

1. `UDPTransport` should raise errors if used after `connection_lost()` is called.
2. `UDPTransport.sendto(DATA, (IP, 0))` would silently close the transport.
3. I'm not sure about your quote of the RFC or your Sentry report, but I guess you were saying we shouldn't allow `local_addr=("192.168.2.22", 0)`?

My answers:

1. You should not use the trans

[2021-02-10 01:55] fantix commented on #358
This is fixed in #366 I think.

[2021-02-10 01:55] #358 closed

[2021-02-10 10:55] spumer commented on #338
No, RFC references for `UDPTransport.sendto(DATA, (IP, 0)) would silently close the transport.`
Sentry screenshot just proof for "i'm really get request with zero src port"

[2021-02-10 16:34] fantix commented on #363
The fix is included in 0.15.0.

[2021-02-10 16:35] lovasoa commented on #363
Thankyou @fantix !

[2021-02-13 17:09] elprans commented on #367
Added in #376.  Please note that manylinux on aarch64 is [not stable yet](https://github.com/pypa/manylinux/issues/84), so consider aarch64 wheels to be beta.

[2021-02-13 17:09] #367 closed

[2021-02-13 17:11] elprans commented on #379
Try the newly released 0.15.0.  There are experimental aarch64 wheels in that release.

[2021-02-15 16:48] devidkarundeng commented on #379
Thanks @elprans! Tested today on aarch64: `pip install uvloop` was fetching 0.15 and successfully installed. Closing,

[2021-02-15 16:48] #379 closed

[2021-02-25 13:54] ankogan opened #403 "Failed to create_datagram_endpoint() with AF_UNIX family"
* **uvloop version**: 0.15.2
* **Python version**: 3.7.3
* **Platform**: Debian GNU/Linux 10
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**:
* **Does uvloop behave differently from vanilla asyncio? How?**: asyncio correctly creates datagram unix socket

Code, works correctly using default event loop:
res = await loop.create_datagram_endpoint(MyProto, local_addr='/tmp/my_unix_soc

[2021-02-28 00:36] jakirkham opened #404 "Using vectorized IO (scatter/gather)"
Operations like `writelines` in [the Stream]( https://docs.python.org/3/library/asyncio-stream.html#asyncio.StreamWriter.writelines ) and [the Transport]( https://docs.python.org/3/library/asyncio-protocol.html?highlight=writelines#asyncio.WriteTransport.writelines ) APIs provide library authors the opportunity to send collections of buffers that they would like written, sent, etc. in one go. This

[2021-03-16 08:40] davidbrochart opened #405 "Support nest-asyncio"
[nest-asyncio](https://github.com/erdewit/nest_asyncio) allows nested event loops, which seems like a very useful feature. Currently it only works with event loops from asyncio. Would it make sense to have uvloop patchable with nest-asyncio?

[2021-03-22 12:49] vuori777 opened #406 "Missing support for `interleave` and `happy_eyeballs_delay` in `create_connection`"
* **uvloop version**: 0.15.2
* **Python version**: 3.8.5
* **Platform**: Ubuntu 20.04 amd64
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: Not tested.
* **Does uvloop behave differently from vanilla asyncio? How?**: Yes, fails if `interleave` and/or `happy_eyeballs_delay` is set with `create_connection`.

asyncio `loop.create_connection` supports the `interleave` and `happy_eye

[2021-04-07 08:10] Bennyelg commented on #356
+1

[2021-04-10 03:18] paulefoe commented on #406
This looks interesting to me. I've dug around for a few days now, but I've never worked with the cython.

I've read this RFC https://tools.ietf.org/html/rfc8305.html
and basically try to backport this https://github.com/python/cpython/pull/7237/files

If someone has any tips or guidance I would really appreciate that.

[2021-04-12 14:03] hehaha opened #408 "call_soon_threadsafe is not really threadsafe"
* **uvloop version**: 0.15
* **Python version**: 3.8.6
* **Platform**: Ubuntu 18.04.3
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: yes
* **Does uvloop behave differently from vanilla asyncio? How?**: yes

I have been confused about this bug for about two weeks. In my situation, I create some threads and every thread run a new loop separately. At the same time, I have another

[2021-04-13 11:08] vuori777 commented on #406
I haven't implemented this myself and am also unfamiliar with Cython so can't really help. We managed to work around the problem with selective application of native asyncio, since this problem only affected a relative low-traffic portion of the app.

[2021-04-20 08:10] ZhuYuJin opened #409 "uvloop simply disable SIGCHLD?"
* **uvloop version**: 0.14.0
* **Python version**: 3.6.8
* **Platform**: linux
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**:
* **Does uvloop behave differently from vanilla asyncio? How?**: uvloop cannot add SIGCHLD handler

I need to monitor child process exist.
[code]

However, uvloop simply disable the signal with the following error.
RuntimeError: cannot add a signal handl

[2021-04-21 00:59] PJovy commented on #317
So is this bug already fixed now, and if we use the latest version 0.15.2, does it means we won't meet this issue again? Thx.
@fantix

[2021-04-21 14:12] fantix commented on #317
@PJovy right, the temporary fix is included in 0.15. An ideal fix would depend on something from upstream, but we should be fine without it.

[2021-04-23 17:55] pauldraper commented on #277
Is `pip install uvloop==0.14.0rc1` still the expected way to install?

[2021-04-24 12:03] raima-zachariah opened #410 "[Security] Potential Secret Leak"
It has been noticed that while using edgedb/action-release/merge@master your gpg_key_id 5C468778062D87BF! is present in plaintext. Please ensure that secrets are encrypted or not passed as plain text in github workflows.

[2021-04-24 16:21] elprans commented on #410
GPG key ids are not secrets.

[2021-04-24 16:21] #410 closed

[2021-04-26 16:10] fantix commented on #277
@pauldraper we now have `0.14.0` and `0.15.2`, both should work for Python 3.8 I believe.

[2021-04-27 02:34] paulefoe commented on #406
Hey @1st1 @fantix
I think I really want to dig into this and implement it, but I want to double-check if it's something you will be willing to accept?

[2021-04-27 12:07] alviezhang commented on #311
@fantix
Hi, I'm using uvloop 0.15.2 version but I still got coredump with message
[code]
I tried to use gdb to print stack as below
[code]
I cannot get useful information from the stack, can you help me to confirm is it relative about this ticket? Or how can I reproduce this error?

[2021-05-04 17:19] graingert opened #411 "yank version 0.15.0 and version 0.15.1 from pypi.org"
currently when installing uvloop (without pins) pip on py3.6 will download 0.15.1 and then fail. Setting requires_python means pip can pick a different version to install

0.15.0 and 0.15.1 will need to be yanked to avoid issues like encode/uvicorn#953

@1st1 @fantix

[2021-05-09 03:22] mweinelt opened #412 "Test_AIO_TCPSSL::test_remote_shutdown_receives_trailing_data gets stuck on aarch64"
* **uvloop version**: 0.15.2
* **Python version**: 3.8.9
* **Platform**: Linux 4.19.188 (NixOS 20.09)
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: n/a
* **Does uvloop behave differently from vanilla asyncio? How?**: n/a

We have an issue since upgrading to 0.15.0 where our builds on aarch64 are timing out during the test suite, specifically during this test case:

[code]

Our

[2021-05-11 06:03] hehaha commented on #408
Can you please help me and review the PR?  And if it's possible to release a new version to fix this problem? @fantix @graingert

[2021-05-14 18:54] DUOLabs333 opened #413 "Fix for Cygwin"
This isn't so much of an issue, as it is a simple fix: I got uvloop to compile on Cygwin by replacing the line in uvloop/loop.c from "__pyx_t_5 = __Pyx_PyInt_From_int(SO_REUSEPORT); if (unlikely(!__pyx_t_5)) __PYX_ERR(0, 1756, __pyx_L32_error)" to "__pyx_t_5 = __Pyx_PyInt_From_int(SO_REUSEADDR); if (unlikely(!__pyx_t_5)) __PYX_ERR(0, 1756, __pyx_L32_error)"

[2021-05-22 15:30] decorator-factory opened #414 "Pathlib throws "Bad file descriptor", but only with `uvloop`."
* **uvloop version**: 0.15.3
* **Python version**: 3.9.5
* **Platform**: Manjaro, kernel is 5.10.42-1
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: no
* **Does uvloop behave differently from vanilla asyncio? How?**: without `uvloop`, the script works just fine.

When spawning processes and creating file, an `OSError: [Errno 9] Bad file descriptor` sometimes appears.

Script an

[2021-06-10 02:51] xiispace opened #415 "why not use (arg1, arg2, arg3, arg4) instead of args in Handle"
https://github.com/MagicStack/uvloop/blob/master/uvloop/cbhandles.pyx#L66
`Handle` use arg1, arg2, arg3, arg4, but `TimeHandle` use args,  is there any special reason?

[2021-06-10 02:51] xiispace opened #416 "why not use (arg1, arg2, arg3, arg4) instead of args in Handle"
https://github.com/MagicStack/uvloop/blob/master/uvloop/cbhandles.pyx#L66
`Handle` use arg1, arg2, arg3, arg4, but `TimeHandle` use args,  is there any special reason?

[2021-06-10 02:51] #416 closed

[2021-06-14 19:38] bobrik commented on #412
There's also this failure on aarch64-darwin (aka Apple Silicon):

[code]

It doesn't happen 100% of the time.

[2021-06-14 20:52] mweinelt commented on #412
@bobrik As your report references a different test, has a different exception and runs on a slightly different architecture, I think you a probably better of creating a separate issue.

[2021-06-24 19:27] robd003 opened #417 "Cannot install via pip on Python 3.10"
* **uvloop version**: 0.15.2
* **Python version**: 3.10b3
* **Platform**: macOS
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: yes
* **Does uvloop behave differently from vanilla asyncio? How?**: Won't build

When trying to build uvloop against Python 3.10b3 the following error is emitted if you install via pip:

[code]

I think this has to do with Python 3.10+ dropping `_PyGen

[2021-06-30 14:10] forana commented on #247
For anyone else arriving here on a fruitless google search: alpine 3.14 [requires a minimum of docker version 20.10.0](https://wiki.alpinelinux.org/wiki/Release_Notes_for_Alpine_3.14.0). I had been building on `python:3.8-alpine`, which was previously an alias of `python:3.8-alpine3.13` and is now an alias of `python:3.8-alpine3.14`, and suddenly getting cryptic errors very similar to the above. `

[2021-06-30 21:40] Mathdrquinn commented on #168
Thank you for the note!  Could you describe or link to the bug?

[2021-07-01 00:10] graingert commented on #411
@asvetlov

[2021-07-01 23:36] 1st1 commented on #411
Yeah, I'm OK with adding `requires_python` for future releases (a PR would be welcome), but I'm -1 on yanking old releases. First, python 3.6 is pretty old (we'll have 3.10 soon!), second unpinned dependencies are a bad practice anyways. Lastly, yanking the release will break the installation for those people who did pin the package, and I suspect it's a larger group of people.

[2021-07-01 23:36] graingert commented on #411
No it won't that's the point of a yank

[2021-07-01 23:39] 1st1 commented on #411
Yeah, it was just pointed out to me what yanking means now for the python packages (https://blog.piwheels.org/new-features-deletion-yanking-and-more/). What a weird non-obvious name. In any case, I withdraw my earlier comment; it does seem that we can yank the older release and fix `requires_python`

[2021-07-01 23:40] graingert commented on #411
Thanks requires_python is already set correctly in 0.15.2

[2021-07-01 23:47] 1st1 commented on #411
Alright, I've just yanked both 0.15.0 and 0.15.1

[2021-07-01 23:47] graingert commented on #411
Awesome thanks so much!

[2021-07-01 23:47] #411 closed

[2021-07-02 08:57] graingert commented on #411
hooray this "just works" now!

[code]

[2021-07-02 08:59] graingert commented on #411
overriding the yank with a `==` directive works as expected:

[code]

same on 3.7, and you get a warning:

[code]

[2021-07-02 09:00] graingert commented on #411
@1st1 it would be good to set the yanked reason, `eg Reason for being yanked: <none given>` could be "requires_python wasn't set"

[2021-07-03 21:44] thisisrandy commented on #301
@Integralist, I'm sure you've long since figured this out, but as I am coming to this now wondering the same thing, I thought I'd chime in that

[code]

which seems like good evidence that the installation is working to me.

[2021-07-08 09:47] ennunpenoctal opened #419 "Undefined symbol: _PyGen_Send"
* **uvloop version**: uvloop-0.15.2
* **Python version**: 3.10.0b1
* **Platform**: Linux

Exception when importing with `from uvloop import install`

[code]

[2021-07-08 09:50] ennunpenoctal commented on #419
It appears that https://github.com/MagicStack/uvloop/issues/417 addresses this. My apologies.

[2021-07-08 09:50] #419 closed

[2021-07-09 23:40] gaby commented on #362
@asfaltboy @elprans Any updates on this?

[2021-07-10 21:16] fantix commented on #412
Got some time today to reformat my SD card and install Debian on my Raspberry Pi 400 (kernel `5.10.0-7-arm64`, Python 3.9.2). Like your RPi4, `test_remote_shutdown_receives_trailing_data (tests.test_tcp.Test_AIO_TCPSSL)` passed for me too, same for `test_shutdown_timeout_handler_not_set (tests.test_tcp.Test_UV_TCPSSL)`, with or without `PYTHONASYNCIODEBUG=1` and `make debug`. I'm running a full te

[2021-07-10 22:22] fantix commented on #412
No luck - all tests passed. And the stack info is not really telling a lot. I think it should be safe to disable in your case, as `test_remote_shutdown_receives_trailing_data (tests.test_tcp.Test_AIO_TCPSSL)` is particularly testing asyncio not uvloop. If the same test on `Test_UV_TCPSSL` passes, the uvloop package itself would work.

For `test_shutdown_timeout_handler_not_set (tests.test_tcp.Test

[2021-07-10 22:55] mweinelt commented on #412
Yeah, I think this might be a weird issue with the python and this specific CPU generation. We've disabled that test and the build worked from then on. I don't think it's worth it digging too deep here.

[2021-07-12 14:55] fantix commented on #408
Sorry for the late reply and thank you for the careful debugging! The PR removed the start of the idle handler in `call_soon_threadsafe()` because starting an idle handler is not thread-safe and may potentially overtake other handles scheduled at the same time leading to an early loop exit, meanwhile the async handler will anyway start the idle handler properly from the loop thread?

[code]

That

[2021-07-12 18:24] fantix commented on #417
This is likely a similar issue as in #356 - re-cythonizing would fix it.

[2021-07-13 13:45] hehaha commented on #408
Thanks God for you reply me finally! It's do better to have a test case.

[2021-07-13 16:43] fantix commented on #408
Fixed in uvloop 0.15.3, please feel free to reopen if the issue persists.

[2021-07-13 16:43] #408 closed

[2021-07-13 18:59] graingert commented on #414
Is this fixed by #408 ?

[2021-07-13 20:26] decorator-factory commented on #414
Doesn't seem to be, I just tested on 0.15.3, and I get the same results

[2021-07-19 10:16] iamthen0ise opened #423 "`Operation not permitted` while building uvloop with poetry under alpine >3.8.9 in CodeBuild"
* **uvloop version**: 0.15.0+
* **Python version** 3.8.10+:
* **Platform** AWS Codebuld + Apline Linux Docker:
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: No
* **Does uvloop behave differently from vanilla asyncio? How?**: Can't say exactly

Hi!

Lately i can't build any uvloop version greater than 0.14.0 in a docker container with Apline linux image of Python 3.8.10+.

Prob

[2021-07-20 02:03] alviezhang opened #424 "python: src/unix/core.c:930: uv__io_stop: Assertion `loop->watchers[w->fd] == w' failed."
* **uvloop version**: 0.15.2, 0.15.3, 0.16.0.dev0
* **Python version**: 3.8.10
* **Platform**: Linux/Ubuntu 20.04
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: Yes
* **Does uvloop behave differently from vanilla asyncio? How?**:
I don't know how to start starlette use vanilla asyncio.

I use starlette, aiohttp HTTP client and uvloop in production, and I found server automatica

[2021-07-21 15:15] semakmillev opened #425 "uvloop blocks app and not executes aiohttp server"
Hi! I have very strange bug.
On server (only on the one - i cant reproduce error on others) i m tryin to start application using uvloop. Here is the code (i tried using docker, or executing script - result was the same) in console:

Python 3.8.10 (default, Jun  2 2021, 10:49:15)
[GCC 9.4.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

And after that nothing happ

[2021-07-21 15:28] 1st1 commented on #425
Sounds like the 17000 port is used by something else on that particular server. And most likely aiohttp has some timeout/retry logic in place and waits for it to become available. I don't think this is a uvloop bug. That said, check what happens if you don't activate uvloop -- does vanilla asyncio behave differently?

[2021-07-21 16:24] semakmillev commented on #425
1. As i mentioned - i used different ports - like 8023, 7091, 17091, 17000, 80 and several another with same result
2. Yes, if i run just
from aiohttp import web
app = web.Application()
web.run_app(app, port=17000)
everything works fine.

It's really strange. Seems to some hardware or system problem, because on other machine with same software i don't get this problem. But how to find out it - i d

[2021-07-23 14:29] sarendsen commented on #380
subscribing

[2021-07-23 21:27] peter9477 commented on #118
I don't know if it's related to this issue, but I may have another case that might help shed light one this.  I haven't got it reduced to a self-contained reproducible example yet, but I could probably do that with only an hour of work if it would help.

In my situation, under Python 3.8.0 (custom ARM v7 build, nothing special about it), with either uvloop 0.14.0 or 0.15.3, it appears if I cancel(

[2021-07-26 05:18] markmark1 commented on #405
yes please this is badly needed as libraries that use nest-asyncio cannot be uvloop installed?

[2021-07-27 16:01] YassineElbouchaibi opened #426 "'uvloop.loop.TimerHandle' object has no attribute 'when'"
* **uvloop version**: 0.15.3
* **Python version**: Python 3.8.6
* **Platform**: Not relevant
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: Not relevant
* **Does uvloop behave differently from vanilla asyncio? How?**: Yes

Asyncio's TimerHandle has a when method to get the scheduled callback time. See https://docs.python.org/3.8/library/asyncio-eventloop.html?highlight=timerhan

[2021-07-27 17:20] 1st1 commented on #426
Yeah, we should fix this. Care to submit a PR? :)

[2021-07-27 22:36] YassineElbouchaibi commented on #426
Sure, however, I currently don't know how to get or calculate the exact value. I will have to have a look around first.

A naive solution would be to get the start time and add the delay to it but that would require getting the exact start time which I don't see how to do.

Like I said, I will have a look but if you have any suggestions, feel free to share as I´m not familiar with the what data is

[2021-07-28 06:21] mgorny opened #427 "uvloop fails to import on SPARC64: OverflowError: Python int too large to convert to C long"
* **uvloop version**: 4b803b155ed30a30f34c208133a431587272f81e
* **Python version**: 3.9.5
* **Platform**: Gentoo Linux
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: yes
* **Does uvloop behave differently from vanilla asyncio? How?**: n/a

When built on SPARC64, the uvloop module fails to load:
[code]

From my short testing, it seems that the Python thread identifiers on sparc

[2021-07-28 07:21] Woile commented on #423
I'm having the same issue with this make command:
[code]

I've tried python 3.9 and 3.7
uvloop (uvloop>=0.14.0,!=0.15.0,!=0.15.1;) as a dependency of uvicorn 0.14.0

were you able to solve this?

[2021-07-28 16:58] 1st1 commented on #427
I don't think we have resources to debug SPARC64 compatibility. But you're welcome to submit PRs to fix it!

[2021-07-28 17:30] mgorny commented on #427
Well, removing `<int64_t>` from that line fixes it but I'm afraid it's going to break some other platforms :-(. I've asked Gentoo arch teams to test whether its removal breaks any of the 32-bit platforms we test on but it will probably take a few days before they report back.

[2021-07-29 13:10] iamthen0ise commented on #423
No, unfortunately. Had to pin Python to 3.8.9, and uvloop to 0.14.0 to make it work.

[2021-07-30 22:02] jensbjorgensen commented on #426
I submitted a pull request: https://github.com/MagicStack/uvloop/pull/428

[2021-07-31 07:56] kloczek opened #429 "0.15.3: pytest is failing"
* **uvloop version**: 0.15.3
* **Python version**: 3.8.11
* **Platform**: Linux/x86_64
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: Yes
* **Does uvloop behave differently from vanilla asyncio? How?**: N/A

Just normal build, install and test cycle used on building package from non-root account:
- "setup.py build"
- "setup.py install --root </install/prefix>"
- "pytest with PY

[2021-07-31 09:03] kloczek opened #430 "0.15.3: setuptools `build_sphinx` command fails"
* **uvloop version**: 0.15.3
* **Python version**: 3.8.11
* **Platform**: Linux/x86_64

Looks like `version` is not present in setup.py
[code]

[2021-08-12 11:04] decorator-factory commented on #414
Update: on 16.0 I no longer get the core dump, but the 'bad file descriptor' persists

[2021-08-12 17:03] 1st1 commented on #426
This is now part of 0.16.0!

[2021-08-12 17:03] #426 closed

[2021-08-12 17:03] 1st1 commented on #417
Should be resolved with 0.16.0

[2021-08-12 17:03] #417 closed

[2021-08-12 17:04] 1st1 commented on #415
Handles are created way more often so they're hand-optimized to save time on unpacking `*args`.

[2021-08-12 17:04] #415 closed

[2021-08-12 17:05] 1st1 commented on #409
Not right now, but doable in principle. We just need to allow users to provide a handler for SIGCHLD while making sure that libuv receives it too.

[2021-08-12 17:06] 1st1 commented on #406
We're obviously willing to accept such a PR.

[2021-08-13 20:51] joell commented on #403
I can confirm this issue and traced it to line 3057 below:

https://github.com/MagicStack/uvloop/blob/3e71ddc3383a8e0546519117c8775323c19eb6d7/uvloop/loop.pyx#L3049-L3060

Simply put it seems that uvloop will not accept creation of a AF_UNIX datagram socket without a predetermined remote address.  Yet this would be a reasonable usecase if one planed to use the created socket with `sendto`.

As @an

[2021-08-16 06:05] ilons commented on #247
@forana Brilliant! Thanks for the note!

[2021-08-20 15:23] sc07kvm opened #437 ""Future exception was never retrieved" in Loop.create_connection"
* **uvloop version**: 0.16.0
* **aiohttp version**: 3.7.4.post0
* **Python version**: 3.9.5
* **Platform**: Ubuntu 5.11.0-31-generic
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: Yes
* * **Does uvloop behave differently from vanilla asyncio? How?**: Yes. This error does not occur

[code]

[2021-08-20 15:37] sc07kvm opened #438 "Program terminated with signal SIGABRT"
* **uvloop version**: uvloop 0.16.0
* **Python version**: 3.9.5
* **Platform**: Ubuntu 5.11.0-31-generic
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**:  Yes. No suspicious message other than "Executing <Task pending name='Task-60' ...> took 0.578 seconds
* **Does uvloop behave differently from vanilla asyncio? How?**: Yes. Python process does not crash

gdb:
[code]

[2021-08-21 05:02] byllyfish opened #439 "create_subprocess_exec treats env={} differently than vanilla asyncio"
* **uvloop version**: 0.16.0
* **Python version**: 3.9.6
* **Platform**: macOS 11.5.2
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: yes
* **Does uvloop behave differently from vanilla asyncio? How?**:  create_subprocess_exec treats `env` differently.

When I set env={}, uvloop treats this as None and inherits all environment variables, while vanilla asyncio treats {} as an emp

[2021-08-22 10:04] Woile commented on #423
I had an old version of docker `18.09.3`, upgrading to `20.10.8` solved the issue.
I'm using python `3.9` and uvloop `0.16.0`.

This comment helped me: https://github.com/MagicStack/uvloop/issues/247#issuecomment-871439788

[2021-08-22 10:15] iamthen0ise commented on #423
@Woile Thank you very much! Will try!

[2021-08-23 21:17] iamthen0ise commented on #423
So, looks like it is not an uvloop problem, let me close the issue.

[2021-08-23 21:17] #423 closed

[2021-08-31 18:40] SudoNova commented on #380
Any updates on this issue is highly appreciated.

[2021-09-03 02:18] sekkit opened #440 "IPC support"
Does it support IPC(interprocess communication) same as libuv?

[2021-09-03 03:23] 1st1 commented on #440
You can pass FDs to the spawned processes and named pipes, as well as communicate via stdin/stdout/stderr as asyncio API allows you to. You can also create TCP/UNIX sockets and implement IPC that way. There's nothing more that that to it.

See also https://docs.python.org/3/library/asyncio-subprocess.html#asyncio-subprocess

[2021-09-03 03:23] #440 closed

[2021-09-03 03:24] 1st1 commented on #437
@fantix I see you self-assigned this. Should the fix be prioritized?

[2021-09-08 22:14] jakirkham commented on #404
After digging into this more I think [`uv__try_write` uses `sendmsg`]( https://github.com/libuv/libuv/blob/03f1a6979caff380bfcfcd1293390474eaad6164/src/unix/stream.c#L868 ), which [`uvloop` already calls in `_exec_write`]( https://github.com/MagicStack/uvloop/blob/c808a663b297bb2aee745523c277d6fafecebbeb/uvloop/handles/stream.pyx#L517-L519 ), does handle scattering. Plus `uvloop` already can [coll

[2021-09-13 13:44] LinuxTerminali commented on #405
bump, is there any update on this?

[2021-09-24 10:01] sebCIL opened #444 "Can't install uvloop"
* **Python version**: 3.9.6
* **Platform**: IBMi

I'm trying to install uvloop vith the command `python3 -m pip install uvloop`

Here is the stack trace :
[code]

Is any one can help me ?
Thx.

[2021-09-24 11:09] bumer-t commented on #425
Hello.

I have the same issue after upgrade libs:
aiohttp 3.6.2 --> 3.7.4.post0
uvloop 0.14.0 --> 0.16.0

I tested on different pythons: 3.6, 3.7, 3.9, but result was the same.
If I have only one pod - it was ok, but when I start 2nd pod -  pod doesn't listen 8080 port

My system:
`sh-4.2# cat /etc/*release :   CentOS Linux release 7.8.2003 (Core)`

If I run without `uvloop.install()` - it was ok.

[2021-09-29 11:33] th3hamm0r commented on #414
Fyi: I don't know if this is related to that issue, but we see similar log entries of `Error while closing socket [Errno 9] Bad file descriptor` logged by gunicorn in our django setup with gunicorn, uvicorn, uvloop, websockets, when the server is shutting down. Tested with the latest version of uvloop, uvicorn etc.

[2021-10-01 21:16] jakirkham commented on #404
Submitted PR ( https://github.com/MagicStack/uvloop/pull/445 ) to make the change proposed in the last comment.

[2021-10-05 20:22] adamantike commented on #365
@fantix, with `0.15.0` release notes mentioning Python 3.9 fixes, and `0.16.0` release notes mentioning Python 3.10 support, should this issue be considered fixed?

With the following simple Dockerfile, I no longer get the `NotImplementedError` exception on version `0.15.0` onwards:

[code]

[2021-10-05 20:58] fantix commented on #365
Oh yes, thanks for the reminder! Closing now.

[2021-10-23 12:15] fillwithjoy1 opened #448 "Here's why uvloop isn't compatiable for Windows"
For people who are using Python for Windows, it isn't compatible so far as I've tried. It's even shown in setup.py https://github.com/MagicStack/uvloop/blob/master/setup.py

Does anyone know when it'll be supported?

[2021-10-27 12:07] ankogan opened #449 "SSL connection error while debug is enabled"
* **uvloop version**: 0.15.2
* **Python version**: 3.7.3
* **Platform**: Debian GNU/Linux 10
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: yes
* **Does uvloop behave differently from vanilla asyncio? How?**: yes, error in uvloop code

Sometimes when asyncio debug enabled (and connection is closed before  starting SSL handshake? ) I got the error:
[code]

Looks like you should

[2021-11-09 21:51] ericsnowcurrently opened #450 "Build fails using CPython main."
When I try to build uvloop (following the instructions in the README), it fails:

[code]

I'm pretty sure this is a problem in Cython.  (I've opened https://github.com/cython/cython/issues/4461.)

[2021-11-09 21:59] elprans commented on #450
Yea, it's a Python 3.11 incompatibility in Cython.  Fixed in cython/cython#4428 (unreleased yet).  Nothing we can do until Cython 0.29.25 is out.

[2021-11-09 22:25] ericsnowcurrently commented on #450
Cool.  Thanks for the quick (and helpful) reply. 🙂

[2021-11-09 22:25] #450 closed

[2021-11-12 12:42] wiedehopf commented on #122
In case someone else gets this error message, just convert to async def / await ... that fixed the issue for me.
It's usually as simple as replacing like this:
[code]

[2021-11-12 16:27] bumer-t commented on #425
I resolve this error with changed CentOS to Alpine (or Debian).

[2021-11-18 06:33] Dhruvacube commented on #448
@fillwithjoy1 see #14

[2021-11-18 06:46] #448 closed

[2021-11-19 04:42] hareshkat opened #451 "uvloop not supported in AWS Lambda Arm architecture"
* **uvloop version**: 0.16.0
* **Python version**: 3.8
* **Platform**: Aws Lambda : Arm architecture
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**:
* **Does uvloop behave differently from vanilla asyncio? How?**:

uvloop is not running in AWS lambda Arm architecture.
It is giving module 'uvloop.loop' not found error.

[2021-11-21 10:37] kawsaramin101 commented on #260
Did exactly as you said, still same error

[2021-11-21 10:38] kawsaramin101 commented on #260
Did exactly you said, still got same error

[2021-12-01 06:02] wunic963 commented on #444
same error,maybe it need a upgrade

[2021-12-05 06:48] mbwmbw1337 commented on #380
Any updates on this one? Would also like to use uvloop via pypy37

[2021-12-06 16:37] horpto opened #452 "incorrect main thread definition in subprocess"
Hi, I have program with main process and a bunch subprocesses. Main process sends tasks via pipe to some subprocesses. Each subprocess are getting task synchronously in a separate thread and then process (send http query) in main thread of subprocess. I wanted to make `add_signal_handler` in main thread of each subprocess. But I got `ValueError: add_signal_handler() can only be called from the mai

[2021-12-07 19:31] kolypto commented on #382
I encountered this error when trying to build `uvloop` for Python 3.10. Use 3.9

[2021-12-08 07:43] IdanBanani commented on #444
same here.. using pipenv

Installing uvloopâ€¦
[code]

[2021-12-13 02:29] Jiramew commented on #424
Exactly the same situation here!
Aiohttp with proxy will produce the same error log and the coredump info.

[2021-12-27 18:14] GlassOfWhiskey opened #457 "Empty output when calling helm version"
* **uvloop version**: 0.16.0
* **Python version**: 3.8.10
* **Platform**: Ubuntu 20.04.3
* **Helm version**: v3.7.0
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: Yes
* **Does uvloop behave differently from vanilla asyncio? How?**: When calling `helm version` via `asyncio.create_subprocess_exec`, vanilla asyncio displays the correct result, while uvloop returns empty stdout.

S

[2022-01-02 12:54] guishake commented on #380
Same issue for me, just installed uvloop on `pypy:3.8-7.3.7-bullseye`, I got the following error
[code]

[2022-01-04 11:53] Nexuzzzz commented on #444
Uvloop doesn't support Windows yet

[2022-01-07 22:02] #413 closed

[2022-01-10 11:30] Kludex commented on #450
This should not be closed yet.

A new Cython version was released since then, but I guess uvloop needs to build and release a new version.

[2022-01-14 23:18] Tinche opened #460 "Question: does uvloop set stdout to non-blocking?"
I'm trying to debug an issue and can't really follow the code in here and over at libuv.

I seem to be getting errors when printing out large amounts of data suggestiong my stdout might be switched to non-blocking mode. Is uvloop doing this, why (is there a parameter to not do it, is there a strong reason not to do it), and is stderr affected as well?

Thanks in advance!

[2022-02-06 14:33] stalkerg commented on #427
@mgorny after all why do we need int64_t cast? I have no access to my sparc now :( but it should work very close to AMD64 if it's Linux (on Solaris much more different).

[2022-02-06 14:40] mgorny commented on #427
We shouldn't need it. Gentoo's running with my patch since then, and all arch teams have confirmed no regressions (at least as far as the test suite is concerned).

[2022-02-14 02:27] timelessnesses commented on #444
what do you mean the path is clearly linux

[2022-02-21 09:34] tufbel opened #461 "Program blocks in `asyncio.open_connection()`"
[code]
The output I get after running the code above is only:
[code]
My program blocks in `asyncio.open_connection()`.

[2022-02-21 09:38] tufbel commented on #461
I waited for more than 10 minutes without output `Success` or `Connect to failed`

[2022-02-22 01:20] #461 closed

[2022-02-22 07:37] tufbel opened #462 "No module named 'uvloop.loop'"
My Linux `uname -a` output is `Linux ***** #1 SMP PREEMPT Wed Sep 8 10:41:11 UTC 2021 armv7l armv7l armv7l GNU/Linux`
[code]

[2022-02-24 03:12] austinbutler opened #463 "Tests failures on macOS due to `OSError: AF_UNIX path too long`"
* **uvloop version**: 0.16.0
* **Python version**: 3.9.10
* **Platform**: macOS
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: Yes
* **Does uvloop behave differently from vanilla asyncio? How?**: N/A

Tests failures on macOS due to `OSError: AF_UNIX path too long`. I'm able to work around it by setting `TMPDIR="/tmp"`.

<details>
<summary>Test failures</summary>
[code]
</detail

[2022-02-24 20:59] austinbutler commented on #463
Actually I found it's only when building through Nix. I've mitigated it in https://github.com/NixOS/nixpkgs/pull/161611, so assuming that get approved and merged you may want to just close this issue without changing anything.

For comparison, here's the `TMPDIR` when running tests directly versus during the build of the Nix package:
`/var/folders/1s/gpt7p1x559sb7qjb_4bhq7zc75yv8y/T/`
`/private/va

[2022-02-24 22:39] austinbutler commented on #463
Something like this seems to work, I could open a PR if that's of interest:

[code]

[2022-03-09 23:09] galimk commented on #168
In the end downgrading the alpine linux version from 3.15 to 3.13 helped me.

https://stackoverflow.com/a/68798160

[2022-03-15 00:38] ThePrez commented on #444
This is the IBM i platform, not Windows or Linux. The runtime most closely resembles AIX.
I would like to work on this issue.

[2022-03-15 00:57] ThePrez commented on #444
@wunic963 / @everdrone / @sebCIL / @Indominus-Rexian ,
I was able to recreate the problem on a rather clean system. The failing `config.log` shows:
[code]

This can be fixed by setting the environment variable `OBJECT_MODE`, like so:
[code]

With this environment change, I was able to build uvloop successfully. I have also put some guidance here: https://ibmi-oss-docs.readthedocs.io/en/latest/pyth

[2022-03-16 12:28] sebCIL commented on #444
Great !

[2022-03-16 12:28] #444 closed

[2022-03-22 08:39] Programmierus opened #464 "uvloop closes underlying sockets that were established outside upon end of asyncio.run()"
This seem to be version/OS unrelated. Sample:

[code]

Last line result in exception "OSError: [Errno 9] Bad file descriptor" because sock gets closed right after asyncio.run() terminates. It is wrong behavior, because sock was created outside of asyncio loop and has to be left untouched. The issue doesn't occur using regular asyncio loop.

[2022-04-08 06:42] dimaqq opened #465 "Can't install 0.16.0 on Python3.11"
* **uvloop version**: 0.16.0
* **Python version**: 3.11a6, 3.11a7
* **Platform**: Linux
* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: N/A
* **Does uvloop behave differently from vanilla asyncio? How?**: N/A

[code]

[2022-04-13 06:42] RuofengX commented on #380
It happened on aarch64 linux platform(hardware is NanoPi NEO3) too. I test it by using pypy3.8 and 3.9 to import uvloop, and it says:
[code]

[2022-04-13 06:49] RuofengX commented on #380
It seems like pypy missing some Cfunction.

[2022-04-14 10:04] jalelegenda commented on #356
Having the same problem. Can you expand on this, what does re-cythonizing mean? @tacaswell

[2022-04-18 11:51] kloczek commented on #429
Just tested 0.16.0. Looks like it is a bit better however stil l15 units are failing
[code]

[2022-04-27 02:42] gaby commented on #362
Closing this, since I never got a response and it's been 2 years

[2022-04-27 08:07] wukaka commented on #168
worked!

[2022-04-27 12:13] ShadowJonathan commented on #362
On the note of PyPy support; I think interest would greatly increase once uvloop has become compatible with [hpy](https://hpyproject.org/), which should decrease the overhead of foreign interface interop greatly.

[2022-04-29 01:19] EvertonTomalok commented on #168
It works for me! Thank a lot!

[2022-05-05 20:23] shughes-uk commented on #414
We are seeing this a lot with `asyncio.create_subprocess_exec` . Guincorn + uvicorn workers + uvloop+ websockets

[code]

[2022-05-09 15:26] mattip commented on #380
In PyPy, the `_contextvars` module is pure python. In order to support it from C, PyPy needs to wrap and expose all the [C interfaces](https://docs.python.org/3/c-api/contextvars.html). Currently PyPy exposes only `PyContextVar_New`, `PyContextVar_Set`, `PyContextVar_Get`. Using uvloop on PyPy is probably a bit of a foot gun, since the calls back and forth across the [c emulation layer will be slo

[2022-05-11 10:24] graingert commented on #414
@decorator-factory can you try my patch https://github.com/MagicStack/uvloop/pull/466 ?

[2022-05-11 15:43] shughes-uk commented on #414
Yes I’ll putt this through it’s paces and report back

On Wed, May 11, 2022 at 3:24 AM Thomas Grainger ***@***.***>
wrote:

[2022-05-11 17:12] oktavlachs opened #467 "Missing asyncio feature regarding support of SCTP sockets"
* **uvloop version**: v0.16.0
* **Python version**: 3.10.4
* **Platform**: Linux
Please note that SCTP works only if you have libsctp(-dev) installed on your Linux system. MacOS doesn't support SCTP without further effort and Windows I cannot say, since I don't use WIndows.

* **Can you reproduce the bug with `PYTHONASYNCIODEBUG` in env?**: Please clarify if you expect further output from uvloop i